{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<style>
			h1   {font-family: "Arial";}
			p    {font-family: "Arial";}
			.activate-btn {width: 230px;
							color: #ffffff;
							display: inline-block;
							font-family: helvetica,Arial;
							font-size: 16px;
							line-height: 30px;
							text-align: center;
							font-weight: bold;
							text-decoration: none;}
		</style>
	</head>
	<body>
		<div style="width: 100%; background-color: #f6f6f6; padding-top: 30px; padding-bottom: 30px;">
			<div style="width:80%; margin: 0 auto;">
				<div style='text-align: left; background-image: url("{{ site }}{% static 'img/CC-logo-simplified.png' %}"); background-size: 200px auto; background-repeat: no-repeat; width:200px; height:46.5px;'></div>

				<div style="background-color: #ffffff; margin: 10px auto; padding: 20px">
					<div style="text-align: left;">
						<h1>You are one step closer to activating your ChemCaper<sup>&reg;</sup> license!</h1>
					</div>
					<div style="text-align: justify;">
						<p>Hi <b>{{ masteruser.full_name }}</b>, </p>
						<p>You have just redeemed your ChemCaper<sup>&reg;</sup> redeem code: <b>{{ masteruser.user_id }}</b></p>
						<p>To activate your license, click on the button below.</p>
						<div style="text-align: center; vertical-align: middle; display:table-cell; background-color: rgb(1, 178, 46); width: 230px; height:35px;"><a href="{{ activation_url }}" class="activate-btn">Activate my license</a></div>
						<p><small><i>*Please activate your account within <b>{{ expiration_days }} days</b>.</i></small></p>
						<br>
						{% if masteruser.schooluser %} 
							<p>Once your license is activated, you may download the game from the link(s) below:<br>
								{% for gameplatform in masteruser.gameplatforms.all %}
									{% if gameplatform.download_url %}
										<a href="{{ gameplatform.download_url }}">{{ gameplatform.platform.title }}</a><br>
									{% endif %}
								{% endfor %}
								{% if masteruser.schooluser.game_download_url %}
									<a href="{{ masteruser.schooluser.game_download_url }}">Download</a>
								{% endif %}
							</p>
						{% endif %}
						<br>
						<p>After installing ChemCaper<sup>&reg;</sup>, just launch the game and login using your username (<b>{{ masteruser.username }}</b>) to start playing!</p>
					</div>
				</div>
				<div style="text-align: center; padding-left: 20px; padding-right: 20px;">
					<a href="https://www.facebook.com/chemcaper/" style="display:block; background-image: url('{{ site }}{% static "img/fb.png" %}'); background-size: 25px 25px; background-repeat: no-repeat; width: 25px; height:25px; margin: 20px auto 0px auto;"></a>
					<p><small>Need help? Just drop us an email at support@chemcaper.com</small></p>
				</div>
			</div>
		</div>
	</body>
</html>