{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            h1   {font-family: "Arial";}
            p    {font-family: "Arial";}
            .activate-btn {width: 230px;
                            color: #ffffff;
                            display: inline-block;
                            font-family: helvetica,Arial;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: center;
                            font-weight: bold;
                            text-decoration: none;}
        </style>
    </head>
    <body>
        <div style="width: 100%; background-color: #f6f6f6; padding-top: 30px; padding-bottom: 30px;">
            <div style="width:80%; margin: 0 auto;">
                <div style='text-align: left; background-image: url("{{ site }}{% static 'img/CC-logo-simplified.png' %}"); background-size: 200px auto; background-repeat: no-repeat; width:200px; height:46.5px;'></div>

                <div style="background-color: #ffffff; margin: 10px auto; padding: 20px">
                    <div style="text-align: left;">
                        <h1>{{ schoolname }} requested for more ChemCaper<sup>&reg;</sup> Full Version Trial Licenses</h1>
                    </div>
                    <div style="text-align: justify;">
                        <p>{{ license_request_obj.freefull_accounts_num }} ChemCaper<sup>&reg;</sup> Full Version Trial Licenses to be started on {{ license_request_obj.freefull_start_date|date:'d/m/Y' }}.</p>
                        <p>Please login to the admin panel to approve or decline the request.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>