{% load staticfiles seo_tags %}

{% if meta_tags %}
{% spaceless %}
    {% if meta_tags.og_title %}
        <title>{% metablock %}{{ meta_tags.og_title }}{% endmetablock %}</title>
        <meta property="og:title" itemprop="name" content="{% metablock %}{{ meta_tags.og_title }}{% endmetablock %}">
    {% else %}
        <title>{% metablock %}ChemCaper EDU{% endmetablock %}</title>
        <meta property="og:title" content="{% metablock %}ChemCaper Pilot Program{% endmetablock %}">
    {% endif %}

    {% if meta_tags.og_keywords %}
        <meta property="og:keywords" name="keywords" content="{% metablock %}{{ meta_tags.og_keywords }}{% endmetablock %}">
    {% else %}
        {# Default #}
        <meta name="keywords" content="chemcaper, portal">
    {% endif %}

    {% if meta_tags.og_description %}
        <meta property="og:description" content="{% metablock %}{{ meta_tags.og_description }}{% endmetablock %}">
        <meta name="description" content="{% metablock %}{{ meta_tags.og_description }}{% endmetablock %}">
    {% else %}
        {# Default #}
        <meta property="og:description" content="{% metablock %}Welcome to
              ChemCaper EDU
              {% endmetablock %}">
        <meta name="description" content="{% metablock %}Welcome to
              ChemCaper EDU
              {% endmetablock %}">
    {% endif %}

    {% if meta_tags.og_types %}
        <meta property="og:type" content="{% metablock %}{{ meta_tags.get_og_types_display }}{% endmetablock %}">
    {% endif %}

    {% if meta_tags.og_image %}
        <meta property="og:image" content="{% metablock %}https://{{ request.get_host }}{{ MEDIA_URL }}{% thumbnail meta_tags.og_image.url 1200 1200 %}{% endmetablock %}">
    {% else %}
        <meta property="og:image"
              content="{% metablock %}https://{{ request.get_host }}{% static 'img/carousel-index-2.jpg' %}{% endmetablock %}">
    {% endif %}

    <meta property="og:url" content="{% metablock %}{{ request.build_absolute_uri }}{% endmetablock %}">
{% endspaceless %}

{% comment %}
<meta property="og:image" content="{% metablock %}
{% if object.university.logo %}
    {{ MEDIA_URL }}{% thumbnail object.university.logo.url 1200 1200 %}
{% endif %}
    {% endmetablock %}">


{% endcomment %}
{% endif %}
