{% extends "base.html" %}
{% load i18n staticfiles %}
{% block main %}
    <div id="container">
        <h1>{{ header }}</h1>

        <div id="left">
            <h2>Save Parameters</h2>

            <p>
            <span><label for="masteruser">Master User</label><br></span>
            <span><select id="masteruser">{% for obj in masterusers %}<option value="{{ obj.user_id }}">{{ obj }}</option>{% endfor %}</select></span>
            </p>
            <p>
            <span><label for="game">Game</label><br></span>
            <span><select id="game">{% for obj in games %}<option value="{{ obj.id }}">{{ obj }}</option>{% endfor %}</select></span>
            </p>
            <p>
            <span><label for="platform">Platform</label><br></span>
            <span><select id="platform">{% for obj in platforms %}<option value="{{ obj.id }}">{{ obj }}</option>{% endfor %}</select></span>
            </p>
            <p>
            <span><label for="slot">Slot</label><br></span>
            <span><input id="slot" value="0"></input></span>
            </p>
        </div>


        <div id="right">
            <h2>Actions</h2>
            <h3>Save Game</h3>

            <p>
            <span><label for="json_data">JSON Data</label></span>
            <span><textarea id="json_data" rows='4' cols='50'>{"position": ["1", "2", "9"]}</textarea></span>
            </p>

            <p>
                <span><button id="post_to_savegame">POST Game Save Data</button></span>
                <span id="post_message"></span>
            </p>


            <h3>Load Game</h3>
            <div>
                <button id="loadsavegame">Load Latest Game Save </button>
                <button id="updatejson">Update JSON Data Field Above </button>
            </div>
            <div style="margin-top: 10px; padding: 10px; border: 1px solid grey; width: 80%; height: 20%;" id="save_game_json_data"></div>


            <h3>Backup Successfully Loaded Game Save</h3>
            <div>
                <button id="backupsavegame">Backup Game Save</button>
            </div>
            <span id="backup_message"></span>
        <div>

        <div class="clear"></div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">


$(document).ready(function(){
    /*
        AJAX csrf
    */
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    function get_AuthToken() {
        var masteruser = $('#masteruser').val();
        var credentials = {
          username: "chongeva0710@gmail.com",
          password: "sriemas0987"
        };
        var token_url = "/auth/login/"
        $.post(token_url, credentials, function(auth){
            if (auth.auth_token) {
                auth_token = auth.auth_token;
            }
        });
    }

    var auth_token = get_AuthToken();


    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            }
            xhr.setRequestHeader("Authorization", "Token " + auth_token);
        }
    });

    var json_data_value = $('#json_data').val();

    function savegame () {
        var json_data = $('#json_data').val();
        var masteruser = $('#masteruser').val();
        var platform = $('#platform').val();
        var game = $('#game').val();
        var slot = $('#slot').val();

        var para = {"masteruser"   : masteruser,
                    "platform"     : platform,
                    "game"         : game,
                    "slot"         : slot,
                    "data_version" : "1.0",
                    "json_data"    : json_data,
                    "is_active"    : true,
                    };

        var form_action = "/api/gamesave/perform_save/"
        $.post(form_action, para, function(response){
            $("#post_message").html(response);
        });
    }

    $('#post_to_savegame').on('click', savegame);


    function loadsavegame () {
        var masteruser = $('#masteruser').val();
        var platform = $('#platform').val();
        var game = $('#game').val();
        var slot = $('#slot').val();

        var para = {'masteruser': masteruser,
                    "game"      : game,
                    "slot"      : slot,
                };

        var form_action = "/api/gamesave/load_save/"
        $.post(form_action, para, function(response){
            if(response["success"]) {
                var html = "Latest data : " + JSON.stringify(response["data"]) + "<\/br>Previous data : " + JSON.stringify(response["prev_data"])
                json_data_value = JSON.stringify(response["data"]);
            } else {
                var html = "Error : " + response["error"]
            }

            $("#save_game_json_data").html(html);
        });
    }

    $('#loadsavegame').on('click', loadsavegame);

    function updatejson () {
        $('#json_data').val(json_data_value);
    }

    $('#updatejson').on('click', updatejson);


    function backupsavegame () {
        var masteruser = $('#masteruser').val();
        var platform = $('#platform').val();
        var game = $('#game').val();
        var slot = $('#slot').val();

        var para = {'masteruser' : masteruser,
                    "game"       : game,
                    "slot"       : slot,
                };

        var form_action = "/api/gamesave/load_success_backup_save/"
        $.post(form_action, para, function(response){
            if(response["success"]) {
                var html = JSON.stringify(response["message"]);
            } else {
                var html = "Error : " + response["message"]
            }

            $("#backup_message").html(html);
        });
    }

    $('#backupsavegame').on('click', backupsavegame);
});

</script>
{% endblock %}