{% extends "base.html" %}
{% load i18n staticfiles %}

{% block container_id %}thankyou-content{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6 content-left">
            <h1>Thank You</h1>
            <h3>Your request is submitted. Give us a few moments to get back to you.</h3>
            <h3>Meanwhile, you can try to check out our Facebook page and our game in Playstore or Appstore</h3>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}