{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{# {% block title %}Register for a Trial{% endblock %} #}

{% block main %}
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'register_trial' %}" method="post" id="register-trial-form">
                {% csrf_token %}
                <h2>Request Form</h2>

                <div class="clearfix">
                    <div class="line">
                        {% for i in form.fieldsets %}
                        <div class="circle" data-page="{{ forloop.counter }}"></div>
                        {% endfor %}
                    </div>
                </div>

                {{ form|render }}
            </form>
        </div>
        <div class="col-md-6">

        </div>
    </div>
{% endblock %}