{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{# {% block pagetitle %}Request for Additional License{% endblock %} #}
{% block container_id %}request_additional_license{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6 content-left">
            <form action="{% url 'request_additional_license' %}" method="post" id="request_additional_license_form">
                {% csrf_token %}
                <h2>Request for Additional Licenses</h2>

                {{ form|render }}
            </form>
        </div>
        <div class="col-md-6 content-right">

        </div>
    </div>
{% endblock %}