{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{# {% block title %}Register for a Trial{% endblock %} #}
{% block container_id %}request_program_extension{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-6 content-left">
            <form action="{% url 'request_program_extension' %}" method="post" id="request_program_extension_form">
                {% csrf_token %}
                <h2>Request for Program Extension</h2>

                {{ form|render }}
            </form>
        </div>
        <div class="col-md-6 content-right">

        </div>
    </div>
{% endblock %}