{% load i18n staticfiles form_utils %}
<div id="tab_full_accounts" class="container-fluid tab-pane fade in active">
    <div class="row">
        {# START full license numbers #}
        <div class="col-md-12 license-numbers-container">
            <ul class="license-numbers">
                <li class="first">
                    <span class="license-numbers-title">Licenses</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_full_accounts.count }}</span>
                </li>
                <li class="invited">
                    <span class="license-numbers-title"><span class="fa fa-envelope-o"></span> Invited</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_full_accounts_invited.count }}</span>
                </li>
                <li class="activated">
                    <span class="license-numbers-title"><span class="fa fa-check"></span> Activated</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_full_accounts_activated.count }}</span>
                </li>
                <li class="last">
                    <span class="license-numbers-title">Remaining</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_full_accounts_remaining.count }}</span>
                </li>
            </ul>
        </div>
        {# END full license numbers #}
    </div>


    <div class="row">
        {# START full license buttons #}
        <div class="col-md-12 container-fluid license-buttons-container">
            <div class="col-md-8 btn-md-left-container">
                <button type="button" class="btn btn-yellow btn-md-left">BUY MORE LICENSES (COMING SOON)</button>
            </div>
            <div class="col-md-4 btn-md-right-container">
                <button type="button" class="btn btn-green btn-show-green-arrow btn-md-right" data-toggle="collapse" data-target="#request-full-form">REQUEST FOR MORE TRIAL LICENSES</button>
            </div>
        </div>
        {# END full license buttons #}
    </div>


    <div class="row collapse" id="request-full-form">
        <div class="col-md-12 container-fluid form-container">
            {% if allow_freefull_request %}
                {% with form=request_freefull_form form_id="request_freefull_form" %}
                    {% include 'users/includes/request_more_freefull_form.html' %}
                {% endwith %}
            {% else %}
                Please wait at least 24 hours for our team to approve your latest request.
            {% endif %}
        </div>
    </div>


    <div class="row">
        {# START full license table #}
        <div class="container-fluid license-table" id="full_license_table">
            <div class="tab-content">
                <div class="license-header-row col-md-12">
                    <div class="license-header-cell col-xs-1">
                    </div>
                    <div class="license-header-cell col-xs-3">
                        Full Name
                    </div>
                    <div class="license-header-cell col-xs-4">
                        Email
                    </div>
                    <div class="license-header-cell col-xs-3">
                        Username
                    </div>
                    <div class="license-header-cell col-xs-1">
                    </div>
                </div>

                {% for page, masterusers in full_accounts %}
                <div id="full_page_{{ page }}" class="tab-pane fade in {% if page == 1 %}active{% endif %}">
                    {% for masteruser in masterusers %}
                        {% if masteruser.full_name and masteruser.email %}
                            <div class="license-row col-md-12">
                                <div class="license-cell license-cell-toggle-collapse col-xs-1 first" data-toggle="collapse" data-target="#moreinfo-masteruser-{{ masteruser.id }}">
                                    <i class="fa fa-chevron-up glyphicon"></i>
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {{ masteruser.full_name }}
                                </div>
                                <div class="license-cell  col-xs-4">
                                    {{ masteruser.email }}
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {% firstof masteruser.username masteruser.user_id %}
                                </div>
                                <div class="license-cell  col-xs-1 last">
                                    {% if not masteruser.auth_user.is_active %}
                                        <a href="{% url 'send_invite_license_email' %}?email={{ masteruser.email }}" data-toggle="ajax_button"><span class="fa fa-envelope-o"></span></a>
                                    {% endif %}
                                </div>
                            </div>

                            <div id="moreinfo-masteruser-{{ masteruser.id }}" class="collapse license-moreinfo col-xs-12">
                                <div class="license-moreinfo-cell col-xs-1">
                                </div>
                                <div class="license-moreinfo-cell  col-xs-6">

                                    <span>Role: {{ masteruser.get_role_display }}</span>
                                    {% if masteruser.trial_end_date %}
                                    <br>
                                    <span>Expires on: {{ masteruser.trial_end_date|date:"d/m/Y" }}</span>
                                    {% endif %}

                                </div>
                                <div class="license-moreinfo-cell  col-xs-5">
                                    {% if not masteruser.auth_user.is_active and masteruser.email %}
                                        <a href="{% url 'cancel_invitation' %}?code={{ masteruser.user_id }}" class="btn btn-red" id="btn-cancel-invitation" data-toggle="ajax_modal">
                                            CANCEL INVITATION
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-1">
                                </div>

                                <div class="license-cell  col-xs-7">
                                    Pending Invitation
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {% firstof masteruser.username masteruser.user_id %}
                                </div>
                                <div class="license-cell  col-xs-1 last">
                                    {% if not masteruser.auth_user.is_active %}
                                        <a href="#tab_single_invite_full_tag" class="license-cell-invite-btn" data-tabtarget="#tab_single_invite_full" data-userid="{{ masteruser.user_id }}">
                                        {# <a data-toggle="tab" href="#tab_single_invite_full_tag"> #}
                                            <i class="fa fa-user"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                    {% empty %}
                        {% if search_query %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-12">
                                Sorry, there are no Full Version Licenses that contains "{{ search_query }}" in the username and/or email.
                                </div>
                            </div>
                        {% else %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-12">
                                    Sorry, you don't have any Full Version Licenses
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}

                <nav aria-label="Full License Pages" class="pagination-nav">
                  <ul class="pagination" id="full_license_pagination" data-totalpages="{{ full_accounts_pages }}" data-pagesuffix="full_page_">
                    <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-prev" href="#" data-gotopage=""><</a></li>

                    <li class="page-item-concat-left">
                        <a class="btn-page-concat-left" href="#">...</a>
                    </li>
                    {% for i in full_accounts_pagerange %}
                        <li class="page-item {% if i == 1 %}active{% endif %} {% if i > 3 %}hide{% endif %}" data-page="{{ i }}">
                            <a data-toggle="tab" class="btn-page" href="#full_page_{{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item-concat-right">
                        <a class="btn-page-concat-right" href="#">...</a>
                    </li>

                    <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-next" href="#" data-gotopage="">></a></li>
                  </ul>
                </nav>
            </div>
        </div>
        {# END full license table #}
    </div>


    <div class="row">
        {# START full license invite #}
        <div class="col-xs-12 invite-container">
            <ul class="nav nav-pills nav-pills-green invite-buttons-container">
                <li class="pull-left btn-xs-left-container">
                    <a data-toggle="tab" href="#tab_single_invite_full" id="toggle_tab_single_invite_full" class="btn btn-green btn-xs-left">
                        SINGLE INVITE
                    </a>
                </li>
                <li class="pull-left btn-xs-right-container">
                    <a data-toggle="tab" href="#tab_bulk_invite_full" class="btn btn-green btn-xs-right">
                        BULK INVITE
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tab_single_invite_full" class="tab-pane fade in">
                    <form action="{% url 'invite_license' %}?type=full&schooluser={{ object.id }}" method="post" id="full_form">
                        {% csrf_token %}
                        {{ full_form.schooluser }}
                        {{ full_form.is_trial }}
                        {{ full_form.user_id }}
                        <div class="row">
                            <div class="col-xs-4 form-title">Full Name</div>
                            <div class="col-xs-8 form-input-container">{{ full_form.full_name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 form-title">Email</div>
                            <div class="col-xs-8 form-input-container">{{ full_form.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 form-title">Role</div>
                            <div class="col-xs-8 form-input-container">
                                {{ full_form.role }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 form-submit-btn-container"><button type="button" class="btn btn-lightgrey btn-cancel-invite">CANCEL</button></div>
                            <div class="col-xs-9 form-submit-btn-container"><input class="btn btn-green btn-send-invite" type="submit" value="SEND INVITATION" /></div>
                        </div>
                    </form>
                </div>

                <div id="tab_bulk_invite_full" class="tab-pane fade in">
                    {% with form=full_csv_form form_id="full_csv_form" %}
                        {% include 'users/includes/upload_csv.html' %}
                    {% endwith %}
                </div>
            </div>
            <a name="tab_single_invite_full_tag"></a>
        </div>
        {# END full license invite #}
    </div>


    {# {% if request.user.is_superuser %} #}
    <div class="row" id="export-csv-container">
        <div class="col-md-4 form-input-container">
            <a href="{% url 'export_licenses_as_csv' 'full' %}" class="btn btn-default">Export as CSV</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'gamesession_csv_export' %}" class="btn btn-default">Export Game Session Data as CSV</a>
        </div>
    </div>
    {# {% endif %} #}

</div>