{% load i18n staticfiles form_utils %}


<div id="tab_trial_accounts" class="container-fluid tab-pane fade in">
    <div class="row">
        {# START trial license numbers #}
        <div class="col-md-12 license-numbers-container">
            <ul class="license-numbers">
                <li class="first">
                    <span class="license-numbers-title">Licenses</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_trial_accounts.count }}</span>
                </li>
                <li class="invited">
                    <span class="license-numbers-title"><span class="fa fa-envelope-o"></span> Invited</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_trial_accounts_invited.count }}</span>
                </li>
                <li class="activated">
                    <span class="license-numbers-title"><span class="fa fa-check"></span> Activated</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_trial_accounts_activated.count }}</span>
                </li>
                <li class="last">
                    <span class="license-numbers-title">Remaining</span>
                    <br>
                    <span class="license-numbers-number">{{ object.get_trial_accounts_remaining.count }}</span>
                </li>
            </ul>
        </div>
        {# END trial license numbers #}
    </div>

    <div class="row">
        {# START trial license buttons #}
        <div class="col-md-12 container-fluid license-buttons-container">
            <div class="col-md-8 btn-md-left-container">
                <button type="button" class="btn btn-yellow btn-md-left">BUY MORE LICENSES (COMING SOON)</button>
            </div>

            <div class="col-md-4 btn-md-right-container">
                <button type="button" class="btn btn-green btn-show-green-arrow btn-md-right" data-toggle="collapse" data-target="#request-demo-form">REQUEST FOR MORE TRIAL LICENSES</button>
            </div>
        </div>
        {# END trial license buttons #}
    </div>

    <div class="row collapse" id="request-demo-form">
        <div class="col-md-12 container-fluid form-container">
            {% if allow_demo_request %}
                {% with form=request_demo_form form_id="request_demo_form" %}
                    {% include 'users/includes/request_more_demo_form.html' %}
                {% endwith %}
            {% else %}
                Please wait at least 24 hours for our team to approve your latest request.
            {% endif %}
        </div>
    </div>

    <div class="row">
        {# START trial license table #}
        <div class="container-fluid license-table" id="trial_license_table">
            <div class="tab-content">
                <div class="license-header-row col-md-12">
                    <div class="license-header-cell col-xs-1">
                    </div>
                    <div class="license-header-cell col-xs-3">
                        Full Name
                    </div>
                    <div class="license-header-cell col-xs-4">
                        Email
                    </div>
                    <div class="license-header-cell col-xs-3">
                        Username
                    </div>
                    <div class="license-header-cell col-xs-1">
                    </div>
                </div>

                {% for page, masterusers in trial_accounts %}
                <div id="trial_page_{{ page }}" class="tab-pane fade in {% if page == 1 %}active{% endif %}">
                    {% for masteruser in masterusers %}
                        {% if masteruser.full_name and masteruser.email %}
                            <div class="license-row col-md-12">
                                <div class="license-cell license-cell-toggle-collapse col-xs-1 first" data-toggle="collapse" data-target="#moreinfo-masteruser-{{ masteruser.id }}">
                                    <i class="fa fa-chevron-up glyphicon"></i>
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {{ masteruser.full_name }}
                                </div>
                                <div class="license-cell  col-xs-4">
                                    {{ masteruser.email }}
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {% firstof masteruser.username masteruser.user_id %}
                                </div>
                                <div class="license-cell  col-xs-1 last">
                                    {% if not masteruser.auth_user.is_active %}
                                        <a href="{% url 'send_invite_license_email' %}?email={{ masteruser.email }}" data-toggle="ajax_button"><span class="fa fa-envelope-o"></span></a>
                                    {% endif %}
                                </div>
                            </div>

                            <div id="moreinfo-masteruser-{{ masteruser.id }}" class="collapse license-moreinfo col-xs-12">
                                <div class="license-moreinfo-cell col-xs-1">
                                </div>
                                <div class="license-moreinfo-cell  col-xs-6">
                                    <span>Role: {{ masteruser.get_role_display }}</span>
                                    {% if masteruser.trial_end_date %}
                                    <br>
                                    <span>Expires on: {{ masteruser.trial_end_date|date:"d/m/Y" }}</span>
                                    {% endif %}
                                </div>
                                <div class="license-moreinfo-cell  col-xs-5">
                                    {% if not masteruser.auth_user.is_active and masteruser.email %}
                                        <a href="{% url 'cancel_invitation' %}?code={{ masteruser.user_id }}" class="btn btn-red" id="btn-cancel-invitation" data-toggle="ajax_modal">
                                            CANCEL INVITATION
                                        </a>
                                    {% endif %}
                                    {% if masteruser.sitting_set.all %}
                                        <a href="{% url 'trialaccount_report' masteruser.user_id %}" class="btn btn-green pull-right">
                                            VIEW REPORT
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-1">
                                </div>

                                <div class="license-cell  col-xs-7">
                                    Pending Invitation
                                </div>

                                <div class="license-cell  col-xs-3">
                                    {% firstof masteruser.username masteruser.user_id %}
                                </div>
                                <div class="license-cell  col-xs-1 last">
                                    {% if not masteruser.auth_user.is_active %}
                                        <a href="#tab_single_invite_trial_tag" class="license-cell-invite-btn" data-tabtarget="#tab_single_invite_trial">
                                        {# <a data-toggle="tab" href="#tab_single_invite_trial_tag"> #}
                                            <i class="fa fa-user"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                    {% empty %}
                        {% if search_query %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-12">
                                    Sorry, there are no Demo Version Licenses that contains "{{ search_query }}" in the username and/or email.
                                </div>
                            </div>
                        {% else %}
                            <div class="license-row license-row-na col-md-12">
                                <div class="license-cell col-xs-12">
                                Sorry, you don't have any Demo Version Licenses
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}

                <nav aria-label="Full License Pages" class="pagination-nav">
                  <ul class="pagination" id="trial_license_pagination" data-totalpages="{{ trial_accounts_pages }}" data-pagesuffix="trial_page_">
                    <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-prev" href="#" data-gotopage=""><</a></li>

                    <li class="page-item-concat-left">
                        <a class="btn-page-concat-left" href="#">...</a>
                    </li>
                    {% for i in trial_accounts_pagerange %}
                        <li class="page-item {% if i == 1 %}active{% endif %} {% if i > 3 %}hide{% endif %}" data-page="{{ i }}">
                            <a data-toggle="tab" class="btn-page" href="#trial_page_{{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item-concat-right">
                        <a class="btn-page-concat-right" href="#">...</a>
                    </li>

                    <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-next" href="#" data-gotopage="">></a></li>
                  </ul>
                </nav>
            </div>
        </div>
        {# END trial license table #}
    </div>

    <div class="row">
        {# START trial license invite #}
        <div class="col-xs-12 invite-container">
            <ul class="nav nav-pills nav-pills-green invite-buttons-container">
                <li class="pull-left btn-xs-left-container">
                    <a data-toggle="tab" href="#tab_single_invite_trial" class="btn btn-green btn-xs-left">
                        SINGLE INVITE
                    </a>
                </li>
                <li class="pull-left btn-xs-right-container">
                    <a data-toggle="tab" href="#tab_bulk_invite_trial" class="btn btn-green btn-xs-right">
                        BULK INVITE
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tab_single_invite_trial" class="tab-pane fade in">
                    <form action="{% url 'invite_license' %}?type=trial&schooluser={{ object.id }}" method="post" id="trial_form">
                        {% csrf_token %}
                        {{ trial_form.schooluser }}
                        {{ trial_form.is_trial }}
                        <div class="row">
                            <div class="col-xs-4 form-title">Full Name</div>
                            <div class="col-xs-8 form-input-container">{{ trial_form.full_name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 form-title">Email</div>
                            <div class="col-xs-8 form-input-container">{{ trial_form.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 form-title">Role</div>
                            <div class="col-xs-8 form-input-container">
                                {{ trial_form.role }}
                                {# <input type="radio" name="role" value="student" class="role" checked>Student #}
                                {# <input type="radio" name="role" value="teacher" class="role">Teacher #}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 form-submit-btn-container"><button type="button" class="btn btn-lightgrey btn-cancel-invite">CANCEL</button></div>
                            <div class="col-xs-9 form-submit-btn-container"><input class="btn btn-green btn-send-invite" type="submit" value="SEND INVITATION" /></div>
                        </div>
                    </form>
                </div>

                <div id="tab_bulk_invite_trial" class="tab-pane fade in">
                    {% with form=trial_csv_form form_id="trial_csv_form" %}
                        {% include 'users/includes/upload_csv.html' %}
                    {% endwith %}
                </div>
            </div>
            <a name="tab_single_invite_trial_tag"></a>
        </div>
        {# END trial license invite #}
    </div>

    {% if request.user.is_superuser %}
    <div class="container-fluid" id="export-csv-container">
        <hr>
        {% if object.get_trial_accounts_left > 0 %}
        <div class="row">
            <div class="col-md-8 form-input-container" style="color:white;">
                Generate <input type="number" style="color:black; width: 50px;" max="{{ object.get_trial_accounts_left }}" value="{{ object.get_trial_accounts_left }}" id="input_num_to_generate_trial"> Licenses <a href="" data-href="{% url 'generate_licenses' 'trial' %}?schooluser={{ object.email }}" class="btn btn-default" id="btn_generate_trial">OK</a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 form-input-container">
                <a href="{% url 'export_licenses_as_csv' 'trial' %}" class="btn btn-default">Export as CSV</a>
            </div>
        </div>
        <a href="{% url 'gamesession_csv_export' %}" class="btn btn-default">Export Game Session Data as CSV</a>
    </div>
    {% endif %}

</div>
