{% extends "base.html" %}
{% load i18n staticfiles form_utils djmoney %}

{% block body_class %}home-body extra-padding{% endblock %}
{% block container_id %}buy_success{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li{% if request.path == cart_url %} class="active"{% endif %}>
    <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
</li>
{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="col-sm-12 text-center">
            <h1>Thank You</h1>

            <p>Thank you for submitting your payment receipt.</p>
            <p>Your ChemCaper<sup>&reg;</sup> EDU licenses will be generated within 3 working days.</p>


            <p>You can go to your <a href="{% url 'schooluser_management' %}">dashboard</a> to manage your licenses.</p>

            <p>Do contact us if you have any enquiries.</p>
            
            <a href="{% url 'store' %}">Back to Store</a>
        </div>
    </div>

{% endblock %}