{% extends "base.html" %}
{% load i18n staticfiles form_utils djmoney %}

{% block body_class %}home-body{% endblock %}
{% block container_id %}buy_success{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li{% if request.path == cart_url %} class="active"{% endif %}>
    <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
</li>
{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="col-sm-12">
            <h2>Thank You</h2>

            <p>Thank you for buying ChemCaper<sup>&reg;</sup> licenses.</p>
            <p>You can go to your <a href="{% url 'schooluser_management' %}">dashboard</a> to manage your licenses.</p>

            <a href="{% url 'store' %}">Back to Store</a>
        </div>
    </div>

{% endblock %}