{% extends "base.html" %}
{% load i18n staticfiles form_utils djmoney %}

{% block body_class %}user-body{% endblock %}
{% block container_id %}cart-page{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li{% if request.path == cart_url %} class="active"{% endif %}>
    <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
</li>
{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2>My Cart</h2>

                <div id="cart_table">
                {% with cartitems=cart_table.cartitems grandtotal=cart_table.grandtotal  %}
                    {% include 'store/includes/cart_table.html' %}
                {% endwith %}
                </div>

                <div class="pull-right text-center">
                    <div class="btn btn-success" id="btn_cart_attach_receipt" style="position: relative; float: left;">Attach Payment Receipt</div>
                    <div style="position: relative; float: left; margin-left: 10px; padding-top: 5px;">OR</div>
                    <div id="paypal-button" style="position: relative; float: left; margin-left: 10px;"></div>
                </div>
                <div>
                    <a href="{% url 'store' %}">Back to Store</a>
                </div>
            </div>
        </div>
        
        <div id="attach_payment_receipt_section">
        <hr>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Attach Payment Receipt</h3>
                <form class="text-center" action="{% url 'store_attach_payment_receipt' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ attach_payment_receipt_form|render }}
                </form>

                
            </div>
        </div>
        </div>
    </div>

{% endblock %}