<form class="hide">
    {% for item in cartitems %}
        <input name="name-{{ item.id }}" id="name-{{ item.id }}" type="text" value="{{ item.product.title }}">
        <input name="price-{{ item.id }}" id="price-{{ item.id }}" type="text" value="{{ item.product.price.amount }}">
        <input name="currency-{{ item.id }}" id="currency-{{ item.id }}" type="text" value="{{ item.product.price.currency }}">
        <input name="quantity-{{ item.id }}" id="quantity-{{ item.id }}" type="number" value="{{ item.qty }}">
        <input name="description-{{ item.id }}" id="description-{{ item.id }}" type="text" value="{{ item.id }}">
    {% endfor %}
    <input id="custom" type="text" value="{{ request.user.username }}">
    <input id="amount_total" type="text" value="{{ grandtotal.amount }}">
    <input id="amount_currency" type="text" value="{{ grandtotal.currency }}">
</form>