{% extends "base.html" %}
{% load i18n staticfiles form_utils %}

{% block body_class %}home-body{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li>
    {% if request.user.is_authenticated %}
        <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
    {% else %}
        <a href="{% url 'signup_login' %}" data-toggle="ajax_modal"><i class="fa fa-shopping-cart"></i></a>
    {% endif %}
</li>
{% endblock %}

{% block banner %}
    <div class="banner" style="background-image: url('../../../../static/img/cc_awards.jpg');">
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>CHEMCAPER<sup>&reg;</sup> EDU STORE</h1>
                <h3>We love to see teachers inspiring and engaging students in their classrooms!</h3>
                <h3>Thank you for your continuing faith in ChemCaper<sup>&reg;</sup>!</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="row">
                {% for product in storeproducts %}
                <div class="col-sm-4">
                    <form action="{% url 'add_to_cart' %}" method="post">
                        {% csrf_token %}
                        <strong>{{ product.title }}</strong>
                        <br>
                        {{ product.get_formatted_price }}
                        <br>
                        <input type="number" id="input_buy_count" name="qty" value="1" min='1'>
                        <br>
                        <input name="product" value="{{ product.id }}" type="hidden">
                        {% if request.user.is_authenticated %}
                            <button class="btn btn-yellow" type="submit">Add to cart</button>
                        {% else %}
                            <a href="{% url 'signup_login' %}" class="btn btn-yellow" data-toggle="ajax_modal">Add to cart</a>
                        {% endif %}
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}