{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{% block title %}{% endblock %}

{% comment %}
{% block main %}
<div class="row">
    <div class="col-md-6">
        <div id="quiz-complete">
            <h3 class="quiz-complete-content">Thank you for completing the<br>{{ quiz.title }}</h3>
            <p class="quiz-complete-content">You may now return to the game.</p>
            <center><a href="uniwebview://donequiz" class="btn btn-success">Okay</a></center>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

{% endblock %}
{% endcomment %}

{% block main %}
<div class="row form-centered">
    <div class="col-md-12">
        <div id="quiz-complete">
            <h3 class="quiz-complete-content">Thank you for completing the<br>{{ quiz.title }}</h3>
            <p class="quiz-complete-content">You may now return to the game.</p>
            {% if not browsermode %}<center><a href="uniwebview://donequiz" class="btn btn-lg btn-success">Okay</a></center>{% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}