{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{% block title %}{{ quiz.title }}{% endblock %}
{% block header %}{% endblock %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        {% if not complete %}
        <form method="post" id="quiz-sitting-form" class="form-centered form-quiz-sitting alt">
            {% csrf_token %}
            <!-- <h2>{{ quiz.title }}</h2> -->

            <input name="masteruser" type="hidden" value="{{ token_str }}">
            <input name="trialgamesave" type="hidden" value="{% if trialgamesave %}{{ trialgamesave.id }}{% endif %}">
            {% for question in quiz.question_set.all %}
            <fieldset data-page="{{ forloop.counter }}">
                <div class="question_container">
                    <div class="row question_row">
                        <div class="col-xs-4">
                            {% if question.image %}
                            {# <div class='image_container'> #}
                                {# <img src="{{ question.image.url }}" data-toggle="cc_modal" data-target="#quizModal" class="question_image"> #}
                                <img src="{{ question.image.url }}" class="question_image">
                            {# </div> #}
                            {% endif %}
                        </div>

                        <div class="col-xs-8 speech-bubble">
                            <div class="question_header">
                                <!-- {{ forloop.counter }}) --> {{ question.content }}
                            </div>
                        </div>
                    </div>



                    {% comment %}
                    {% if question.id in empty_error %}
                    <br><span>Please answer this question</span>
                    {% endif %}
                    {% endcomment %}


                    {% if question.q_type == 1 %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="question_text">
                                    <input type="text" name="question_{{ question.order }}_pk_{{ question.id }}">
                                </div>
                            </div>
                        </div>

                    {% elif question.q_type == 2 %}
                        
                        {% for answer in question.answerchoice_set.all %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="question_radio_container row">
                            {% endif %}
                                <div class="col-sm-3 col-xs-6">
                                    <div class="question_radio">
                                        <input type="radio" name="question_{{ question.order }}_pk_{{ question.id }}" id="question_{{ question.order }}_pk_{{ question.id }}_answer_{{ answer.id }}" value="{{ answer.id }}">
                                        <label for="question_{{ question.order }}_pk_{{ question.id }}_answer_{{ answer.id }}">
                                            {{ answer.content }}
                                            {% if answer.image %}
                                                <div class='image_container'>
                                                    <img src="{{ answer.image.url }}" class="answer_image">
                                                    {# <img src="{{ answer.image.url }}" data-toggle="cc_modal" data-target="#quizModal" class="answer_image"> #}
                                                </div>
                                            {% endif %}

                                        </label>
                                    </div>
                                </div>
                            {% if forloop.counter|divisibleby:4 %}
                                </div>
                            {% endif %}
                        {% endfor %}


                    {% elif question.q_type == 3 %}
                        {% for answer in question.answerchoice_set.all %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="question_checkbox_container row">
                            {% endif %}
                            <div class="col-sm-3 col-xs-6">
                                <div class="question_checkbox">
                                    <input type="checkbox" name="question_{{ question.order }}_pk_{{ question.id }}" id="question_{{ question.order }}_pk_{{ question.id }}_answer_{{ answer.id }}" value="{{ answer.id }}">
                                    <label for="question_{{ question.order }}_pk_{{ question.id }}_answer_{{ answer.id }}">
                                        {{ answer.content }}
                                        {% if answer.image %}
                                            <div class='image_container'>
                                                <img src="{{ answer.image.url }}" class="answer_image">
                                                {# <img src="{{ answer.image.url }}" data-toggle="cc_modal" data-target="#quizModal" class="answer_image"> #}
                                            </div>
                                        {% endif %}

                                    </label>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        

                    {% elif question.q_type == 4 %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="canvasDiv" data-qid="{{ question.id }}"></div>
                                {# <div class="btn btn-primary" id="canvasSubmitBtn">Submit Signature</div> #}
                                <div class="btn btn-default canvasClearBtn" data-qid="{{ question.id }}">Clear Drawing</div>

                                {# Data URL for your signature will go here! #}
                                <textarea class="form-control hide canvasDataUrl" data-qid="{{ question.id }}" rows="10" name="question_{{ question.order }}_pk_{{ question.id }}"></textarea>

                                {# <img id="canvasCompletedImage" src="" alt="Your signature will go here!"/> #}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </fieldset>
            {% endfor %}
            <input type="hidden" name="browsermode" value="{% if browsermode %}1{% else %}0{% endif %}">
          <button class="btn-form-prev btn">PREV</button>
          <button class="btn-form-next btn">NEXT</button>
          <button type="submit" class="btn btn-form-submit" id="quiz-submit"></button>
        </form>
        {% else %}
            <h2 style="text-align:center;">{{ message }}</h2>
            {% if not browsermode %}<center><a href="uniwebview://donequiz" class="btn btn-lg btn-success">Okay</a></center>{% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}


{% block footer %}
<!-- Modal -->
<div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn btn-sm btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="quizModalLabel">Test header</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}