{% extends "modal_template.html" %}
{% load i18n form_utils %}

{% block modal_title %}<h2>{% trans 'Cancel Invitation' %}</h2>{% endblock %}

{% block modal_body_content %}
<form action="{% url 'cancel_invitation' %}?code={{ code }}" method="post">
    {% csrf_token %}
    <p>{{ message }}</p>
</form>
{% endblock %}

{% block modal_buttons %}
{% if not cancel_success %}
<input id="modalformsubmit" type="button" class="btn btn-red pull-right" value="CANCEL INVITATION" />
{% endif %}
{% endblock %}