{% extends "modal_template.html" %}
{% load i18n form_utils %}

{% block modal_title %}<h2>{% trans 'Invite a User' %}</h2>{% endblock %}

{% block modal_body_content %}
<form action="{% url 'invite_license' license.user_id %}" class="invite-license-modal-form" method="post">
    {% csrf_token %}
    <h3>{{ license.is_trial|yesno:"Demo,Full" }} License</h3>
    {% if masteruser.trial_end_date %}
        <h4>Expires on: {{ masteruser.trial_end_date|date:"d/m/Y" }}</h4>
    {% endif %}

    {{ form|render }}
</form>
{% endblock %}

{% block modal_buttons %}
<input id="modalformsubmit" class="btn btn-success pull-right" value="Submit" />
{% endblock %}

{% block modal_close_buttons %}{% endblock %}