{% extends "modal_template.html" %}
{% load i18n form_utils %}

{% block modal_title %}<h2>{% trans 'Invitation is successful' %}</h2>{% endblock %}

{% block modal_body_content %}
<h3>Invited {{ full_name }} successfully</h3>
{% endblock %}

{% block modal_buttons %}
{% endblock %}