{% load i18n form_utils %}

<p>
{% if masteruser.last_activity %}
    Last Activity: {{ masteruser.get_last_activity }} ago
{% else %}
    {% if masteruser.auth_user.is_active %}
        License is activated but has not logged in before.
    {% else %}
        License is not activated yet.
    {% endif %}
{% endif %}
</p>

<div>
    {% if not masteruser.last_activity and not masteruser.auth_user.is_active %}
        <div class="license_update_form_container" data-href="{% if masteruser.is_trial %}{% url 'trialaccount_update_username_email' masteruser.id %}{% else %}{% url 'fullaccount_update_username_email' masteruser.id %}{% endif %}">
        </div>
    {% else %}
        <p>Username: {{ masteruser.username }}</p>
        <p>Email: {{ masteruser.email }}</p>
    {% endif %}
</div>

{% if masteruser.last_activity %}
    <div class="panel panel-default">
    {% for report_obj in masteruser.show_report %}
        <div class="panel-body">
            <h4>{{ report_obj.quiz }}</h4>
            {% for q_data in report_obj.report %}
                <p><strong>
                    {{ forloop.counter }}. {{ q_data.question }}
                </strong></p>
                {% if q_data.question.q_type == 1 %}
                    {% for a_data in q_data.answers %}
                        <p>
                            {{ a_data.answer }} ({{ a_data.count }}/{{ report_obj.sittings }})
                        </p>
                    {% endfor %}
                {% elif q_data.question.q_type == 2 or q_data.question.q_type == 3 %}
                    <ul>
                    {% for a_data in q_data.answers %}
                        <li>
                            {{ a_data.answer.content }} ({{ a_data.count }}/{{ report_obj.sittings }})
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div style="position:relative;">
                    {% for a_data in q_data.answers %}
                        <img src="{{ a_data.answer.url }}" style="position:{% if forloop.first %}relative{% else %}absolute{% endif %}; z-index: {{ forloop.counter }}; top: 0; left: 0; opacity: 0.2; filter: alpha(opacity=20);">
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endif %}

{% comment %}
{% for sitting in masteruser.sitting_set.all %}
<div class="panel panel-default">
    <div class="panel-body">
    {% for data in sitting.show_answers %}
        <p>{{ data.order }}. {{ data.question }}</p>
        {% if data.question.q_type == 1 %}
            {% if data.is_correct %}
                <p style="color:green">{{ data.answer }}</p>
            {% else %}
                <p style="color:red">{{ data.answer }} <i class="fa fa-times"></i></p>
                <p>{{ data.question.answer_text }} <i class="fa fa-check"></i></p>
            {% endif %}
        {% elif data.question.q_type == 2 or data.question.q_type == 3 %}
            <ul>
            {% for a in data.question.answerchoice_set.all %}
                <li style="{% if a.is_correct_answer %}color:green;{% elif a.id in data.answer and not a.is_correct_answer %}color:red;{% endif %}">
                    {{ a.content }}
                    {% if a.id in data.answer %} <span class="label label-warning">Chosen</span>{% endif %}
                    {% if a.is_correct_answer %} <i class="fa fa-check"></i>
                    {% elif a.id in data.answer and not a.is_correct_answer %} <i class="fa fa-times"></i>{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% elif data.question.q_type == 4 %}
            <p>{% if data.answer %}<img src="{{ data.answer.url }}">{% endif %}</p>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endcomment %}