{% load i18n form_utils %}

<form action="{% url 'request_more_demo' %}" method="post" id="{{ form_id }}" data-redirect="{% url 'schooluser_management' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <h5>Number of Trial Licenses</h5>
    {% with form.demo_accounts_num as field %}
        {% include "form_utils/fields_as_lis-nolabel.html" %}
    {% endwith %}
    <h5>Trial Start Date</h5>
    {% with form.demo_start_date as field %}
        {% include "form_utils/fields_as_lis-nolabel.html" %}
    {% endwith %}
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-3 form-submit-btn-container"><button type="button" class="btn btn-lightgrey btn-cancel-invite">CANCEL</button></div>
        <div class="col-xs-9 form-submit-btn-container"><input class="btn btn-green btn-send-invite" type="submit" id="ajaxformsubmit" value="SUBMIT" /></div>
    </div>

</form>