{% load i18n staticfiles form_utils %}
{# <div class="row"> #}
    {# START all license table #}
    <div class="license-table" id="all_license_table">
        <div class="tab-content">
            <div class="license-header-row col-md-12">
                <div class="license-header-cell col-xs-3">
                    User
                </div>
                <div class="license-header-cell col-xs-2">
                    Version
                </div>
                <div class="license-header-cell col-xs-2">
                    Platforms
                </div>
                <div class="license-header-cell col-xs-3">
                    Status
                </div>
                <div class="license-header-cell col-xs-2">
                    Expires on
                </div>
            </div>

            {% for page, masterusers in all_accounts %}
            <div id="all_page_{{ page }}" class="tab-pane fade in {% if page == 1 %}active{% endif %}">
                {% for masteruser in masterusers %}
                    {% if masteruser.full_name %}
                        <div class="license-row col-md-12">
                            <div class="license-cell col-xs-3">
                                {{ masteruser.full_name }}<br>
                                <small><div class="license-icons col-xs-1"><i class="fa fa-envelope"></i></div>
                                <div class="license-userdetails col-xs-11">{{ masteruser.email }}</div></small>


                                <small><div class="license-icons col-xs-1"><i class="fa fa-user"></i></div>
                                <div class="license-userdetails col-xs-11">{% firstof masteruser.username masteruser.user_id %}</div></small>

                                <small><div class="license-icons col-xs-1"><i class="fa fa-users"></i></div>
                                <div class="license-userdetails col-xs-11">{{ masteruser.get_role_display }}</div></small>
                            </div>
                            <div class="license-cell col-xs-2">
                                {% if masteruser.is_trial %}Demo{% else %}Full{% endif %}
                            </div>
                            <div class="license-cell col-xs-2">
                                <div style="font-size:10px;">
                                {% for platform in masteruser.gameplatforms.all %}
                                <i class="fa fa-check"></i> {{ platform.platform.title }}<br>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="license-cell col-xs-3">
                                {% if not masteruser.auth_user.is_active %}
                                    Pending<br>
                                    <small><div class="license-actions col-xs-12">
                                        <a href="{% url 'send_invite_license_email' %}?email={{ masteruser.email }}" class="reinvite" data-toggle="ajax_button">Reinvite</a>
                                    </div></small>
                                    <small><div class="license-actions col-xs-12">
                                        <a href="{% url 'cancel_invitation' %}?code={{ masteruser.user_id }}" class="cancel-invitation" data-toggle="ajax_modal">Cancel</a>
                                    </div></small>

                                {% elif masteruser.auth_user.is_active %}
                                    Active
                                {% endif %}
                            </div>
                            <div class="license-cell col-xs-2">
                                {% if masteruser.trial_end_date %}
                                {{ masteruser.trial_end_date|date:"d/m/Y" }}
                                {% else %}
                                Unlimited
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="license-row license-row-na col-md-12">
                            <div class="license-cell col-xs-3">
                                {# <a href="#tab_single_invite_full_tag" class="license-cell-invite-btn" data-tabtarget="#tab_single_invite_full"> #}
                                <a href="{% url 'invite_license' masteruser.user_id %}" class="license-cell-invite-link" data-toggle="ajax_modal">
                                    Invite a user
                                </a>
                            </div>
                            <div class="license-cell col-xs-2">
                                {% if masteruser.is_trial %}Demo{% else %}Full{% endif %}
                            </div>
                            <div class="license-cell col-xs-2">
                                -
                            </div>
                            <div class="license-cell col-xs-3">
                                Unassigned
                            </div>
                            <div class="license-cell col-xs-2">
                                {% if masteruser.trial_end_date %}
                                {{ masteruser.trial_end_date|date:"d/m/Y" }}
                                {% else %}
                                Unlimited
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                {% empty %}
                    {% if search_query %}
                        <div class="license-row license-row-na col-md-12">
                            <div class="license-cell col-xs-12">
                            Sorry, there are no Licenses that contains "{{ search_query }}" in the username and/or email.
                            </div>
                        </div>
                    {% else %}
                        <div class="license-row license-row-na col-md-12">
                            <div class="license-cell col-xs-12">
                                Sorry, you don't have any Licenses
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}

            <nav aria-label="Full License Pages" class="pagination-nav">
              <ul class="pagination" id="all_license_pagination" data-totalpages="{{ all_accounts_pages }}" data-pagesuffix="all_page_">
                <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-prev" href="#" data-gotopage=""><</a></li>

                <li class="page-item-concat-left">
                    <a class="btn-page-concat-left" href="#">...</a>
                </li>
                {% for i in all_accounts_pagerange %}
                    <li class="page-item {% if i == 1 %}active{% endif %} {% if i > 3 %}hide{% endif %}" data-page="{{ i }}">
                        <a data-toggle="tab" class="btn-page" href="#all_page_{{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li class="page-item-concat-right">
                    <a class="btn-page-concat-right" href="#">...</a>
                </li>

                <li class="prev-next-btn"><a data-toggle="tab" class="btn-page-next" href="#" data-gotopage="">></a></li>
              </ul>
            </nav>


        </div>
    </div>
    {# END all license table #}
{# </div> #}

{% if allow_import_csv %}
<div class="invite-container">
    <div id="tab_bulk_invite_all">
        {% with form=all_csv_form form_id="all_csv_form" %}
            {% include 'users/includes/upload_csv.html' %}
        {% endwith %}
    </div>
</div>
{% endif %}

{% comment %}
{# <div class="row"> #}
    <a name="tab_single_invite_full_tag"></a>
    {# START full license invite #}
    <div class="col-xs-12 invite-container">
        <ul class="nav nav-pills nav-pills-blue invite-buttons-container">
            <li class="pull-right btn-xs-right-container">
                <a data-toggle="tab" href="#tab_bulk_invite_full" class="btn btn-blue btn-xs-right">
                    INVITE USERS
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="tab_bulk_invite_full" class="tab-pane fade in">
                {% with form=full_csv_form form_id="full_csv_form" %}
                    {% include 'users/includes/upload_csv.html' %}
                {% endwith %}
            </div>
        </div>
    <!-- </div> -->
    {# END full license invite #}
{# </div> #}
{% endcomment %}