{% extends "modal_template.html" %}
{% load i18n form_utils %}

{% block modal_title %}{% trans 'Sign Up' %}{% endblock %}

{% block modal_body_content %}
<div id="index-signup-login-tab">
    <ul class="nav nav-pills nav-pills-yellow" id="signup-login-buttons-container">
        <li class="pull-left active" id="btn-signup-container">
            <a data-toggle="tab" href="#tab_signup" class="btn btn-yellow" id="btn-signup">
                SIGN UP
            </a>
        </li>
        <li class="pull-left" id="btn-login-container">
            <a data-toggle="tab" href="#tab_login" class="btn btn-yellow" id="btn-login">
                LOG IN
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="tab_signup" class="tab-pane fade in form-container active">
            {% with signup_form as form %}
                {% include "users/register_form.html" %}
            {% endwith %}
        </div>

        <div id="tab_login" class="tab-pane fade in form-container">
            {% url 'store' as store_url %}
            {% with form=login_form redirect_url=store_url %}
                {% include "registration/login.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block modal_buttons %}
{# <input id="modalformsubmit" type="button" class="btn btn-red pull-right" value="CANCEL INVITATION" /> #}
{% endblock %}