{% load i18n form_utils %}

<form action="{% url 'import_account_from_csv' %}" method="post" enctype="multipart/form-data" id="{{ form_id }}">
    {% csrf_token %}
    <div class="row">
        You can invite multiple users to use unassigned licenses by importing them from a CSV file.
    </div>
    <div class="row">
        <strong>Step 1: Download CSV template</strong><br>
        <a class="btn btn-default" href="{% url 'export_licenses_as_csv' %}">Download CSV Template</a>
    </div>

    <div class="row">
        <strong>Step 2: Upload the CSV file</strong><br>

        {{ form.schooluser }}

        <div class="col-md-9 form-input-container">
            <label for="file-upload" class="btn btn-default">
            Browse
                {{ form.csv_file }}
            </label>

        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-6 form-submit-btn-container">
            <input class="btn btn-blue btn-send-invite" type="submit" value="IMPORT & SEND INVITATION" />
        </div>
    </div>

    {% if form.csv_file.errors %}
        {% for error in form.csv_file.errors %}
        <div class="row field-errors-container">
            <div class="col-md-12 help-block error-block">
                <span class="fa fa-exclamation-triangle"></span> {{ error }}
            </div>
        </div>
        {% endfor %}
    {% endif %}

</form>