/*New colors*/
/*END New colors*/
/* iphone 6 plus */
@font-face {
  font-family: DinPro-Light;
  src: url('../font/DinPro/DINPro-Light.otf');
}
@font-face {
  font-family: DinPro-Medium;
  src: url('../font/DinPro/DINPro-Medium.otf');
}
@font-face {
  font-family: DinPro-Bold;
  src: url('../font/DinPro/DINPro-Bold.otf');
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: DinPro-Light, Arial, sans-serif;
  color: #666666;
  /*background-image: url('../img/background.jpg');*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  font-size: 16pt;
  font-family: DinPro-Bold, Arial, sans-serif;
}
.text-green {
  color: #45966a !important;
}
.text-yellow {
  color: #d8a848 !important;
}
.text-red {
  color: #cc525a !important;
}
.text-bold {
  font-family: DinPro-Bold, Arial, sans-serif;
}
.navbar-fixed {
  position: fixed;
  top: -3em;
}
.errorlist,
.error-block {
  color: red;
}
.container {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1366px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
}
a.anchor {
  visibility: hidden;
  display: block;
  position: relative;
}
/**
 * Main Container Styles
 */
.home-body .main-container {
  padding-top: 20px;
}
.extra-padding .main-container {
  padding-top: 60px;
}
.user-body .main-container {
  padding-top: 60px;
}
.padding-top {
  padding-top: 60px;
}
/**
 * Button Styles
 */
.btn-yellow {
  color: white;
  background-color: #d8a848;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:visited,
.btn-yellow:focus {
  color: white;
  outline: none;
}
.btn-yellow:hover {
  background-color: #C99841;
}
.btn-yellow:active {
  background-color: #af8438;
}
.btn-green {
  color: white;
  background-color: #45966a;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.btn-green:hover,
.btn-green:active,
.btn-green:visited,
.btn-green:focus {
  color: white;
  outline: none;
}
.btn-green:hover {
  background-color: #3C8258;
}
.btn-green:active {
  background-color: #32754f;
}
.btn-blue {
  color: white;
  background-color: #337ab7;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue:visited,
.btn-blue:focus {
  color: white;
  outline: none;
}
.btn-blue:hover {
  background-color: #295c8a;
}
.btn-blue:active {
  background-color: #23527c;
}
.btn-red {
  color: white;
  background-color: #cc525a;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.btn-red:hover,
.btn-red:active,
.btn-red:visited,
.btn-red:focus {
  color: white;
  outline: none;
}
.btn-red:hover {
  background-color: #B74152;
}
.btn-red:active {
  background-color: #9B313D;
}
.btn-lightgrey {
  color: white;
  background-color: #999999;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.btn-lightgrey:hover,
.btn-lightgrey:active,
.btn-lightgrey:visited,
.btn-lightgrey:focus {
  color: white;
  outline: none;
}
.btn-lightgrey:hover {
  background-color: #808080;
}
.btn-lightgrey:active {
  background-color: #666666;
}
.btn-md-left-container {
  padding: 0 0 5px 0;
}
@media (min-width: 992px) {
  .btn-md-left-container {
    padding: 0 0.5% 3px 0;
  }
}
.btn-md-left-container .btn-md-left {
  width: 100%;
}
.btn-md-right-container {
  padding: 0 0 5px 0;
}
@media (min-width: 992px) {
  .btn-md-right-container {
    padding: 0 0 0 0.5%;
  }
}
.btn-md-right-container .btn-md-right {
  width: 100%;
}
.btn-sm-left-container {
  padding: 0 5px 0 0;
}
@media (max-width: 767px) {
  .btn-sm-left-container {
    padding: 0;
    padding-bottom: 5px;
  }
}
.btn-sm-left-container .btn-sm-left {
  width: 100%;
}
.btn-sm-right-container {
  padding: 0 5px 0 0;
}
@media (max-width: 767px) {
  .btn-sm-right-container {
    padding: 0;
  }
}
.btn-sm-right-container .btn-sm-right {
  width: 100%;
}
.btn-xs-left-container {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  width: 49.5%;
}
.btn-xs-left-container .btn-xs-left {
  width: 100%;
  border: none;
}
.btn-xs-right-container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 49.5%;
}
.btn-xs-right-container .btn-xs-right {
  width: 100%;
  border: none;
}
/**
 * Nav Pills Styles
 */
.nav-pills-green li a:focus,
.nav-pills-green li a:hover {
  background-color: #3C8258;
}
.nav-pills-green li.active a {
  background-color: #32754f;
}
.nav-pills-green li.active a:hover,
.nav-pills-green li.active a:active,
.nav-pills-green li.active a:visited,
.nav-pills-green li.active a:focus {
  background-color: #32754f;
}
.nav-pills-green li.active:after {
  position: relative;
  display: block;
  left: 0px;
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #32754f;
}
.nav-pills-blue li a:focus,
.nav-pills-blue li a:hover {
  background-color: #295c8a;
}
.nav-pills-blue li.active a {
  background-color: #23527c;
}
.nav-pills-blue li.active a:hover,
.nav-pills-blue li.active a:active,
.nav-pills-blue li.active a:visited,
.nav-pills-blue li.active a:focus {
  background-color: #23527c;
}
.nav-pills-blue li.active:after {
  position: relative;
  display: block;
  left: 0px;
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #23527c;
}
.nav-pills-yellow li a:focus,
.nav-pills-yellow li a:hover {
  background-color: #C19144;
}
.nav-pills-yellow li.active a {
  background-color: #af8438;
}
.nav-pills-yellow li.active a:hover,
.nav-pills-yellow li.active a:active,
.nav-pills-yellow li.active a:visited,
.nav-pills-yellow li.active a:focus {
  background-color: #af8438;
}
.nav-pills-yellow li.active:after {
  position: relative;
  display: block;
  left: 0px;
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #af8438;
}
.btn-show-green-arrow[aria-expanded="true"] {
  background-color: #32754f;
}
.btn-show-green-arrow[aria-expanded="true"]:hover,
.btn-show-green-arrow[aria-expanded="true"]:active,
.btn-show-green-arrow[aria-expanded="true"]:visited,
.btn-show-green-arrow[aria-expanded="true"]:focus {
  background-color: #32754f;
}
.btn-show-green-arrow[aria-expanded="true"]:after {
  position: absolute;
  display: block;
  top: 34px;
  left: 50%;
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #32754f;
}
.btn-with-green-arrow {
  margin-bottom: 20px;
}
.btn-with-green-arrow:after {
  position: absolute;
  display: block;
  top: 34px;
  left: 50%;
  content: "";
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #45966a;
}
/**
 * Link colours
 */
.a-green {
  color: #45966a;
  font-family: DinPro-Light, Arial, sans-serif;
}
.a-green:hover,
.a-green:active,
.a-green:focus {
  color: #32754f;
  outline: none;
  text-decoration: underline;
}
.a-green:visited {
  color: #45966a;
}
/**
 * Pagination Styles
 */
.pagination li a {
  color: #666666;
  background-color: white;
  border: 1px solid #ddd;
}
.pagination li a:hover,
.pagination li a:active,
.pagination li a:focus {
  color: #d8a848;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ddd;
}
.pagination .active a {
  color: #d8a848;
  background-color: white;
  border: 1px solid #ddd;
}
.pagination .active a:hover,
.pagination .active a:active,
.pagination .active a:focus {
  color: #2f4d66;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid #ddd;
}
/**
 * Dropdown
 */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-toggle {
  border: none;
  background-color: transparent;
  color: #666666;
}
.dropdown-menu {
  background-color: white;
  min-width: 180px;
  box-shadow: 2px 2px 4px #d6cdc1;
  padding: 12px 16px;
}
.dropdown-menu a {
  color: #666666;
}
.dropdown-menu a:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus {
  color: #d8a848;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
/**
 * Modal Popup Styles
 */
.modal-body p {
  color: #666666;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 12pt;
  text-align: left;
}
.modal-body a {
  color: #d8a848;
}
.modal-body a:hover,
.modal-body a:active,
.modal-body a:visited,
.modal-body a:focus {
  color: #d8a848;
}
.modal-body .nav-pills-yellow li a {
  color: white;
}
.modal-body .nav-pills-yellow li a:hover,
.modal-body .nav-pills-yellow li a:active,
.modal-body .nav-pills-yellow li a:visited,
.modal-body .nav-pills-yellow li a:focus {
  color: white;
}
/**
 * Navigation Menu Styles
 */
.home-body #top {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  width: 100%;
  display: block;
}
.home-body #top .container-header {
  padding: 0;
}
.home-body #top .container-header .navbar {
  margin-bottom: 0px;
}
.home-body #top .container-header .navbar .navbar-header {
  padding-left: 15px;
  padding-right: 15px;
}
.home-body #top .container-header .navbar .navbar-header a:hover,
.home-body #top .container-header .navbar .navbar-header a:visited,
.home-body #top .container-header .navbar .navbar-header a:active,
.home-body #top .container-header .navbar .navbar-header a:focus {
  text-decoration: none;
  outline: none;
}
.home-body #top .container-header .navbar .navbar-header #logo {
  width: auto;
  height: 60px;
  margin-top: 5px;
}
.home-body #top .container-header .navbar .navbar-header .navbar-toggle {
  background-color: #d8a848;
  color: white;
  margin-right: 0px;
  width: 36px;
  height: 36px;
}
.home-body #top .container-header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
  margin-left: -4px;
}
.home-body #top .container-header .navbar .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 12pt;
  background-color: #af8438;
}
@media (min-width: 768px) {
  .home-body #top .container-header .navbar .navbar-nav {
    background-color: transparent;
    float: right;
  }
}
.home-body #top .container-header .navbar .navbar-nav li {
  cursor: pointer;
  cursor: hand;
  border-bottom: 0.5px solid #d8a848;
}
.home-body #top .container-header .navbar .navbar-nav li.active {
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #top .container-header .navbar .navbar-nav li a {
  color: white;
  text-align: center;
  font-size: 14px;
  height: 70px;
  vertical-align: middle;
  line-height: 40px;
}
.home-body #top .container-header .navbar .navbar-nav li a.double-line {
  line-height: 18px;
  padding-top: 18px;
}
.home-body #top .container-header .navbar .navbar-nav li a.top-combo-nav-link {
  padding-bottom: 5px;
  padding-top: 15px;
  text-align: center;
}
.home-body #top .container-header .navbar .navbar-nav li a.bot-combo-nav-link {
  padding-bottom: 15px;
  padding-top: 5px;
  text-align: center;
}
.home-body #top .container-header .navbar .navbar-nav li a.thick-link {
  padding-top: 30px;
  padding-bottom: 30px;
}
.home-body #top .container-header .navbar .navbar-nav li a:hover,
.home-body #top .container-header .navbar .navbar-nav li a:active,
.home-body #top .container-header .navbar .navbar-nav li a:focus {
  background-color: #d8a848;
  color: white;
  outline: none;
}
@media (min-width: 768px) {
  .home-body #top .container-header .navbar .navbar-nav li {
    border-bottom: 0px;
  }
  .home-body #top .container-header .navbar .navbar-nav li.active {
    font-family: DinPro-Medium, Arial, sans-serif;
  }
  .home-body #top .container-header .navbar .navbar-nav li a,
  .home-body #top .container-header .navbar .navbar-nav li a:visited {
    color: white;
  }
  .home-body #top .container-header .navbar .navbar-nav li a:hover,
  .home-body #top .container-header .navbar .navbar-nav li a:active,
  .home-body #top .container-header .navbar .navbar-nav li a:focus {
    background-color: transparent;
    color: #d8a848;
    outline: none;
  }
}
.user-body #top {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: block;
  border: 1px solid #d6cdc1;
}
.user-body #top .container-header {
  padding: 0;
}
.user-body #top .container-header .navbar {
  margin-bottom: 0px;
}
.user-body #top .container-header .navbar .navbar-header {
  padding-left: 15px;
  padding-right: 15px;
}
.user-body #top .container-header .navbar .navbar-header a:hover,
.user-body #top .container-header .navbar .navbar-header a:visited,
.user-body #top .container-header .navbar .navbar-header a:active,
.user-body #top .container-header .navbar .navbar-header a:focus {
  text-decoration: none;
  outline: none;
}
.user-body #top .container-header .navbar .navbar-header #logo {
  width: auto;
  height: 50px;
  margin-top: 0px;
}
.user-body #top .container-header .navbar .navbar-header .nav-dashboard-text {
  font-size: 8pt;
  color: #d8a848;
  text-decoration: none;
}
.user-body #top .container-header .navbar .navbar-header .navbar-toggle {
  background-color: #d8a848;
  color: white;
  margin-right: 0px;
  width: 36px;
  height: 36px;
}
.user-body #top .container-header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
  margin-left: -4px;
}
.user-body #top .container-header .navbar .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 12pt;
  background-color: #af8438;
}
@media (min-width: 768px) {
  .user-body #top .container-header .navbar .navbar-nav {
    background-color: transparent;
    float: right;
  }
}
.user-body #top .container-header .navbar .navbar-nav .open a.dropdown-toggle {
  background-color: #d8a848;
  outline: none;
}
@media (min-width: 768px) {
  .user-body #top .container-header .navbar .navbar-nav .open a.dropdown-toggle {
    background-color: transparent;
    color: #d8a848;
  }
}
.user-body #top .container-header .navbar .navbar-nav li {
  cursor: pointer;
  cursor: hand;
  border-bottom: 0.5px solid #d8a848;
}
.user-body #top .container-header .navbar .navbar-nav li a {
  color: white;
}
.user-body #top .container-header .navbar .navbar-nav li a:hover,
.user-body #top .container-header .navbar .navbar-nav li a:active,
.user-body #top .container-header .navbar .navbar-nav li a:focus {
  background-color: #d8a848;
  color: white;
  outline: none;
}
.user-body #top .container-header .navbar .navbar-nav li .dropdown-menu {
  border: none;
  padding: 0;
  margin: 0;
}
.user-body #top .container-header .navbar .navbar-nav li .dropdown-menu a {
  padding: 5px 40px;
}
@media (min-width: 768px) {
  .user-body #top .container-header .navbar .navbar-nav li {
    border-bottom: 0px;
  }
  .user-body #top .container-header .navbar .navbar-nav li .dropdown-menu {
    min-width: 86px;
    border: none;
    margin-top: 2px;
    text-align: center;
  }
  .user-body #top .container-header .navbar .navbar-nav li .dropdown-menu a {
    padding: 5px 10px;
  }
  .user-body #top .container-header .navbar .navbar-nav li.active {
    font-family: DinPro-Medium, Arial, sans-serif;
  }
  .user-body #top .container-header .navbar .navbar-nav li a,
  .user-body #top .container-header .navbar .navbar-nav li a:visited {
    color: #666666;
  }
  .user-body #top .container-header .navbar .navbar-nav li a:hover,
  .user-body #top .container-header .navbar .navbar-nav li a:active,
  .user-body #top .container-header .navbar .navbar-nav li a:focus {
    background-color: transparent;
    color: #d8a848;
    outline: none;
  }
}
/**
 * Body Styles
 */
.home-body {
  /* background-image: url('../img/classroom_tablet.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 50%;

    @media (min-width: @screen-sm-min) {
        background-size: 100% auto;
    }

    @media (min-width: @screen-sm-min) and (min-height: 200px) {
        background-size: auto 100%;
    }

    @media (min-width: @screen-md-min) and (min-height: 200px) {
        background-size: auto 100%;
    }

    @media (min-width: @screen-lg-min) and (min-height: 200px) {
        background-size: 100% auto;
    }
    */

  /**
     * Banner Style
     */

}
.home-body .banner {
  padding: 60px 15px 80px 15px;
  top: 0px;
  width: 100%;
  height: auto;
  display: block;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (min-width: 300px) {
  .home-body .banner {
    background-size: auto 100%;
  }
}
@media (min-width: 500px) {
  .home-body .banner {
    background-size: 100% auto;
    background-position: top;
  }
}
@media (min-width: 768px) {
  .home-body .banner {
    background-size: 100% auto;
    background-position: center;
    padding-top: 200px;
  }
}
.home-body .banner h1 {
  color: white;
  font-family: DinPro-Bold, Arial, sans-serif;
  font-size: 28pt;
  text-align: center;
  text-shadow: 2px 2px 6px #333333;
}
.home-body .banner h3 {
  color: white;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
  text-shadow: 2px 2px 6px #333333;
}
.home-body .banner .btn-shadow {
  box-shadow: 2px 2px 8px #333333;
}
.home-body h1 {
  color: #d8a848;
  font-family: DinPro-Bold, Arial, sans-serif;
  font-size: 26pt;
  text-align: center;
}
@media (min-width: 768px) {
  .home-body h1 {
    font-size: 28pt;
  }
}
.home-body h2 {
  font-size: 22pt;
}
@media (min-width: 768px) {
  .home-body h2 {
    font-size: 24pt;
  }
}
.home-body h3 {
  color: #666666;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
}
.home-body p {
  color: #666666;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
}
.home-body p.text-bold {
  font-family: DinPro-Bold, Arial, sans-serif;
}
.home-body p a {
  color: #d8a848;
}
.home-body p a:hover,
.home-body p a:active,
.home-body p a:visited,
.home-body p a:focus {
  color: #d8a848;
}
.home-body label {
  color: white;
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
}
.home-body .label-control label {
  color: #666666;
  float: right;
}
.home-body label.label-grey-text {
  color: #666666;
}
.home-body input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #999999;
  margin-bottom: 10px;
  padding-left: 10px;
}
.home-body input.btn {
  border: none;
  height: auto;
}
.home-body input#submit-button {
  float: none;
}
.home-body input#store_paypal_button {
  width: auto;
}
.home-body #learn-more {
  display: block;
  text-align: center;
  color: #d8a848;
}
.home-body #learn-more:hover,
.home-body #learn-more:active,
.home-body #learn-more:visited,
.home-body #learn-more:focus {
  color: #d8a848;
}
.home-body #index-signup-login-tab {
  padding: 0;
  margin: 0;
}
.home-body #index-signup-login-tab .ajaxformsubmit {
  font-size: 18px;
}
.home-body #index-signup-login-tab #signup-login-buttons-container {
  padding: 0;
  margin: 0;
}
.home-body #index-signup-login-tab #signup-login-buttons-container #btn-signup-container {
  margin: 0;
  padding-right: 1%;
  width: 50%;
}
.home-body #index-signup-login-tab #signup-login-buttons-container #btn-signup-container #btn-signup {
  width: 100%;
}
.home-body #index-signup-login-tab #signup-login-buttons-container #btn-login-container {
  margin: 0;
  padding-left: 1%;
  width: 50%;
}
.home-body #index-signup-login-tab #signup-login-buttons-container #btn-login-container #btn-login {
  width: 100%;
}
.home-body #index-signup-login-tab .tab-content {
  margin-top: 20px;
}
.home-body #index-signup-login-tab .tab-content .nolabel-field-input input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #999999;
  margin-bottom: 10px;
  padding-left: 10px;
}
.home-body #index-signup-login-tab .tab-content .btn-enroll {
  width: 100%;
  height: auto;
  border-radius: 4px;
  font-size: 20pt;
}
.home-body #index-signup-login-tab .tab-content .login-form-extra-url-container {
  text-align: center;
}
.home-body #index-signup-login-tab .tab-content .login-form-extra-url-container a,
.home-body #index-signup-login-tab .tab-content .login-form-extra-url-container a:active,
.home-body #index-signup-login-tab .tab-content .login-form-extra-url-container a:focus,
.home-body #index-signup-login-tab .tab-content .login-form-extra-url-container a:visited {
  color: #af8438;
}
.home-body #redeem_form #id_redeem_code {
  width: 50%;
  text-align: center;
}
.home-body #redeem_form .redeem_response_container {
  margin-bottom: 10px;
}
.home-body #index-content {
  padding-top: 0px;
}
.home-body #index-content p {
  text-align: left;
}
.home-body #index-content p.text-center {
  text-align: center;
}
.home-body #index-content p.welcome-text {
  text-align: center;
  font-size: 14pt;
}
.home-body #index-content p.welcome-text-lg {
  text-align: center;
  font-size: 16pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content h1.welcome-header {
  font-size: 32pt;
}
.home-body #index-content .container {
  padding-top: 20px;
}
.home-body #index-content .container.no_topbot_padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-body #index-content .container-fluid {
  padding: 30px 15px 10px 15px;
}
.home-body #index-content .centered-content h1,
.home-body #index-content .centered-content h2,
.home-body #index-content .centered-content h3,
.home-body #index-content .centered-content h4,
.home-body #index-content .centered-content p {
  text-align: center;
}
.home-body #index-content .centered-content h4 {
  margin-top: 15pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .centered-content ul {
  padding-left: 0px;
  margin-left: 8%;
}
@media (min-width: 768px) {
  .home-body #index-content .centered-content ul {
    margin-left: 20%;
  }
}
.home-body #index-content .centered-content ul li {
  font-size: 14pt;
}
.home-body #index-content .article-content h1,
.home-body #index-content .article-content h2,
.home-body #index-content .article-content h3 {
  text-align: center;
}
.home-body #index-content .article-content h1.text-left,
.home-body #index-content .article-content h2.text-left,
.home-body #index-content .article-content h3.text-left {
  text-align: left;
}
.home-body #index-content .article-content h3 {
  margin-top: 18pt;
}
.home-body #index-content .article-content h4 {
  margin-top: 15pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .article-content ul {
  padding-left: 20px;
}
.home-body #index-content .article-content ul li {
  font-size: 12pt;
}
.home-body #index-content .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.home-body #index-content .image-col {
  background: #000000 url('../img/classroom_tablet.jpg') no-repeat center center;
  background-size: auto 100%;
}
.home-body #index-content .p-text-lg {
  padding-top: 15px;
  font-size: 14pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .p-text-lg.text-left {
  text-align: left;
}
.home-body #index-content .highlight-text {
  color: #d8a848;
  font-size: 14pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .extra-top-padding {
  padding-top: 15px;
}
.home-body #index-content .section-row h1 {
  color: white;
  font-size: 36pt;
}
.home-body #index-content .section-row h1 a {
  color: white;
}
.home-body #index-content .section-row h1 a:hover {
  text-decoration: underline;
}
.home-body #index-content .section-row h2 {
  text-align: center;
  color: white;
  font-size: 24pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .section-row h3 {
  text-align: center;
  color: white;
  font-size: 20pt;
}
.home-body #index-content .cc-bg-row {
  background: #000000 url('../img/background-dark.jpg') no-repeat center bottom;
}
.home-body #index-content .cc-bg-row h1 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 1px 1px 4px black;
}
.home-body #index-content .cc-bg-row p {
  color: white;
  text-align: center;
  font-family: DinPro-Medium, Arial, sans-serif;
  font-size: 16pt;
  text-shadow: 1px 1px 4px black;
}
.home-body #index-content .gray-row {
  background-color: #f4f5f5;
}
.home-body #index-content .gray-row h1 {
  color: #666666;
}
.home-body #index-content .white-row {
  background-color: white;
}
.home-body #index-content .white-row h2 {
  color: #45966a;
}
.home-body #index-content .white-row h3 {
  color: #d8a848;
}
.home-body #index-content .white-row h4 {
  color: #666666;
}
.home-body #index-content .yellow-row {
  background-color: #d8a848;
}
.home-body #index-content .yellow-row p {
  color: white;
}
.home-body #index-content .green-row {
  background-color: #45966a;
}
.home-body #index-content .green-row p {
  color: white;
}
.home-body #index-content .green-row h1 {
  color: white;
  font-size: 36pt;
}
.home-body #index-content .green-row h1 a {
  color: white;
}
.home-body #index-content .green-row h1 a:hover {
  text-decoration: underline;
}
.home-body #index-content .green-row h2 {
  text-align: center;
  color: white;
  font-size: 26pt;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.home-body #index-content .green-row h3 {
  text-align: center;
  color: white;
  font-size: 20pt;
}
.home-body #index-content .featured-container {
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .home-body #index-content .featured-container {
    padding: 0px 40px;
  }
}
.home-body #index-content .featured-container .featured-section {
  align-content: flex-start;
  height: 60px;
  justify-content: space-between;
  padding: 20px 0px;
  display: flex;
}
.home-body #index-content .featured-container .featured-section .copy {
  font-size: 20px;
  line-height: 16px;
  vertical-align: middle;
}
.home-body #index-content .featured-container .featured-section .featured-img {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
}
.home-body #index-content .featured-container .featured-section .featured-img.reuters {
  display: none;
}
@media (min-width: 768px) {
  .home-body #index-content .featured-container .featured-section .featured-img.reuters {
    display: inline-block;
  }
}
.home-body #index-content .featured-container .featured-section .featured-img.yahoofinance {
  display: none;
}
@media (min-width: 992px) {
  .home-body #index-content .featured-container .featured-section .featured-img.yahoofinance {
    display: inline-block;
  }
}
.home-body #index-content .featured-container .featured-section .featured-img.cliqist {
  display: none;
}
@media (min-width: 992px) {
  .home-body #index-content .featured-container .featured-section .featured-img.cliqist {
    display: inline-block;
  }
}
.home-body #index-content .featured-container .featured-section .featured-img.unity {
  display: none;
}
@media (min-width: 992px) {
  .home-body #index-content .featured-container .featured-section .featured-img.unity {
    display: inline-block;
  }
}
.home-body #index-content .featured-container .featured-section .featured-img.gamasutra {
  display: none;
}
@media (min-width: 992px) {
  .home-body #index-content .featured-container .featured-section .featured-img.gamasutra {
    display: inline-block;
  }
}
.home-body #index-content .usp-cell {
  padding-bottom: 10px;
}
.home-body #index-content .usp-cell h3 {
  margin-top: 0px;
}
.home-body #index-content .cell-img {
  width: 100%;
  padding: 10px 0px;
}
@media (min-width: 320px) {
  .home-body #index-content .cell-img {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .home-body #index-content .cell-img {
    width: 80%;
  }
}
.home-body #index-content .cell-img.fixed-height {
  height: auto;
  width: 80%;
}
@media (min-width: 768px) {
  .home-body #index-content .cell-img.fixed-height {
    height: 180px;
    width: auto;
  }
}
.home-body #index-content .round-img {
  border-radius: 50%;
}
.home-body #index-content #try-free-btn-container {
  text-align: center;
}
@media (min-width: 768px) {
  .home-body #index-content #try-free-btn-container {
    text-align: right;
  }
}
.home-body #index-content #btn-signup-now {
  font-size: 14px;
}
@media (min-width: 768px) {
  .home-body #index-content #btn-signup-now {
    font-size: 18px;
  }
}
.user-body h1 {
  font-family: DinPro-Bold, Arial, sans-serif;
  font-size: 16pt;
  text-align: left;
}
.user-body h1.text-center {
  text-align: center;
}
.user-body h2 {
  font-family: DinPro-Medium, Arial, sans-serif;
  font-size: 14pt;
  text-align: left;
}
.user-body h3 {
  font-family: DinPro-Medium, Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
}
.user-body h3.full {
  color: #cc525a;
}
.user-body h3.trial {
  color: #45966a;
}
.user-body h4 {
  font-family: DinPro-Light, Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
}
.user-body h4.full {
  color: #cc525a;
}
.user-body h4.trial {
  color: #45966a;
}
.user-body h5 {
  font-family: DinPro-Medium, Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
}
.user-body input {
  /*width: 100%;*/

  height: 36px;
  border-radius: 4px;
  border: 1px solid #999999;
  padding-left: 10px;
}
.user-body .select2-selection {
  padding-left: 2px;
  padding-top: 2px;
  height: 36px;
}
.user-body .select2-selection .select2-selection__arrow {
  height: 36px;
}
.user-body input[type='number'] {
  -moz-appearance: textfield;
  width: 100%;
}
.user-body input::-webkit-outer-spin-button,
.user-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.user-body input[type='button'] {
  border: none;
  margin-left: 5px;
}
.user-body input[type='submit'] {
  width: 100%;
  border: none;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}
.user-body input[type='text'] {
  width: 100%;
}
.user-body .required {
  margin-bottom: 10px;
}
.user-body .required .label-control {
  height: 36px;
  line-height: 36px;
}
.user-body .required ul {
  margin: 0;
  padding: 0;
}
.user-body .required ul li {
  list-style: none;
}
.user-body .required ul li label input {
  width: 10px;
  text-align: left;
  float: left;
  margin-top: -6px;
  margin-right: 5px;
}
.user-body .required .country-select-flag {
  position: absolute;
  right: 30px;
  top: 8px;
}
.user-body .version-container {
  box-shadow: 2px 2px 4px #d6cdc1;
  padding-bottom: 10px;
  min-height: 215px;
}
.select2-dropdown--open,
.select2-dropdown--below,
.select2-dropdown {
  top: -10px;
}
#schooluser-detail-panel {
  background-color: rgba(100, 20, 20, 0.5);
  padding: 20px 40px 60px 40px;
}
#schooluser-detail-panel h2 {
  color: #f4ae38;
}
#schooluser-detail-panel .btn-login {
  border-radius: 2px;
  text-align: center;
  font-size: 24px;
  margin: 0 auto;
  width: 100%;
}
#schooluser-detail-panel .login-form-extra-url {
  color: white;
  text-decoration: underline;
}
#schooluser-detail-panel .login-form-extra-url:hover {
  color: #f4ae38;
}
#schooluser-detail-panel .error_empty {
  margin: 2px auto;
  color: white;
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
  border-radius: 4px;
  padding: 4px 8px;
  width: 50%;
}
#schooluser-detail-panel p {
  color: white;
}
#schooluser-detail-panel p li {
  color: white;
}
.form-quiz-sitting,
#quiz-complete {
  padding: 20px 10px 10px 10px;
}
@media (min-width: 768px) {
  .form-quiz-sitting,
  #quiz-complete {
    padding: 20px 40px 40px 40px;
  }
}
.form-quiz-sitting h2,
#quiz-complete h2 {
  font-family: DinPro-Medium, Arial, sans-serif;
  font-size: 20pt;
  color: #d8a848;
}
.form-quiz-sitting .question_container,
#quiz-complete .question_container {
  margin-bottom: 10px;
}
.form-quiz-sitting .question_container .question_row,
#quiz-complete .question_container .question_row {
  margin-bottom: 30px;
  /*.speech-bubble:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                top: 0;
                left: 50%;
                border-bottom-color: @color-yellow;
                border-top: 0;
                border-right: 0;
                margin-left: -10px;
                margin-top: -20px;

                @media (min-width: @screen-sm-min) {
                    left: 0;
                    top: 50%;
                    border: 20px solid transparent;
                    border-right-color: @color-yellow;
                    border-left: 0;
                    border-top: 0;
                    margin-top: -10px;
                    margin-left: -20px;
                }
            }*/

}
.form-quiz-sitting .question_container .question_row .question_image,
#quiz-complete .question_container .question_row .question_image {
  float: left;
  width: 200px;
  height: auto;
}
@media (min-width: 768px) {
  .form-quiz-sitting .question_container .question_row .question_image,
  #quiz-complete .question_container .question_row .question_image {
    float: left;
  }
}
.form-quiz-sitting .question_container .question_row .question_header,
#quiz-complete .question_container .question_row .question_header {
  text-align: left;
  color: #62451d;
  font-size: auto;
  font-family: DinPro-Medium, Arial, sans-serif;
  padding: 0;
  margin: 0 20px;
  top: -20px;
  position: absolute;
  /*border: 0px;*/

  /*border-radius: 6px;*/

}
.form-quiz-sitting .question_container .question_row .question_header.question_correct,
#quiz-complete .question_container .question_row .question_header.question_correct {
  color: #5cb85c;
}
.form-quiz-sitting .question_container .question_row .question_header.question_wrong,
#quiz-complete .question_container .question_row .question_header.question_wrong {
  color: red;
}
.form-quiz-sitting .question_container .question_row .speech-bubble,
#quiz-complete .question_container .question_row .speech-bubble {
  width: 75%;
  height: 120px;
  border: 40px solid transparent;
  -webkit-border-image: url('../img/Conversation_DialogueBox.png') round;
  -o-border-image: url('../img/Conversation_DialogueBox.png') round;
  border-image: url('../img/Conversation_DialogueBox.png') round;
  border-image-slice: 33.33%;
  background-color: #e4dbb8;
  border-radius: 40px;
  top: 70px;
  left: 130px;
  position: absolute;
  z-index: -1;
}
@media (min-width: 768px) {
  .form-quiz-sitting .question_container .question_row .speech-bubble,
  #quiz-complete .question_container .question_row .speech-bubble {
    width: 80%;
  }
}
.form-quiz-sitting .question_text,
#quiz-complete .question_text {
  margin-bottom: 10px;
}
.form-quiz-sitting .question_text input,
#quiz-complete .question_text input {
  width: 90%;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-quiz-sitting .question_text input,
  #quiz-complete .question_text input {
    width: 50%;
  }
}
.form-quiz-sitting .question_radio,
#quiz-complete .question_radio,
.form-quiz-sitting .question_checkbox,
#quiz-complete .question_checkbox {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666666;
  display: table;
  float: left;
  width: 100%;
}
.form-quiz-sitting .question_radio label,
#quiz-complete .question_radio label,
.form-quiz-sitting .question_checkbox label,
#quiz-complete .question_checkbox label {
  display: block;
  /*border:solid 1px gray;*/

  border: 15px solid transparent;
  -webkit-border-image: url('../img/Frame_Gold.png') round;
  -o-border-image: url('../img/Frame_Gold.png') round;
  border-image: url('../img/Frame_Gold.png') round;
  border-image-slice: 33.33%;
  height: 180px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  -webkit-font-smoothing: antialiased;
  margin-top: 10px;
  font-family: DinPro-Light, sans-serif;
  color: #666666;
  text-align: center;
  font-size: 14px;
}
.form-quiz-sitting .question_radio label .image_container,
#quiz-complete .question_radio label .image_container,
.form-quiz-sitting .question_checkbox label .image_container,
#quiz-complete .question_checkbox label .image_container {
  margin-top: 10px;
}
.form-quiz-sitting .question_radio input,
#quiz-complete .question_radio input,
.form-quiz-sitting .question_checkbox input,
#quiz-complete .question_checkbox input,
.form-quiz-sitting .question_radio label,
#quiz-complete .question_radio label,
.form-quiz-sitting .question_checkbox label,
#quiz-complete .question_checkbox label {
  cursor: pointer;
}
.form-quiz-sitting .question_radio input[type=checkbox],
#quiz-complete .question_radio input[type=checkbox],
.form-quiz-sitting .question_checkbox input[type=checkbox],
#quiz-complete .question_checkbox input[type=checkbox],
.form-quiz-sitting .question_radio input[type=radio],
#quiz-complete .question_radio input[type=radio],
.form-quiz-sitting .question_checkbox input[type=radio],
#quiz-complete .question_checkbox input[type=radio] {
  display: none;
}
.form-quiz-sitting .question_radio input:checked + label,
#quiz-complete .question_radio input:checked + label,
.form-quiz-sitting .question_checkbox input:checked + label,
#quiz-complete .question_checkbox input:checked + label {
  /*border: solid 2px @color-green;*/

  border: 15px solid transparent;
  -webkit-border-image: url('../img/Frame_Gold.png') round;
  -o-border-image: url('../img/Frame_Gold.png') round;
  border-image: url('../img/Frame_Gold.png') round;
  border-image-slice: 33.33%;
  background-color: beige;
  color: #45966a;
}
.form-quiz-sitting .question_radio input:checked + label:before,
#quiz-complete .question_radio input:checked + label:before,
.form-quiz-sitting .question_checkbox input:checked + label:before,
#quiz-complete .question_checkbox input:checked + label:before {
  content: "\2713";
}
.form-quiz-sitting .answer_image,
#quiz-complete .answer_image {
  width: 100%;
  cursor: pointer;
}
.form-quiz-sitting .error_empty,
#quiz-complete .error_empty {
  margin: 2px auto;
  color: white;
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
  border-radius: 4px;
  padding: 4px 8px;
  width: 50%;
}
.form-quiz-sitting .canvasDiv canvas,
#quiz-complete .canvasDiv canvas {
  margin-bottom: 10px;
  border: 1px solid #666666;
  background-color: white;
  width: 300px;
}
.form-quiz-sitting .quiz-complete-content,
#quiz-complete .quiz-complete-content {
  color: #666666;
  text-align: center;
}
.form-quiz-sitting p,
#quiz-complete p {
  color: #666666;
}
.form-quiz-sitting p li,
#quiz-complete p li {
  color: #666666;
}
.form-quiz-sitting .btn-form-next,
#quiz-complete .btn-form-next {
  right: 0px;
  top: 40px;
  padding: 0 20px;
  border: 15px solid transparent;
  -webkit-border-image: url('../img/Frame_Gold_Fill.png') round;
  -o-border-image: url('../img/Frame_Gold_Fill.png') round;
  border-image: url('../img/Frame_Gold_Fill.png') round;
  border-image-slice: 33.33%;
  background-color: #1b1517;
  border-radius: 15px;
  color: #DAD0C3;
  font-family: DinPro-Medium, sans-serif;
}
.form-quiz-sitting .btn-form-prev,
#quiz-complete .btn-form-prev {
  left: 0px;
  top: 40px;
  padding: 0 20px;
  border: 15px solid transparent;
  -webkit-border-image: url('../img/Frame_Gold_Fill.png') round;
  -o-border-image: url('../img/Frame_Gold_Fill.png') round;
  border-image: url('../img/Frame_Gold_Fill.png') round;
  border-image-slice: 33.33%;
  background-color: #1b1517;
  border-radius: 15px;
  color: #DAD0C3;
  font-family: DinPro-Medium, sans-serif;
}
.form-quiz-sitting .btn-form-submit,
#quiz-complete .btn-form-submit {
  right: 0px;
  top: 40px;
  padding-left: 20px;
  background-color: transparent;
  background-image: url('../img/Confirm_Button.png');
  background-repeat: no-repeat;
  height: 72px;
  width: 176px;
}
#quizModal .question_image {
  width: 100%;
}
#quizModal .answer_image {
  width: 100%;
}
form fieldset {
  position: relative;
  display: none;
}
form fieldset:first-of-type {
  display: block;
}
form fieldset .required,
form fieldset .optional {
  margin-bottom: 10px;
}
form fieldset .required .field-input-container .label-control,
form fieldset .optional .field-input-container .label-control {
  text-align: left;
}
form fieldset .required .field-input-container .label-control label,
form fieldset .optional .field-input-container .label-control label {
  max-width: 100%;
}
form fieldset .required .field-input-container .label-control label .required-star,
form fieldset .optional .field-input-container .label-control label .required-star {
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin-right: 4px;
  margin-top: 6px;
}
form fieldset .required .field-input-container .field-control input[type='text'],
form fieldset .optional .field-input-container .field-control input[type='text'],
form fieldset .required .field-input-container .field-control input[type='email'],
form fieldset .optional .field-input-container .field-control input[type='email'],
form fieldset .required .field-input-container .field-control input[type='number'],
form fieldset .optional .field-input-container .field-control input[type='number'],
form fieldset .required .field-input-container .field-control input[type='password'],
form fieldset .optional .field-input-container .field-control input[type='password'],
form fieldset .required .field-input-container .field-control select,
form fieldset .optional .field-input-container .field-control select,
form fieldset .required .field-input-container .field-control .select2,
form fieldset .optional .field-input-container .field-control .select2 {
  width: 100%;
}
form fieldset .required .field-input-container .field-control.input-checkboxselectmultiple ul,
form fieldset .optional .field-input-container .field-control.input-checkboxselectmultiple ul {
  list-style: none;
  padding-left: 0px;
}
form fieldset .required .field-input-container .field-control.input-checkboxselectmultiple ul li,
form fieldset .optional .field-input-container .field-control.input-checkboxselectmultiple ul li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: -1px;
}
form fieldset .required .field-input-container .field-control.input-checkboxselectmultiple ul li:first-child,
form fieldset .optional .field-input-container .field-control.input-checkboxselectmultiple ul li:first-child {
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
form fieldset .required .field-input-container .field-control.input-checkboxselectmultiple ul li:last-child,
form fieldset .optional .field-input-container .field-control.input-checkboxselectmultiple ul li:last-child {
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
form fieldset .required .field-input-container .field-control.input-checkboxselectmultiple ul li input[type='checkbox'],
form fieldset .optional .field-input-container .field-control.input-checkboxselectmultiple ul li input[type='checkbox'] {
  width: 20px;
}
form fieldset .required .field-input-container .star-control,
form fieldset .optional .field-input-container .star-control {
  padding-left: 0px;
}
form fieldset .required .field-input-container .star-control .required-star,
form fieldset .optional .field-input-container .star-control .required-star {
  vertical-align: middle;
  display: inline-block;
  font-size: 30px;
  line-height: 20px;
  margin-right: 4px;
  margin-top: 6px;
  color: #f4ae38;
}
form .btn-form-next {
  float: right;
  position: relative;
  border-radius: 2px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 18px;
  right: -20px;
}
@media (min-width: 768px) {
  form .btn-form-next {
    font-size: 24px;
  }
}
form .btn-form-prev {
  float: left;
  position: relative;
  border-radius: 2px;
  padding-right: 60px;
  padding-left: 20px;
  font-size: 18px;
  left: -20px;
}
@media (min-width: 768px) {
  form .btn-form-prev {
    font-size: 24px;
  }
}
form .btn-form-submit {
  float: right;
  position: relative;
  display: none;
  border-radius: 2px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 16px;
  right: -20px;
}
@media (min-width: 768px) {
  form .btn-form-submit {
    font-size: 24px;
  }
}
.form-centered {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .form-centered {
    width: 80%;
  }
}
.form-centered h2,
.form-centered fieldset {
  text-align: center;
}
.form-centered .help-block {
  text-align: left;
}
.invite-license-modal-form .label-control label {
  float: right;
}
/**
 * Welcome Dashboard Styles
 */
#welcome-content #btn-request-trial-container {
  padding: 0 0 5px 0;
}
@media (min-width: 992px) {
  #welcome-content #btn-request-trial-container {
    padding: 0 0.5% 3px 0;
  }
}
#welcome-content #btn-request-trial-container #btn-request-trial {
  width: 100%;
}
#welcome-content #btn-license-management-container {
  padding: 0 0 5px 0;
}
@media (min-width: 992px) {
  #welcome-content #btn-license-management-container {
    padding: 0 0 0 0.5%;
  }
}
#welcome-content #btn-license-management-container #btn-license-management {
  width: 100%;
}
/**
 * License Management Styles
 */
.license-search-form-container {
  margin: 10px 0;
  padding: 0;
  display: inline-block;
}
.license-search-form-container .license-search-box {
  margin: 0;
  padding: 0;
}
.license-search-form-container .license-search-box #search_box {
  width: 99%;
  height: 33px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #999999;
}
.license-search-form-container .license-search-submit {
  margin: 0;
  padding: 0;
}
.license-search-form-container .license-search-submit #search_submit {
  width: 100%;
  height: 33px;
  padding: 0;
  margin: 0;
  border: 1px solid #999999;
}
.license-cta-btns-container {
  padding-top: 0;
  display: inline-block;
}
.license-cta-btns-container .license-cta-btns {
  padding: 0;
  float: left;
}
@media (min-width: 768px) {
  .license-cta-btns-container {
    padding-top: 20px;
  }
  .license-cta-btns-container .license-cta-btns {
    padding: 0;
    float: right;
  }
}
.license-summary {
  padding: 0;
  display: inline-block;
}
.license-summary .row + .license-summary-numbers-container {
  padding: 0 2px 0 0;
}
.license-summary .license-summary-numbers-container {
  padding: 0;
}
.license-summary .license-summary-numbers-container:last-of-type {
  padding: 0 0 0 2px;
}
.license-summary .license-summary-numbers-container .license-summary-numbers {
  text-align: center;
  padding: 5px 0px 5px 0px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.license-options-container {
  display: inline-block;
  padding-top: 23px;
}
.license-table {
  display: inline-block;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px #d6cdc1;
}
.license-table .license-header-row {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 30px;
  line-height: 28px;
  margin: 0;
  padding: 0 15px;
  background-color: #d6cdc1;
}
.license-table .license-header-cell {
  overflow: hidden;
  text-align: left;
  margin: 0;
  padding: 0 5px;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.license-table .license-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0 15px;
  background-color: none;
  border-top: none;
  border-bottom: 1px solid #d6cdc1;
  /*        border-left: 1px solid @color-table-border;
        border-right: 1px solid @color-table-border;*/

}
.license-table .license-cell {
  text-align: left;
  margin: auto 0;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.license-table .license-icons {
  text-align: center;
  margin: 0;
  padding: 0;
}
.license-table .license-userdetails {
  text-align: left;
  margin: 0;
  margin-top: 0;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.license-table .license-actions {
  padding: 0;
}
.license-table .license-actions .cancel-invitation {
  color: #cc525a;
}
.license-table .license-moreinfo {
  width: 100%;
  height: 42px;
  line-height: 18px;
  margin: 0;
  margin-top: -4px;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6cdc1;
}
.license-table .license-moreinfo .license-moreinfo-cell {
  text-align: left;
  float: left;
  margin: 0;
  padding: 0 5px;
}
.license-table .license-moreinfo .license-moreinfo-cell #btn-cancel-invitation {
  float: right;
  margin-top: 6px;
  font-size: 7pt;
}
.license-table nav.pagination-nav {
  text-align: center;
}
.license-table nav.pagination-nav .left-li {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.license-table nav.pagination-nav .right-li {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.invite-container {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.invite-container .invite-buttons-container {
  padding: 0;
  margin: 0;
}
.invite-container #tab_bulk_invite_all {
  width: 100%;
  padding: 0;
  margin-top: 5px;
}
.invite-container #tab_bulk_invite_all.active {
  display: block;
}
.invite-container #tab_bulk_invite_all #all_csv_form {
  padding: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px #d6cdc1;
}
.invite-container #tab_bulk_invite_all #all_csv_form .row {
  margin: 5px 0;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-title {
  padding: 0;
  line-height: 34px;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-input-container {
  padding: 0;
  margin: 0;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-input-container #id_role {
  list-style: none;
  margin-top: 9px;
  padding-left: 0px;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-input-container #id_role input {
  width: auto;
  height: auto;
  cursor: pointer;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-input-container .role {
  text-align: left;
  display: inline;
  margin-top: 9px;
  width: 10%;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container {
  padding: 0;
  margin: 0;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container .btn-cancel-invite {
  height: auto;
  width: 98%;
  border: none;
}
.invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container .btn-send-invite {
  height: auto;
  width: 100%;
  border: none;
}
.invite-container #tab_bulk_invite_all #all_csv_form input {
  padding-left: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #666666;
}
.invite-container #tab_bulk_invite_all #all_csv_form input[type="text"] {
  height: 33px;
}
.invite-container #tab_bulk_invite_all #all_csv_form input[type="email"] {
  height: 33px;
}
.invite-container #tab_bulk_invite_all #all_csv_form input[type="file"] {
  opacity: 0;
  top: -1px;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 70px;
  /*height: 33px;
                    color: white;
                    background-color: white;
                    border: 1px solid white;
                    color: black;*/

}
@media (min-width: 768px) {
  .invite-container #tab_bulk_invite_all #all_csv_form input {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}
.license-tabs-container {
  margin-top: 10px;
  padding: 0;
  display: inline-block;
}
.license-tabs-container .license-tabs {
  border: 0px;
  /*.col-xs-7 {
            padding:0px;
        }

        .col-xs-5 {
            padding:0px;
        }*/

}
.license-tabs-container .license-tabs li {
  display: inline-block;
  text-align: center;
  width: 40%;
}
.license-tabs-container .license-tabs li a {
  text-decoration: none;
  font-size: 10pt;
  font-family: DinPro-Light, Arial, sans-serif;
  color: #d6cdc1;
  cursor: pointer;
  border: 1px solid #d6cdc1;
  border-bottom: 1px solid #d8a848;
  border-radius: 4px 4px 0 0;
  margin-right: 0px;
  padding-bottom: 9px;
}
.license-tabs-container .license-tabs li a:hover {
  color: white;
  background-color: #d8a848;
  border: 1px solid #d8a848;
}
.license-tabs-container .license-tabs li a:active {
  font-size: 12pt;
  font-family: DinPro-Bold, Arial, sans-serif;
  color: #d8a848;
  background-color: transparent;
  border: 1px solid #d8a848;
  border-bottom: 0px;
  padding-bottom: 7px;
}
.license-tabs-container .license-tabs li.active {
  width: 60%;
  text-align: center;
}
.license-tabs-container .license-tabs li.active a,
.license-tabs-container .license-tabs li.active a:hover,
.license-tabs-container .license-tabs li.active a:active,
.license-tabs-container .license-tabs li.active a:visited,
.license-tabs-container .license-tabs li.active a:focus {
  font-size: 12pt;
  font-family: DinPro-Bold, Arial, sans-serif;
  color: #d8a848;
  background-color: transparent;
  border: 1px solid #d8a848;
  border-bottom: 0px;
  padding-bottom: 7px;
  outline: 0;
}
.license-tabs-container .tab-content #tab_full_accounts,
.license-tabs-container .tab-content #tab_trial_accounts {
  border: 1px solid #d8a848;
  border-top: 0px;
  padding-top: 1px;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers {
  display: block;
  list-style: none;
  padding: 0px;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers li {
  width: 23.5%;
  float: left;
  text-align: center;
  border: 1px solid #808080;
  margin: 1%;
  border-radius: 4px;
  padding: 5px 0px 5px 0px;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers li .license-numbers-title {
  font-size: 9pt;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers li .license-numbers-number {
  font-size: 14pt;
  font-family: DinPro-Bold, Arial, sans-serif;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers .first {
  margin-left: 0;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers .last {
  margin-right: 0;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers .invited {
  color: #45966a;
}
.license-tabs-container .tab-content .license-numbers-container ul.license-numbers .activated {
  color: #d8a848;
}
.license-tabs-container .tab-content .license-table {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  padding: 0;
}
.license-tabs-container .tab-content .license-table .license-header-row {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  background-color: #fff8ee;
  border-top: 1px solid #d6cdc1;
  border-bottom: 1px solid #d6cdc1;
}
.license-tabs-container .tab-content .license-table .license-header-cell {
  text-align: left;
  margin: 0;
  padding: 0 5px;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.license-tabs-container .tab-content .license-table .license-row {
  display: inline-block;
  width: 100%;
  height: 34px;
  line-height: 30px;
  margin: 0;
  margin-top: -4px;
  padding: 0;
  background-color: none;
  border-top: none;
  border-bottom: 1px solid #d6cdc1;
}
.license-tabs-container .tab-content .license-table .license-cell {
  text-align: left;
  margin: 0;
  margin-top: 0;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.license-tabs-container .tab-content .license-table .first,
.license-tabs-container .tab-content .license-table .last {
  text-align: center;
}
.license-tabs-container .tab-content .license-table .license-moreinfo {
  width: 100%;
  height: 42px;
  line-height: 18px;
  margin: 0;
  margin-top: -4px;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6cdc1;
}
.license-tabs-container .tab-content .license-table .license-moreinfo .license-moreinfo-cell {
  text-align: left;
  float: left;
  margin: 0;
  padding: 0 5px;
}
.license-tabs-container .tab-content .license-table .license-moreinfo .license-moreinfo-cell #btn-cancel-invitation {
  float: right;
  margin-top: 6px;
  font-size: 7pt;
}
.license-tabs-container .tab-content .invite-container {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.license-tabs-container .tab-content .invite-container .invite-buttons-container {
  padding: 0;
  margin: 0;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all {
  display: none;
  width: 100%;
  margin-top: 20px;
  padding: 0;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all.active {
  display: block;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .row {
  margin: 0 0 5px 0;
  padding: 0;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-title {
  padding: 0;
  line-height: 34px;
  font-family: DinPro-Medium, Arial, sans-serif;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-input-container {
  padding: 0;
  margin: 0;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-input-container #id_role {
  list-style: none;
  margin-top: 9px;
  padding-left: 0px;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-input-container #id_role input {
  width: auto;
  height: auto;
  cursor: pointer;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-input-container .role {
  text-align: left;
  display: inline;
  margin-top: 9px;
  width: 10%;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container {
  padding: 0;
  margin: 0;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container .btn-cancel-invite {
  width: 100%;
  margin-right: 1%;
  border: none;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .form-submit-btn-container .btn-send-invite {
  width: 100%;
  margin-left: 1%;
  border: none;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form input {
  padding-left: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #666666;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form input[type="text"] {
  height: 33px;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form input[type="email"] {
  height: 33px;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form input[type="file"] {
  height: 33px;
  color: white;
  background-color: white;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}
@media (min-width: 768px) {
  .license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form input {
    margin-bottom: 0px;
    margin-right: 5px;
  }
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link {
  display: block;
  padding: 4px 0px;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link a,
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link a:active,
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link a:visited,
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link a:focus {
  color: #999;
}
.license-tabs-container .tab-content .invite-container #tab_bulk_invite_all #all_csv_form .download-template-link a:hover {
  color: white;
  text-decoration: underline;
}
#export-csv-container {
  display: inline-block;
  text-align: right;
  padding-top: 20px;
}
.report-section {
  position: fixed;
  top: 10px;
}
@media (min-width: 768px) {
  .report-section {
    position: relative;
    top: auto;
  }
}
.report-section .report-container {
  background-color: #5cb85c;
  padding: 10px 20px;
  display: none;
}
@media (min-width: 768px) {
  .report-section .report-container {
    background-color: rgba(0, 200, 30, 0.5);
  }
}
.report-section .report-container i {
  font-size: 20px;
  cursor: pointer;
}
#quiz_report .quiz-answer-list {
  list-style: none;
  padding-left: 0px;
}
#quiz_report .panel-toggle-whole {
  padding: 0px;
}
#quiz_report .panel-toggle-whole a {
  padding: 10px 15px;
  display: block;
  width: 100%;
  height: 100%;
  color: #666666;
}
#quiz_report .panel-toggle-whole a:hover {
  text-decoration: none;
  background-color: #999999;
  color: white;
}
/**
 * Message Styles
 */
.messages {
  list-style: none;
  width: 300px;
  z-index: 9999;
  position: fixed;
  top: 30px;
  right: 0px;
}
.messages li {
  display: none;
  position: relative;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin: 0px 10px 5px 0px;
  text-align: left;
}
.messages li.success {
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}
.messages li.warning {
  background-color: #f0ad4e;
  border: 1px solid #f0ad4e;
}
#loading-message {
  z-index: 9999;
  position: fixed;
  width: 120px;
  height: 30px;
  padding-top: 4px;
  margin-left: -60px;
  left: 50%;
  top: 10px;
  background-color: #f0ad4e;
  text-align: center;
  border-radius: 10px;
  display: none;
}
@media (min-width: 768px) {
  #loading-message {
    top: 30px;
  }
}
/**
 * Footer Styles
 */
.footer {
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0 0 0;
  color: white;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer {
    padding: 30px 0 0 0;
    bottom: -20px;
  }
}
/**
 * Table Styles
 */
.faq-table th {
  text-align: center;
  font-size: 18px;
}
.faq-table th.header-yellow {
  background-color: #d8a848;
  color: white !important;
  border-radius: 10px 10px 0px 0px;
}
.faq-table th.header-green {
  background-color: #45966a;
  color: white !important;
  border-radius: 10px 10px 0px 0px;
}
.faq-table th.no-border {
  border: 0px;
  background-color: transparent;
}
.faq-table td {
  border: 1px solid #dddddd;
  text-align: center;
}
