@color-primary    : #2F4D66;
@color-secondary  : #f4ae38;
@color-tertiary  : maroon;

@color-background-success : #5cb85c;
@color-border-success     : #4cae4c;

@color-background-warning : #f0ad4e;
@color-background-warning-hover : #eb9114;
@color-background-warning-button-bottom: #ed9c2c;
@color-border-warning     : #f0ad4e;

@color-background-table-row : #f5f5f5;
@color-background-table-cell-dark-gray : #c5c5c5;
@color-background-table-cell-gray-button-top : #f2f2f2;
@color-background-table-cell-gray-button-bottom : #cccccc;
@color-background-table-cell-gray-button-hover : #bbbbbb;

/*New colors*/
@color-yellow: #D8A848;
@color-darkyellow: #AF8438;
@color-green: #45966A;
@color-darkgreen: #32754F;
@color-blue: #337ab7;
@color-darkblue: #23527c;
@color-red: #CC525A;
@color-darkgrey: #333333;
@color-grey: #666666;
@color-lightgrey: #999999;
@color-lightergrey: #ddd;
@color-superlightgrey: #f4f5f5;

@color-tab-active: #D8A848;
@color-tab-inactive: #D6CDC1;

@color-numbers-border: #808080;

@color-table-header-row-background: #FFF8EE;
@color-table-moreinfo-background: #F2F2F2;
@color-table-border: #D6CDC1;
/*END New colors*/

@screen-lg-min: 1366px;
@screen-md-min: 992px;
@screen-sm-min: 768px;
@screen-xs-min: 320px;
@screen-xs-max: 414px; /* iphone 6 plus */

@font-face {
    font-family: DinPro-Light;
    src: url('../font/DinPro/DINPro-Light.otf');
}

@font-face {
    font-family: DinPro-Medium;
    src: url('../font/DinPro/DINPro-Medium.otf');
}

@font-face {
    font-family: DinPro-Bold;
    src: url('../font/DinPro/DINPro-Bold.otf');
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: DinPro-Light, Arial, sans-serif;
  color: @color-grey;
  /*background-image: url('../img/background.jpg');*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@nav-height: 3em;

h1 {
    font-size: 16pt;
    font-family: DinPro-Bold, Arial, sans-serif;
}

.text-green {
    color: @color-green !important; 
}

.text-yellow {
    color: @color-yellow !important;
}

.text-red {
    color: @color-red !important;
}

.text-bold {
    font-family: DinPro-Bold, Arial, sans-serif;
}

.navbar-fixed {
  position: fixed;
  top: -(@nav-height);
}

.errorlist, .error-block {
    color: red;
}

.container {
    padding-bottom: 30px;

    @media (min-width: @screen-sm-min) {
        width: 750px;
    }

    @media (min-width: @screen-md-min) {
        width: 980px;
    }

    @media (min-width: @screen-lg-min) {
        width: 1170px;
    }
}

.vertical-align {
    @media (min-width: @screen-sm-min) {
        display: flex;
        align-items: center;
    }
}

a.anchor {
    visibility: hidden; 
    display: block; 
    position: relative;
}

/**
 * Main Container Styles
 */
.home-body .main-container {
    padding-top: 20px;
}

.extra-padding .main-container {
    padding-top: 60px;
}

.user-body .main-container {
    padding-top: 60px;
}

.padding-top {
    padding-top: 60px;
}

// .help-block {
//     color:white;
// }

/**
 * Button Styles
 */

.btn-yellow {
    color: white;
    background-color: @color-yellow;
    font-family: DinPro-Medium, Arial, sans-serif;

    &:hover, &:active, &:visited, &:focus {
        color: white;
        outline: none;
    }

    &:hover {
        background-color: #C99841;
    }

    &:active {
        background-color: @color-darkyellow;
    }

}

.btn-green{
    color: white;
    background-color: @color-green;
    font-family: DinPro-Medium, Arial, sans-serif;

    &:hover, &:active, &:visited, &:focus {
        color: white;
        outline: none;
    }

    &:hover {
        background-color: #3C8258;
    }

    &:active {
        background-color: @color-darkgreen;
    }
}

.btn-blue {
    color: white;
    background-color: @color-blue;
    font-family: DinPro-Medium, Arial, sans-serif;

    &:hover, &:active, &:visited, &:focus {
        color: white;
        outline: none;
    }

    &:hover {
        background-color: #295c8a;
    }

    &:active {
        background-color: @color-darkblue;
    }
}

.btn-red {
    color: white;
    background-color: @color-red;
    font-family: DinPro-Medium, Arial, sans-serif;

    &:hover, &:active, &:visited, &:focus {
        color: white;
        outline: none;
    }

    &:hover {
        background-color: #B74152;
    }

    &:active {
        background-color: #9B313D;
    }
}

.btn-lightgrey {
    color: white;
    background-color: @color-lightgrey;
    font-family: DinPro-Medium, Arial, sans-serif;

    &:hover, &:active, &:visited, &:focus {
        color: white;
        outline: none;
    }

    &:hover {
        background-color: #808080;
    }

    &:active {
        background-color: #666666;
    }
}

.btn-md-left-container {
    @media (min-width: @screen-md-min) {
        padding: 0 0.5% 3px 0;
    }

    padding: 0 0 5px 0;

    .btn-md-left {
        width: 100%;
    }
}

.btn-md-right-container {
    @media (min-width: @screen-md-min) {
        padding: 0 0 0 0.5%;
    }

    padding: 0 0 5px 0;

    .btn-md-right {
        width: 100%;
    }
}

.btn-sm-left-container {
    @media (max-width: 767px) {
        padding: 0;
        padding-bottom: 5px;
    }

    padding: 0 5px 0 0;

    .btn-sm-left {
        width: 100%;
    }
}

.btn-sm-right-container {
    @media (max-width: 767px) {
        padding: 0;
    }

    padding: 0 5px 0 0;

    .btn-sm-right {
        width: 100%;
    }
}

.btn-xs-left-container {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    width: 49.5%;

    .btn-xs-left {
        width: 100%;
        border: none;
    }
}

.btn-xs-right-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 49.5%;

    .btn-xs-right {
        width: 100%;
        border: none;
    }
}

/**
 * Nav Pills Styles
 */
.nav-pills-green li{
    a:focus, a:hover {
        background-color: #3C8258;
    }

    &.active a {
        background-color: @color-darkgreen;

        &:hover, &:active, &:visited, &:focus {
            background-color: @color-darkgreen;
        }
    }

    &.active:after {
        position: relative;
        display: block;
        left: 0px;
        content: "";
        margin: 0 auto;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @color-darkgreen;
    }
}

.nav-pills-blue li{
    a:focus, a:hover {
        background-color: #295c8a;
    }

    &.active a {
        background-color: @color-darkblue;

        &:hover, &:active, &:visited, &:focus {
            background-color: @color-darkblue;
        }
    }

    &.active:after {
        position: relative;
        display: block;
        left: 0px;
        content: "";
        margin: 0 auto;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @color-darkblue;
    }
}

.nav-pills-yellow li{
    a:focus, a:hover {
        background-color: #C19144;
    }

    &.active a {
        background-color: @color-darkyellow;

        &:hover, &:active, &:visited, &:focus {
            background-color: @color-darkyellow;
        }
    }

    &.active:after {
        position: relative;
        display: block;
        left: 0px;
        content: "";
        margin: 0 auto;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @color-darkyellow;
    }
}

.btn-show-green-arrow {
    &[aria-expanded="true"] {
        background-color: @color-darkgreen;

        &:hover, &:active, &:visited, &:focus {
            background-color: @color-darkgreen;
        }
    }
    &[aria-expanded="true"]:after {
        position: absolute;
        display: block;
        top: 34px;
        left: 50%;
        content: "";
        margin: 0 auto;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @color-darkgreen;
    }
}

.btn-with-green-arrow {
    margin-bottom: 20px;
    &:after {
        position: absolute;
        display: block;
        top: 34px;
        left: 50%;
        content: "";
        margin: 0 auto;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid @color-green;
    }
}

/**
 * Link colours
 */
.a-green{
    color: @color-green;
    font-family: DinPro-Light, Arial, sans-serif;

    &:hover, &:active, &:focus {
        color: @color-darkgreen;
        outline: none;
        text-decoration: underline;
    }

    &:visited {
        color: @color-green;
    }
}

/**
 * Pagination Styles
 */
.pagination {
    li {
        a {
            color: @color-grey;
            background-color: white;
            border: 1px solid #ddd;

            &:hover, &:active, &:focus {
                color: @color-yellow;
                cursor: pointer;
                background-color: #ddd;
                border: 1px solid #ddd;
            }
        }
    }


    .active {
        a {
            color: @color-yellow;
            background-color: white;
            border: 1px solid #ddd;

            &:hover, &:active, &:focus {
                color: @color-primary;
                cursor: pointer;
                background-color: #ddd;
                border: 1px solid #ddd;
            }
        }
    }
}

/**
 * Dropdown
 */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-toggle {
    border: none;
    background-color: transparent;
    color: @color-grey;
}

.dropdown-menu {
    background-color: white;
    min-width: 180px;
    box-shadow: 2px 2px 4px @color-table-border;
    padding: 12px 16px;

    a {
        color: @color-grey;

        &:hover, &:active, &:focus {
            color: @color-yellow;
            cursor: pointer;
            background-color: transparent;
            border: none;
            text-decoration: none;
        }

    }
}

/**
 * Modal Popup Styles
 */
.modal-body {
    p {
        color: @color-grey;
        font-family: DinPro-Light, Arial, sans-serif;
        font-size: 12pt;
        text-align: left;
    }

    a {
        color: @color-yellow;

        &:hover, &:active, &:visited, &:focus{
            color: @color-yellow;
        }
    }

    .nav-pills-yellow {
        li {
            a {
                color: white;

                &:hover, &:active, &:visited, &:focus{
                    color: white;
                }
            }
        }
    }
}




/**
 * Navigation Menu Styles
 */
.home-body #top {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    width: 100%;
    display: block;

    .container-header {
        padding: 0;

        .navbar {
            margin-bottom: 0px;

            .navbar-header {
                padding-left: 15px;
                padding-right: 15px;

                a:hover, a:visited, a:active, a:focus {
                    text-decoration: none;
                    outline: none;
                }

                #logo {
                    width: auto;
                    height: 60px;
                    margin-top: 5px;
                }

                .navbar-toggle {
                    background-color: @color-yellow;
                    color: white;
                    margin-right: 0px;
                    width: 36px;
                    height: 36px;

                    .icon-bar {
                        background-color: white;
                        margin-left: -4px;
                    }
                }
            }

            .navbar-nav {
                margin-top: 0;
                margin-bottom: 0;
                font-family: DinPro-Light, Arial, sans-serif;
                font-size: 12pt;

                background-color: @color-darkyellow;

                @media (min-width: @screen-sm-min) {
                    background-color: transparent;
                    float: right;
                }

                li {
                    cursor: pointer;
                    cursor: hand;
                    border-bottom: 0.5px solid @color-yellow;

                    &.active {
                        font-family: DinPro-Medium, Arial, sans-serif;
                    }

                    a {
                        color: white;
                        text-align: center;
                        font-size: 14px;
                        height: 70px;
                        vertical-align: middle;
                        line-height: 40px;

                        &.double-line {
                            line-height: 18px;
                            padding-top: 18px;
                        }

                        &.top-combo-nav-link {
                            padding-bottom: 5px; 
                            padding-top: 15px;
                            text-align: center;
                        }

                        &.bot-combo-nav-link {
                            padding-bottom: 15px; 
                            padding-top: 5px;
                            text-align: center;
                        }

                        &.thick-link {
                            padding-top: 30px;
                            padding-bottom: 30px;
                        }
                    }

                    

                    a:hover, a:active, a:focus {
                        background-color: @color-yellow;
                        color: white;
                        outline: none;
                    }

                    @media (min-width: @screen-sm-min) {
                        border-bottom: 0px;

                        &.active {
                            font-family: DinPro-Medium, Arial, sans-serif;
                        }

                        a, a:visited {
                            color: white;
                        }
                        a:hover, a:active, a:focus {
                            background-color: transparent;
                            color: @color-yellow;
                            outline: none;
                        }
                    }
                }
            }
        }

    }
}

.user-body #top {
    background-color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: block;
    border: 1px solid @color-table-border;

    .container-header {
        padding: 0;

        .navbar {
            margin-bottom: 0px;

            .navbar-header {
                padding-left: 15px;
                padding-right: 15px;

                a:hover, a:visited, a:active, a:focus {
                    text-decoration: none;
                    outline: none;
                }

                #logo {
                    width: auto;
                    // height: 26px;
                    // margin-top: 12px;
                    height: 50px;
                    margin-top: 0px;
                }

                .nav-dashboard-text {
                    font-size: 8pt;
                    color: @color-yellow;
                    text-decoration: none;
                }

                .navbar-toggle {
                    background-color: @color-yellow;
                    color: white;
                    margin-right: 0px;
                    width: 36px;
                    height: 36px;

                    .icon-bar {
                        background-color: white;
                        margin-left: -4px;
                    }
                }
            }

            .navbar-nav{
                margin-top: 0;
                margin-bottom: 0;
                font-family: DinPro-Light, Arial, sans-serif;
                font-size: 12pt;

                background-color: @color-darkyellow;
                @media (min-width: @screen-sm-min) {
                    background-color: transparent;
                    float: right;
                }

                .open {
                    a.dropdown-toggle {
                        background-color: @color-yellow;
                        outline: none;

                        @media (min-width: @screen-sm-min) {
                            background-color: transparent;
                            color: @color-yellow;
                        }
                    }
                }

                li {
                    cursor: pointer;
                    cursor: hand;
                    border-bottom: 0.5px solid @color-yellow;

                    a {
                        color: white;
                    }

                    a:hover, a:active, a:focus {
                        background-color: @color-yellow;
                        color: white;
                        outline: none;
                    }

                    .dropdown-menu {
                        border: none;
                        padding: 0;
                        margin: 0;

                        a {
                            padding: 5px 40px;
                        }
                    }


                    @media (min-width: @screen-sm-min) {
                        border-bottom: 0px;

                        .dropdown-menu {
                            min-width: 86px;
                            border: none;
                            margin-top: 2px;
                            text-align: center;
                            a {
                                padding: 5px 10px;
                            }
                        }

                        &.active {
                            font-family: DinPro-Medium, Arial, sans-serif;
                        }

                        a, a:visited {
                            color: @color-grey;
                        }
                        a:hover, a:active, a:focus {
                            background-color: transparent;
                            color: @color-yellow;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}


/**
 * Body Styles
 */
.home-body {
   /* background-image: url('../img/classroom_tablet.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 50%;

    @media (min-width: @screen-sm-min) {
        background-size: 100% auto;
    }

    @media (min-width: @screen-sm-min) and (min-height: 200px) {
        background-size: auto 100%;
    }

    @media (min-width: @screen-md-min) and (min-height: 200px) {
        background-size: auto 100%;
    }

    @media (min-width: @screen-lg-min) and (min-height: 200px) {
        background-size: 100% auto;
    }
    */

    /**
     * Banner Style
     */

    .banner {
        padding: 60px 15px 80px 15px;
        top: 0px;
        width: 100%;
        height:auto;
        display: block;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media (min-width: 300px) {
            background-size: auto 100%;
        }

        @media (min-width: 500px) {
            background-size: 100% auto;
            background-position: top;
        }

        @media (min-width: @screen-sm-min) {
            background-size: 100% auto;
            background-position: center;
            padding-top: 200px;
        }

        h1 {
            color: white;
            font-family: DinPro-Bold, Arial, sans-serif;
            font-size: 28pt;
            text-align: center;
            text-shadow: 2px 2px 6px @color-darkgrey;
        }

        h3 {
            color: white;
            font-family: DinPro-Light, Arial, sans-serif;
            font-size: 14pt;
            text-align: center;
            text-shadow: 2px 2px 6px @color-darkgrey;
        }

        .btn-shadow {
            box-shadow: 2px 2px 8px @color-darkgrey;
        }
    }

    h1 {
        color: @color-yellow;
        font-family: DinPro-Bold, Arial, sans-serif;
        font-size: 26pt;
        text-align: center;

        @media (min-width: @screen-sm-min) {
            font-size: 28pt;
        }
    }

    h2 {
        font-size: 22pt;
        @media (min-width: @screen-sm-min) {
            font-size: 24pt;
        }
    }

    h3 {
        color: @color-grey;
        font-family: DinPro-Light, Arial, sans-serif;
        font-size: 14pt;
        text-align: center;
    }

    p {
        color: @color-grey;
        font-family: DinPro-Light, Arial, sans-serif;
        font-size: 12pt;
        text-align: center;

        &.text-bold {
            font-family: DinPro-Bold, Arial, sans-serif;
        }

        a {
            color: @color-yellow;

            &:hover, &:active, &:visited, &:focus{
                color: @color-yellow;
            }
        }
    }

    label {
        color: white;
        font-family: DinPro-Light, Arial, sans-serif;
        font-size: 14pt;
        text-align: center;
    }

    .label-control {
        label {
            color: @color-grey;
            float: right;
        }
    }

    label.label-grey-text {
        color: @color-grey;
    }

    input {
        width: 100%;
        height: 36px;
        border-radius: 4px;
        border: 1px solid @color-lightgrey;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    input.btn {
        border: none;
        // width: 50%;
        height: auto;
        // padding-left: 0px;

    }

    input#submit-button {
        float: none;

    }

    input#store_paypal_button {
        width: auto;
    }

    #learn-more {
        display: block;
        text-align: center;
        color: @color-yellow;

        &:hover, &:active, &:visited, &:focus{
            color: @color-yellow;
        }
    }

    #index-signup-login-tab{
        padding: 0;
        margin: 0;

        .ajaxformsubmit {
            font-size: 18px;
        }

        #signup-login-buttons-container {
            padding: 0;
            margin: 0;

            #btn-signup-container {
                margin: 0;
                padding-right: 1%;
                width: 50%;

                #btn-signup {
                    width: 100%;
                }
            }

            #btn-login-container {
                margin: 0;
                padding-left: 1%;
                width: 50%;

                #btn-login {
                    width: 100%;
                }
            }
        }

        .tab-content {
            margin-top: 20px;

            .nolabel-field-input {
                input {
                    width: 100%;
                    height: 36px;
                    border-radius: 4px;
                    border: 1px solid @color-lightgrey;
                    margin-bottom: 10px;
                    padding-left: 10px;
                }
            }

            .btn-enroll {
                width: 100%;
                height: auto;
                border-radius: 4px;
                font-size: 20pt;
            }

            .login-form-extra-url-container {
                text-align: center;
                a, a:active, a:focus, a:visited {
                    color: @color-darkyellow;
                }
            }
        }
    }

    #redeem_form {
        #id_redeem_code {
            width: 50%;
            text-align: center;
        }

        .redeem_response_container {
            margin-bottom: 10px;
        }
    }

    #index-content {
        padding-top: 0px;

        p {
            text-align: left;

            &.text-center {
                text-align: center;
            }

            &.welcome-text {
                text-align: center;
                font-size: 14pt;
            }

            &.welcome-text-lg {
                text-align: center;
                font-size: 16pt;
                font-family: DinPro-Medium, Arial, sans-serif;
            }
        }

        h1.welcome-header {
            font-size: 32pt;
        }

        .container {
            padding-top: 20px;

            &.no_topbot_padding {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }

        .container-fluid {
            padding: 30px 15px 10px 15px;
        }

        .centered-content {
            h1, h2, h3, h4, p {
                text-align: center;
            }

            h4 {
                margin-top: 15pt;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            ul {
                padding-left: 0px;
                margin-left: 8%;

                @media (min-width: @screen-sm-min) {
                    margin-left: 20%;
                }

                li {
                    font-size: 14pt;
                }
            }
        }

        .article-content{
            h1, h2, h3 {
                text-align: center;

                &.text-left {
                    text-align: left;
                }
            }

            h3 {
                margin-top: 18pt;
            }

            h4 {
                margin-top: 15pt;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            ul {
                padding-left: 20px;
                li {
                    font-size: 12pt;
                }
            }
        }

        .row-eq-height {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display:         flex;
        }

        .image-col {
            background: black url('../img/classroom_tablet.jpg') no-repeat center center;
            background-size: auto 100%;
        }

        .p-text-lg {
            padding-top: 15px;
            font-size: 14pt;
            font-family: DinPro-Medium, Arial, sans-serif;

            &.text-left {
                text-align: left;
            }
        }

        .highlight-text {
            color: @color-yellow;
            font-size: 14pt;
            font-family: DinPro-Medium, Arial, sans-serif;
        }

        .extra-top-padding {
            padding-top: 15px;
        }

        .section-row {
            h1 {
                color: white;
                font-size: 36pt;

                a {
                    color: white;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            h2 {
                text-align: center;
                color: white;
                font-size: 24pt;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            h3 {
                text-align: center;
                color: white;
                font-size: 20pt;
            }
        }

        .cc-bg-row {
            background: black url('../img/background-dark.jpg') no-repeat center bottom;

            h1 {
                color: white;
                text-align: center;
                padding-bottom: 20px;
                text-shadow: 1px 1px 4px black;
            }

            p {
                color: white;
                text-align: center;
                font-family: DinPro-Medium, Arial, sans-serif;
                font-size: 16pt;
                text-shadow: 1px 1px 4px black;
            }
        }

        .gray-row {
            background-color: @color-superlightgrey;

            h1 {
                color: @color-grey;
            }
        }

        .white-row {
            background-color: white;

            h2 {
                color: @color-green;
            }

            h3 {
                color: @color-yellow;
            }

            h4 {
                color: @color-grey;
            }
        }

        .yellow-row {
            background-color: @color-yellow;

            p {
                color: white;
            }
        }

        .green-row {
            background-color: @color-green;

            p {
                color: white;
            }

            h1 {
                color: white;
                font-size: 36pt;

                a {
                    color: white;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            h2 {
                text-align: center;
                color: white;
                font-size: 26pt;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            h3 {
                text-align: center;
                color: white;
                font-size: 20pt;
            }

        }

        .featured-container {
            padding: 0px 15px;

            @media (min-width: @screen-sm-min) {
                padding: 0px 40px;
            }

            .featured-section {
                align-content: flex-start;
                height: 60px;
                justify-content: space-between;
                padding: 20px 0px;
                display: flex;

                .copy {
                    font-size:20px; 
                    line-height: 16px;
                    vertical-align: middle;
                }

                .featured-img {
                    display: inline-block;
                    vertical-align: middle;
                    
                    height: 20px;

                    &.bloomberg {

                    }
                    &.fox {

                    }
                    &.cbs8 {

                    }
                    &.reuters {
                        display: none;
                        @media (min-width: @screen-sm-min) {
                            display: inline-block;
                        }
                    }
                    &.yahoofinance {
                        display: none;
                        @media (min-width: @screen-md-min) {
                            display: inline-block;
                        }
                    }
                    &.cliqist {
                        display: none;
                        @media (min-width: @screen-md-min) {
                            display: inline-block;
                        }
                    }
                    &.unity {
                        display: none;
                        @media (min-width: @screen-md-min) {
                            display: inline-block;
                        }
                    }
                    &.gamasutra {
                        display: none;
                        @media (min-width: @screen-md-min) {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .usp-cell {
            padding-bottom: 10px;

            h3 {
                margin-top: 0px;
            }
        }

        .cell-img {
            width: 100%;
            padding: 10px 0px;

            @media (min-width: @screen-xs-min) {
                width: 65%;
            }

            @media (min-width: @screen-sm-min) {
                width: 80%;
            }

            &.fixed-height{
                height: auto;
                width: 80%;

                @media (min-width: @screen-sm-min) {
                    height: 180px;
                    width: auto;
                }
            }
        }

        .round-img {
            border-radius: 50%;
        }

        #try-free-btn-container {
            text-align: center;
            @media (min-width: @screen-sm-min) {
                text-align: right;
            }
        }

        #btn-signup-now {
            font-size: 14px;
            @media (min-width: @screen-sm-min) {
                font-size: 18px;
            }
        }
        
    }
}

.user-body {
    h1 {
        font-family: DinPro-Bold, Arial, sans-serif;
        font-size: 16pt;
        text-align: left;
    }

    h1.text-center {
        text-align: center;
    }

    h2 {
        font-family: DinPro-Medium, Arial, sans-serif;
        font-size: 14pt;
        text-align: left;
    }

    h3 {
        font-family: DinPro-Medium, Arial, sans-serif;
        font-size: 12pt;
        text-align: center;
    }

    h3.full {
        color: @color-red;
    }

    h3.trial {
        color: @color-green;
    }

    h4 {
        font-family: DinPro-Light, Arial, sans-serif;
        font-size: 10pt;
        text-align: center;
    }

    h4.full {
        color: @color-red;
    }

    h4.trial {
        color: @color-green;
    }

    h5 {
        font-family: DinPro-Medium, Arial, sans-serif;
        font-size: 10pt;
        text-align: left;
    }

    input {
        /*width: 100%;*/
        height: 36px;
        border-radius: 4px;
        border: 1px solid @color-lightgrey;
        padding-left: 10px;
    }

    .select2-selection {
        padding-left: 2px;
        padding-top: 2px;
        height: 36px;

        .select2-selection__arrow {
            height: 36px;
        }
    }

    input[type='number'] {
        -moz-appearance:textfield;
        width: 100%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    // input[readonly] {
    //     background-color: yellow;
    // }

    input[type='button'] {
        border: none;
        margin-left: 5px;
    }

    input[type='submit'] {
        width: 100%;
        border: none;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    input[type='text'] {
        width: 100%;
    }

    .required {
        margin-bottom: 10px;

        .label-control {
            height: 36px;
            line-height: 36px;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;

                label {

                    input {
                        width: 10px;
                        text-align: left;
                        float: left;
                        margin-top: -6px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .country-select-flag {
            position: absolute;
            right: 30px;
            top: 8px;
        }
    }

    .version-container {
        box-shadow: 2px 2px 4px @color-table-border;
        padding-bottom: 10px;
        min-height: 215px;
    }
}

.select2-dropdown--open, .select2-dropdown--below, .select2-dropdown {
    top: -10px;
}

#schooluser-detail-panel {
    background-color: rgba(100, 20, 20, 0.5);
    padding: 20px 40px 60px 40px;

    h2 {
        color: @color-secondary;
    }

    .btn-login {
        border-radius: 2px;
        text-align: center;
        font-size: 24px;
        margin: 0 auto;
        width: 100%;
    }

    .login-form-extra-url {
        color: white;
        text-decoration: underline;

        &:hover {
            color: @color-secondary;
        }
    }

    .error_empty {
        margin: 2px auto;
        color: white;
        border: 1px solid @color-background-warning;
        background-color: @color-background-warning;
        border-radius: 4px;
        padding: 4px 8px;
        width: 50%;
    }

    p {
        color: white;

        li {
            color: white;
        }
    }
}

.form-quiz-sitting, #quiz-complete {
    // background-color: rgba(100, 20, 20, 0.5);
    padding: 20px 10px 10px 10px;

    @media (min-width: @screen-sm-min) {
        padding: 20px 40px 40px 40px;
    }

    h2 {
        font-family: DinPro-Medium, Arial, sans-serif;
        font-size: 20pt;
        color: @color-yellow;
    }

    .question_container {
        margin-bottom: 10px;

        .question_row {
            margin-bottom: 30px;

            .question_image {
                float: left;
                width: 200px;
                height: auto;

                @media (min-width: @screen-sm-min) {
                    float: left;
                }
            }

            .question_header {
                text-align: left;
                color: #62451d;
                font-size: auto;
                font-family: DinPro-Medium, Arial, sans-serif;
                padding: 0;
                margin: 0 20px;
                top: -20px;
                position: absolute;
                /*border: 0px;*/
                /*border-radius: 6px;*/

                &.question_correct {
                    color: @color-background-success;
                }

                &.question_wrong {
                    color: red;
                }
            }

            .speech-bubble {
                width: 75%;
                height: 120px;
                border: 40px solid transparent;
                -webkit-border-image: url('../img/Conversation_DialogueBox.png') round;
                -o-border-image: url('../img/Conversation_DialogueBox.png') round;
                border-image: url('../img/Conversation_DialogueBox.png') round;
                border-image-slice: 33.33%;
                background-color: #e4dbb8;
                border-radius: 40px;
                top: 70px;
                left: 130px;
                position: absolute;
                z-index: -1;

                @media (min-width: @screen-sm-min) {
                    width: 80%;
                }
            }

            /*.speech-bubble:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                top: 0;
                left: 50%;
                border-bottom-color: @color-yellow;
                border-top: 0;
                border-right: 0;
                margin-left: -10px;
                margin-top: -20px;

                @media (min-width: @screen-sm-min) {
                    left: 0;
                    top: 50%;
                    border: 20px solid transparent;
                    border-right-color: @color-yellow;
                    border-left: 0;
                    border-top: 0;
                    margin-top: -10px;
                    margin-left: -20px;
                }
            }*/
        }
    }

    .question_text {
        margin-bottom: 10px;

        input {
            width: 90%;
            height: 40px;
            font-size: 20px;
            text-align: center;

            @media (min-width: @screen-sm-min) {
                width: 50%;
            }
        }
    }

    .question_radio, .question_checkbox {
        margin-bottom: 15px;
        font-size: 16px;
        color: @color-grey;
        display: table;
        float: left;
        width: 100%;

        label {
            display:block;
            /*border:solid 1px gray;*/
            border: 15px solid transparent;
            -webkit-border-image: url('../img/Frame_Gold.png') round;
            -o-border-image: url('../img/Frame_Gold.png') round;
            border-image: url('../img/Frame_Gold.png') round;
            border-image-slice: 33.33%;
            // height:100%;
            height: 180px;
            width: 100%;
            padding: 10px;
            border-radius:10px;
            -webkit-font-smoothing: antialiased;
            margin-top:10px;
            font-family:DinPro-Light,sans-serif;
            color:@color-grey;
            text-align:center;
            font-size: 14px;

            .image_container {
                margin-top: 10px;
            }
        }

        input, label {
            cursor: pointer;
        }

        input[type=checkbox], input[type=radio] {
            display: none;
        }

        input:checked + label {
            /*border: solid 2px @color-green;*/
            border: 15px solid transparent;
            -webkit-border-image: url('../img/Frame_Gold.png') round;
            -o-border-image: url('../img/Frame_Gold.png') round;
            border-image: url('../img/Frame_Gold.png') round;
            border-image-slice: 33.33%;
            background-color: beige;
            color: @color-green;
        }

        input:checked + label:before {
            content: "\2713";
        }
    }

    .answer_image {
        width: 100%;
        cursor: pointer;
    }

    .error_empty {
        margin: 2px auto;
        color: white;
        border: 1px solid @color-background-warning;
        background-color: @color-background-warning;
        border-radius: 4px;
        padding: 4px 8px;
        width: 50%;
    }

    .canvasDiv canvas{
        margin-bottom: 10px;
        border: 1px solid @color-grey;
        background-color: white;
        width: 300px;
        width: 300px;

        // @media (min-width: @screen-sm-min) {
        //     width: 300px;
        //     width: 300px;
        // }
    }

    .quiz-complete-content {
        color: @color-grey;
        text-align: center;
    }

    p {
        color: @color-grey;

        li {
            color: @color-grey;
        }
    }

    .btn-form-next {
        right: 0px;
        top: 40px;
        padding: 0 20px;
        border: 15px solid transparent;
        -webkit-border-image: url('../img/Frame_Gold_Fill.png') round;
        -o-border-image: url('../img/Frame_Gold_Fill.png') round;
        border-image: url('../img/Frame_Gold_Fill.png') round;
        border-image-slice: 33.33%;
        background-color: #1b1517;
        border-radius: 15px;
        color: #DAD0C3;
        font-family:DinPro-Medium,sans-serif;
    }

    .btn-form-prev {
        left: 0px;
        top: 40px;
        padding: 0 20px;
        border: 15px solid transparent;
        -webkit-border-image: url('../img/Frame_Gold_Fill.png') round;
        -o-border-image: url('../img/Frame_Gold_Fill.png') round;
        border-image: url('../img/Frame_Gold_Fill.png') round;
        border-image-slice: 33.33%;
        background-color: #1b1517;
        border-radius: 15px;
        color: #DAD0C3;
        font-family:DinPro-Medium,sans-serif;
    }

    .btn-form-submit {
        right: 0px;
        top: 40px;
        padding-left: 20px;
        background-color: transparent;
        background-image: url('../img/Confirm_Button.png');
        background-repeat: no-repeat;
        height: 72px;
        width: 176px;
    }
}

#quizModal {
    .question_image {
        width: 100%;
    }

    .answer_image {
        width: 100%;
    }
}

form {
    fieldset {
        position: relative;
        display: none;

        &:first-of-type {
            display: block;
        }

        .required, .optional {
            margin-bottom: 10px;

            .field-input-container {
                .label-control {
                    text-align: left;
                    label {
                        max-width: 100%;
                        // color: white;

                        .required-star {
                            vertical-align:middle;
                            display: inline-block;
                            font-size: 20px;
                            line-height: 20px;
                            margin-right: 4px;
                            margin-top: 6px;
                        }
                    }
                }

                .field-control {
                    input[type='text'], input[type='email'], input[type='number'], input[type='password'], select, .select2 {
                        width: 100%;
                    }

                    &.input-checkboxselectmultiple {
                        ul {
                            list-style: none;
                            padding-left: 0px;

                            li {
                                padding: 10px 15px;
                                border: 1px solid #ddd;
                                background-color: #fff;
                                margin-bottom: -1px;

                                &:first-child {
                                    border: 1px solid #ddd;
                                    border-top-left-radius: 4px;
                                    border-top-right-radius: 4px;
                                }

                                &:last-child {
                                    border: 1px solid #ddd;
                                    border-bottom-left-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                }

                                input[type='checkbox'] {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }

                .star-control {
                    padding-left: 0px;
                    .required-star {
                        vertical-align:middle;
                        display: inline-block;
                        font-size: 30px;
                        line-height: 20px;
                        margin-right: 4px;
                        margin-top: 6px;
                        color: @color-secondary;
                    }
                }
            }
        }
    }

    .btn-form-next {
        float: right;
        position: relative;
        border-radius: 2px;
        padding-left: 60px;
        padding-right: 20px;
        font-size: 18px;
        right: -20px;

        @media (min-width: @screen-sm-min) {
            font-size: 24px;
        }
    }

    .btn-form-prev {
        float: left;
        position: relative;
        border-radius: 2px;
        padding-right: 60px;
        padding-left: 20px;
        font-size: 18px;
        left: -20px;

        @media (min-width: @screen-sm-min) {
            font-size: 24px;
        }
    }

    .btn-form-submit {
        float: right;
        position: relative;
        display: none;
        border-radius: 2px;
        padding-left: 60px;
        padding-right: 20px;
        font-size: 16px;
        right: -20px;

        @media (min-width: @screen-sm-min) {
            font-size: 24px;
        }
    }


}

.form-centered {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media (min-width: @screen-sm-min) {
        width: 80%;
    }

    h2, fieldset {
        text-align: center;
    }

    .help-block {
        text-align: left;
    }
}

.invite-license-modal-form {
    .label-control {
        label {
            float: right;
        }
    }
}

/**
 * Welcome Dashboard Styles
 */
#welcome-content{
    #btn-request-trial-container {
        @media (min-width: @screen-md-min) {
            padding: 0 0.5% 3px 0;
        }

        padding: 0 0 5px 0;

        #btn-request-trial {
            width: 100%;
        }
    }

    #btn-license-management-container {
        @media (min-width: @screen-md-min) {
            padding: 0 0 0 0.5%;
        }

        padding: 0 0 5px 0;

        #btn-license-management {
            width: 100%;
        }
    }
}


/**
 * License Management Styles
 */
.license-search-form-container {
    margin: 10px 0;
    padding: 0;
    display: inline-block;

    .license-search-box {
        margin: 0;
        padding: 0;

        #search_box {
            width: 99%;
            height: 33px;
            padding: 0 10px;
            border-radius: 4px;
            border: 1px solid @color-lightgrey;
        }
    }

    .license-search-submit {
        margin: 0;
        padding: 0;

        #search_submit {
            width: 100%;
            height: 33px;
            padding: 0;
            margin: 0;
            border: 1px solid @color-lightgrey;
        }
    }
}

.license-cta-btns-container{
    padding-top: 0;
    display: inline-block;

    .license-cta-btns {
        padding: 0;
        float: left;
    }

    @media (min-width: @screen-sm-min) {
        padding-top: 20px;

        .license-cta-btns {
            padding: 0;
            float: right;
        }
    }
}

.license-summary {
    padding: 0;
    display: inline-block;

    .row + .license-summary-numbers-container {
        padding: 0 2px 0 0;
    }

    .license-summary-numbers-container {
        padding: 0;

        &:last-of-type {
            padding: 0 0 0 2px;
        }

        .license-summary-numbers {
            text-align: center;
            padding: 5px 0px 5px 0px;
            border: 1px solid @color-numbers-border;
            border-radius: 4px;
        }
    }
}

.license-options-container {
    display: inline-block;
    padding-top: 23px;
}

.license-table {
    display: inline-block;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px @color-table-border;

    .license-header-row {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        height:30px;
        line-height: 28px;
        margin: 0;
        padding: 0 15px;
        background-color: @color-table-border;

    }

    .license-header-cell {
        overflow: hidden;
        text-align: left;
        margin: 0;
        padding: 0 5px;
        font-family: DinPro-Medium, Arial, sans-serif;
    }

    .license-row {
        display: flex;
        align-items: center;
        width: 100%;
        height: 75px;
        margin: 0;
        padding: 0 15px;
        background-color: none;
        border-top: none;
        border-bottom: 1px solid @color-table-border;
/*        border-left: 1px solid @color-table-border;
        border-right: 1px solid @color-table-border;*/
    }

    .license-cell {
        text-align: left;
        margin: auto 0;
        padding: 0 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .license-icons {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .license-userdetails {
        text-align: left;
        margin: 0;
        margin-top: 0;
        padding: 0 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .license-actions {
        padding:0;

        .cancel-invitation {
            color: @color-red;
        }
    }

    .license-moreinfo {
        // display: inline-block;
        width: 100%;
        height: 42px;
        line-height: 18px;
        margin: 0;
        margin-top: -4px;
        padding: 0;
        background-color: @color-table-moreinfo-background;
        border-bottom: 1px solid @color-table-border;

        .license-moreinfo-cell {
            text-align: left;
            float: left;
            margin: 0;
            padding: 0 5px;

            #btn-cancel-invitation {
                float: right;
                margin-top: 6px;
                font-size: 7pt;
            }
        }
    }

    nav.pagination-nav {
        text-align: center;

        .left-li {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .right-li {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.invite-container {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;

    .invite-buttons-container {
        padding: 0;
        margin: 0;
    }

    #tab_bulk_invite_all {
        // display: none;
        width: 100%;
        padding: 0;
        margin-top: 5px;

        &.active {
            display: block;
        }


        #all_csv_form{
            padding: 10px;
            background-color: white;
            box-shadow: 2px 2px 4px @color-table-border;

            .row {
                margin: 5px 0;
            }

            .form-title {
                padding: 0;
                line-height: 34px;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            .form-input-container {
                padding: 0;
                margin:0;

                #id_role {
                    list-style: none;
                    margin-top: 9px;
                    padding-left: 0px;

                    input {
                        width: auto;
                        height: auto;
                        cursor: pointer;
                    }
                }
                .role {
                    text-align: left;
                    display: inline;
                    margin-top: 9px;
                    width: 10%;
                }
            }

            .form-submit-btn-container {
                padding: 0;
                margin: 0;

                .btn-cancel-invite {
                    height: auto;
                    width: 98%;
                    border: none;
                }

                .btn-send-invite{
                    height: auto;
                    width: 100%;
                    border: none;
                }
            }

            input {
                padding-left: 5px;
                margin-bottom: 5px;
                width: 100%;
                border-radius: 4px;
                border: 1px solid @color-grey;

                &[type="text"] {
                    height: 33px;
                }

                &[type="email"] {
                    height: 33px;
                }

                &[type="file"] {
                    opacity: 0;
                    top: -1px;
                    left: 0;
                    position: absolute;
                    cursor: pointer;
                    width: 70px;
                    /*height: 33px;
                    color: white;
                    background-color: white;
                    border: 1px solid white;
                    color: black;*/

                }

                @media (min-width: @screen-sm-min) {
                    margin-bottom: 0px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.license-tabs-container{
    margin-top: 10px;
    padding: 0;
    display: inline-block;

    .license-tabs {
        border: 0px;

        /*.col-xs-7 {
            padding:0px;
        }

        .col-xs-5 {
            padding:0px;
        }*/

        li {
            display: inline-block;
            text-align: center;
            width:40%;

            a {
                text-decoration: none;
                font-size: 10pt;
                font-family: DinPro-Light, Arial, sans-serif;
                color: @color-tab-inactive;
                cursor: pointer;

                border: 1px solid @color-tab-inactive;
                border-bottom: 1px solid @color-tab-active;
                border-radius: 4px 4px 0 0;
                margin-right: 0px;
                padding-bottom: 9px;

                &:hover {
                    color: white;
                    background-color: @color-tab-active;
                    border: 1px solid @color-tab-active;
                }

                &:active {
                    font-size: 12pt;
                    font-family: DinPro-Bold, Arial, sans-serif;
                    color: @color-tab-active;

                    background-color: transparent;
                    border: 1px solid @color-tab-active;
                    border-bottom: 0px;
                    padding-bottom: 7px;
                }
            }
        }

        li.active {
            width:60%;
            text-align: center;

            a, a:hover, a:active, a:visited, a:focus {
                font-size: 12pt;
                font-family: DinPro-Bold, Arial, sans-serif;
                color: @color-tab-active;

                background-color: transparent;
                border: 1px solid @color-tab-active;
                border-bottom: 0px;
                padding-bottom: 7px;
                outline: 0;
            }
        }
    }

    .tab-content {
        #tab_full_accounts, #tab_trial_accounts {
            border: 1px solid @color-tab-active;
            border-top: 0px;
            padding-top: 1px;
        }

        .license-numbers-container {
            ul.license-numbers {
                display: block;
                list-style: none;
                padding: 0px;

                li {
                    width: 23.5%;
                    float: left;
                    text-align: center;
                    border: 1px solid @color-numbers-border;
                    margin: 1%;
                    border-radius: 4px;
                    padding: 5px 0px 5px 0px;

                    .license-numbers-title {
                        font-size: 9pt;
                    }

                    .license-numbers-number {
                        font-size: 14pt;
                        font-family: DinPro-Bold, Arial, sans-serif;
                    }
                }

                .first {
                    margin-left: 0;
                }

                .last {
                    margin-right: 0;
                }

                .invited {
                    color: @color-green;
                }

                .activated {
                    color: @color-yellow;
                }
            }
        }

        .license-table {
            display: inline-block;
            width: 100%;
            margin-top: 5px;
            padding: 0;

            .license-header-row {
                display: inline-block;
                width: 100%;
                height:30px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                background-color: @color-table-header-row-background;
                border-top: 1px solid @color-table-border;
                border-bottom: 1px solid @color-table-border;
            }

            .license-header-cell {
                text-align: left;
                margin: 0;
                padding: 0 5px;
                font-family: DinPro-Medium, Arial, sans-serif;
            }

            .license-row {
                display: inline-block;
                width: 100%;
                height:34px;
                line-height: 30px;
                margin: 0;
                margin-top: -4px;
                padding: 0;
                background-color: none;
                border-top: none;
                border-bottom: 1px solid @color-table-border;
            }

            .license-cell {
                text-align: left;
                margin: 0;
                margin-top: 0;
                padding: 0 5px;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .first, .last {
                text-align: center;
            }

            .license-moreinfo {
                // display: inline-block;
                width: 100%;
                height: 42px;
                line-height: 18px;
                margin: 0;
                margin-top: -4px;
                padding: 0;
                background-color: @color-table-moreinfo-background;
                border-bottom: 1px solid @color-table-border;

                .license-moreinfo-cell {
                    text-align: left;
                    float: left;
                    margin: 0;
                    padding: 0 5px;

                    #btn-cancel-invitation {
                        float: right;
                        margin-top: 6px;
                        font-size: 7pt;
                    }
                }
            }
        }

        .invite-container {
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 30px;

            .invite-buttons-container {
                padding: 0;
                margin: 0;
            }

            #tab_bulk_invite_all {
                display: none;
                width: 100%;
                margin-top: 20px;
                padding: 0;

                &.active {
                    display: block;
                }


                #all_csv_form{
                    .row {
                        margin: 0 0 5px 0;
                        padding: 0;
                    }

                    .form-title {
                        padding: 0;
                        line-height: 34px;
                        font-family: DinPro-Medium, Arial, sans-serif;
                    }

                    .form-input-container {
                        padding: 0;
                        margin:0;

                        #id_role {
                            list-style: none;
                            margin-top: 9px;
                            padding-left: 0px;

                            input {
                                width: auto;
                                height: auto;
                                cursor: pointer;
                            }
                        }
                        .role {
                            text-align: left;
                            display: inline;
                            margin-top: 9px;
                            width: 10%;
                        }
                    }

                    .form-submit-btn-container {
                        padding: 0;
                        margin: 0;

                        .btn-cancel-invite {
                            width: 100%;
                            margin-right: 1%;
                            border: none;
                        }

                        .btn-send-invite{
                            width: 100%;
                            margin-left: 1%;
                            border: none;
                        }
                    }

                    input {
                        padding-left: 5px;
                        margin-bottom: 5px;
                        width: 100%;
                        border-radius: 4px;
                        border: 1px solid @color-grey;

                        &[type="text"] {
                            height: 33px;
                        }

                        &[type="email"] {
                            height: 33px;
                        }

                        &[type="file"] {
                            height: 33px;
                            color: white;
                            background-color: white;
                            border: 1px solid white;
                            color: black;
                            cursor: pointer;
                        }

                        @media (min-width: @screen-sm-min) {
                            margin-bottom: 0px;
                            margin-right: 5px;
                        }
                    }

                    .download-template-link {
                        display: block;
                        padding: 4px 0px;

                        a, a:active, a:visited, a:focus {
                            color: #999;
                        }

                        a:hover {
                            color: white;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

#export-csv-container {
    display: inline-block;
    text-align: right;
    padding-top: 20px;
}

.report-section {
    position: fixed;
    top:10px;

    @media (min-width: @screen-sm-min) {
        position: relative;
        top:auto;
    }

    .report-container {
        background-color: @color-background-success;
        padding: 10px 20px;
        display: none;

        @media (min-width: @screen-sm-min) {
            background-color: rgba(0, 200, 30, 0.5);
        }

        i {
            font-size: 20px;
            cursor: pointer;
        }
    }
}

// QUIZ
#quiz_report {
    .quiz-answer-list {
        list-style: none;
        padding-left: 0px;
    }

    .panel-toggle-whole {
        padding: 0px;
        a {
            padding: 10px 15px;
            display: block;
            width: 100%;
            height: 100%;
            color: @color-grey;

            &:hover {
                text-decoration: none;
                background-color: @color-lightgrey;
                color: white;
            }
        }

    }
}



/**
 * Message Styles
 */
.messages {
    list-style: none;
    width: 300px;
    z-index: 9999;
    position: fixed;
    top: 30px;
    right: 0px;

    li {
        display: none;
        position: relative;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        margin: 0px 10px 5px 0px;
        text-align: left;

        &.success {
            background-color:@color-background-success;
            border: 1px solid @color-border-success;
        }

        &.warning {
            background-color:@color-background-warning;
            border: 1px solid @color-border-warning;
        }
    }

}

#loading-message {
    z-index: 9999;
    position: fixed;
    width: 120px;
    height: 30px;
    padding-top: 4px;
    margin-left: -60px;
    left: 50%;
    top: 10px;
    background-color: @color-background-warning;
    text-align: center;
    border-radius: 10px;
    display: none;

    @media (min-width: @screen-sm-min) {
        top: 30px;
    }
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0 0 0;
  // margin-top: 30px;
  color: white;
  font-size: 14px;

  @media (min-width: @screen-sm-min) {
    padding: 30px 0 0 0;
    bottom: -20px;
  }
}

/**
 * Table Styles
 */
.faq-table {
    th {
        text-align: center;
        font-size: 18px;
        
        &.header-yellow {
            background-color: @color-yellow;
            color: white !important;
            border-radius: 10px 10px 0px 0px;
        }
        
        &.header-green {
            background-color: @color-green;
            color: white !important; 
            border-radius: 10px 10px 0px 0px;
        }

        &.no-border {
            border: 0px;
            background-color: transparent;
        }
    }

    td {
        border: 1px solid @color-lightergrey;
        text-align: center;
    }
}
