{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body_class %}user-body{% endblock %}

{% block title %}Activation Email Sent{% endblock %}


{% block main %}
{% if mode == 1 %}
  <h2>ACTIVATION EMAIL SENT!</h2>
  <p>Please check your email inbox or inside your spam folder for the activation email.</p>
{% elif mode == 2 %}
    <h2>YOUR ACCOUNT IS ALREADY ACTIVATED</h2>
    <p>Please <a href="{% url 'login' %}">log in</a> to start using ChemCaper<sup>&reg;</sup> EDU.</p>
{% elif mode == 3 %}
    <h2>OOPS!</h2>
    <p>We couldn't find your account! Please make sure the email entered is correct or confirm that you have already <a href="{% url 'home' %}">signed up</a> for a ChemCaper<sup>&reg;</sup> EDU Account.</p>
{% endif %}
{% endblock %}