{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            h1   {font-family: "Arial";}
            p    {font-family: "Arial";}
            .activate-btn {width: 230px;
                            color: #ffffff;
                            display: inline-block;
                            font-family: helvetica,Arial;
                            font-size: 16px;
                            line-height: 30px;
                            text-align: center;
                            font-weight: bold;
                            text-decoration: none;}
        </style>
    </head>
    <body>
        <div style="width: 100%; background-color: #f6f6f6; padding-top: 30px; padding-bottom: 30px;">
            <div style="width:80%; margin: 0 auto;">
                <div style='text-align: left; background-image: url("{{ site }}{% static 'img/CC-logo-simplified.png' %}"); background-size: 200px auto; background-repeat: no-repeat; width:200px; height:46.5px;'></div>

                <div style="background-color: #ffffff; margin: 10px auto; padding: 20px">
                    <div style="text-align: left;">
                        <h1>Thank you for registering for our ChemCaper<span class="registered-trademark">&reg;</span> Pilot Program.</h1>
                    </div>
                    <div style="text-align: justify;">
                        <p>Hi <b>{{ user.first_name }}</b>, </p>
                        <p>Please activate your account within {{ expiration_days }} days.</p>
                        <p>You can activate your account using this link: {{ activation_url }}</p>
                    </div>
                </div>
                <div style="text-align: center; padding-left: 20px; padding-right: 20px;">
                    <a href="https://www.facebook.com/chemcaper/" style="display:block; background-image: url('{{ site }}{% static "img/fb.png" %}'); background-size: 25px 25px; background-repeat: no-repeat; width: 25px; height:25px; margin: 20px auto 0px auto;"></a>
                    <p><small>Need help? Just drop us an email at support@chemcaper.com</small></p>
                </div>
            </div>
        </div>
    </body>
</html>