{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body_class %}user-body{% endblock %}

{% block title %}Resend Activation Email{% endblock %}

{% block main %}
    <h2>COULDN'T FIND YOUR ACTIVATION EMAIL?</h2>
	  <p>If you did not receive an email to activate your ChemCaper<sup>&reg;</sup> EDU Account, enter your email here to receive your activation email again</p>
	  <form action="{% url 'users_resend_activation_email_form' %}" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button class="btn-green btn" type="submit">Resend Activation Email</button>
	  </form>
{% endblock %}