{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body_class %}user-body{% endblock %}

{% block title %}Activate your account{% endblock %}

{% block main %}
  <h2>Activate your account</h2>
  <p>Please check your email for the activation link.</p>
  <p>Or, resend activation email to your email.</p>
  <form action="{% url 'users_resend_activation_email' %}" method="post">
    {% csrf_token %}
    <p>
        <label for='email'>Email</label>
        <input type="text" name="email" maxlength="200" required />
    </p>
    <button type="submit">Resend Activation Email</button>
  </form>
{% endblock %}