{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body_class %}user-body{% endblock %}

{% block title %}Account is Activated{% endblock %}

{% block container_id %}account_activated{% endblock %}

{% block main %}
	  <h2>YOUR CHEMCAPER<sup>&reg;</sup> EDU ACCOUNT HAS BEEN ACTIVATED!</h2>
	  <p>Welcome to ChemCaper<sup>&reg;</sup> EDU!</p>
	  <p>You will be redirected to the login page in <span class="redirect_timer"></span> seconds.</p>
	  <p>If the redirect is not working, please log in <a href="{% url 'signup_login' %}#tab_login">here</a>.</p>
{% endblock %}