{% extends 'base.html' %}
{% load i18n staticfiles form_utils %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        <form method="post" id="login-form" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <h2>ChemCaper<sup>&reg;</sup> EDU Login</h2>
            <fieldset>
              <div class="required">
                  <div class="row field-input-container">
                      <div class="col-sm-12 field-control input-textinput">
                          <input autofocus="" id="id_username" maxlength="254"
                          name="username" type="text" placeholder="Email" required />
                      </div>
                  </div>
              </div>

              <div class="required">
                  <div class="row field-input-container">
                      <div class="col-sm-12 field-control input-passwordinput">
                          <input id="id_password" name="password" type="password"
                          placeholder="Password" required />
                      </div>
                  </div>
              </div>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="field-errors-container">
                    <div class="help-block error-block">
                        <span class="fa fa-exclamation-triangle"></span> {{ error }}
                    </div>
                </div>
                {% endfor %}
              {% endif %}
            </fieldset>
          <button type="submit" class="btn btn-lg btn-warning btn-login">Login</button>

          <a href="{% url 'auth_password_reset' %}" class="login-form-extra-url">Forgot your password?</a>
          <span style="color:white;"> | </span>
          <a href="{% url 'users_resend_activation_email_form' %}" class="login-form-extra-url">Resend Activation Email</a>
        </form>

    </div>
    <div class="col-md-6"></div>
</div>

{% endblock %}