<form method="post" id="login-form" action="{% url 'auth_login' %}" data-redirect="{% if store_url %}{{ store_url }}{% else %}{% url 'schooluser_management' %}{% endif %}">
    {% csrf_token %}
    {% with form as fields %}
        {% for field in fields %}
            {% include "form_utils/fields_as_lis-nolabel.html" %}
        {% endfor %}
    {% endwith %}

    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <input class="btn btn-yellow ajaxformsubmit" type="submit" value="LOG IN" />
        </div>
    </div>

    <div class="container-fluid login-form-extra-url-container">
        <a href="{% url 'auth_password_reset' %}" class="login-form-extra-url">Forgot your password?</a>
        <span style="color: @color-darkyellow;"> | </span>
        <a href="{% url 'users_resend_activation_email_form' %}" class="login-form-extra-url">Resend Activation Email</a>
    </div>
</form>