{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %}user-body{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h1>You are logged out.</h1>
    </div>
</div>
{% endblock %}