{% extends 'base.html' %}
{% block body_class %}user-body{% endblock %}
{% block main %}
  <h2>FORGOT YOUR PASSWORD?</h2>
  <p>Enter your email here, and we will send the password reset link to you.</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-green btn" type="submit">Submit</button>
  </form>
{% endblock %}