{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body_class %}user-body{% endblock %}
{% block title %}Activate your account{% endblock %}

{% block main %}
  <h2>Activate your account</h2>
  <p>Hello {{ user.get_full_name }} ({{ user.email }})!</p>
  <p>Please set your password.</p>
  <form action="{% url 'set_password_before_activate' activation_key %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Set Password</button>
  </form>
{% endblock %}