{% extends 'base.html' %}
{% block body_class %}user-body{% endblock %}
{% block main %}
  {% if validlink %}
    <h2>CHANGE YOUR PASSWORD</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn-green btn" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}