{% extends 'base.html' %}
{% block body_class %}user-body{% endblock %}
{% block main %}
  <h2>YOUR PASSWORD HAS BEEN RESET</h2>
  <p>
    You may go ahead and <a href="{% url 'home' %}">log in</a> now.
  </p>
{% endblock %}