{% extends 'base.html' %}
{% block body_class %}user-body{% endblock %}
{% block main %}
	<h2>RESET YOUR PASSWORD</h2>
  <p>
    We've emailed you instructions for resetting your password. You should receive them shortly.
  </p>
  <p>
    If you didn't receive the email, please make sure that you've entered the email address you registered with, and check your spam folder.
  </p>
{% endblock %}