{% extends "form_utils/form.html" %}

{% block fields %}
    {% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}" data-page="{{ forloop.counter }}">
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}

        {% with fieldset as fields %}
            {% for field in fields %}
                {% include "form_utils/fields_as_lis.html" %}
            {% endfor %}
        {% endwith %}

    </fieldset>
    {% endfor %}
{% endblock %}
