{% load i18n widget_tweaks cc_tags %}


<div class="required">
    <div class="row field-input-container">
        <div class="col-sm-4 label-control">
            <label>
                {{ fieldname }}
            </label>

        </div>
        <div class="col-sm-8 field-control">
            {{ field_value }}
            <div class="hide">
                {{ field }}
            </div>
        </div>
    </div>
</div>


