{% load i18n widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div{% if field.row_attrs %}{{ field.row_attrs }}{% else %} class="{% if field.field.required %}required{% else %}optional{% endif %}"{% endif %}>
    {% with field_type=field|field_type|lower widget_type=field|widget_type|lower %}
        <div class="row field-input-container">
            <div class="col-sm-4 label-control">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                        <span class="required-star">*</span>
                    {% endif %}
                </label>

            </div>
            <div class="col-sm-8 field-control input-{{ widget_type }}">
                {% if widget_type == "countryselectwidget" or widget_type == "select" or widget_type == "select2widget" %}
                    <div class="select-container">
                    {{ field }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}

                {% if field.help_text %}
                    <div class="help-block"><i class="fa fa-info-circle"></i> {{ field.help_text|safe }}</div>
                {% endif %}

                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="field-errors-container">
                        <div class="help-block error-block">
                            <span class="fa fa-exclamation-triangle"></span> {{ error }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% comment %}
            <div class="col-sm-1 star-control">
                {% if field.field.required %}
                    <span class="required-star">*</span>
                {% endif %}
            </div>
            {% endcomment %}
        </div>
    {% endwith %}
    </div>
{% endif %}

