{% block errors %}
    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
{% endblock %}

{% block fields %}
{% if form.fieldsets %}
    {% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}" data-page="{{ forloop.counter }}">
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}

        {% with fieldset as fields %}
            {% for field in fields %}
                {% include "form_utils/fields_as_lis.html" %}
            {% endfor %}
        {% endwith %}

    </fieldset>
    {% endfor %}
{% else %}
    <fieldset class="fieldset_main" data-page="1">

    {% with form as fields %}
        {% for field in fields %}
            {% include "form_utils/fields_as_lis.html" %}
        {% endfor %}
    {% endwith %}

    </fieldset>
{% endif %}
{% endblock %}

{% block form_bottom %}
    {% if form.fieldsets|length > 1 %}
        <button class="btn-form-prev btn btn-lg btn-warning">PREV</button>
        <button class="btn-form-next btn btn-lg btn-warning">NEXT</button>
    {% endif %}

    <input class="btn-form-submit btn btn-lg btn-green" id="submit-button" type="submit" value="SUBMIT" />
{% endblock %}
