{% load i18n staticfiles seo_tags cc_tags %}
<!doctype HTML>
<html class="no-js" lang="en">
    <head>
        {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:site_name" content="ChemCaper EDU">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
        {% get_meta_tags request %}
        {% endblock %}

        <title>{% block pagetitle %}{% endblock %}</title>

        {# 3rd-party maintained CSS libraries #}
        {% block base_styles %}
            <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome-4.3.0/css/font-awesome.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datepicker/css/bootstrap-datetimepicker.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'lib/nprogress/nprogress.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-lightbox/ekko-lightbox.min.css' %}">
            {% if form and form.media and form.media.css %}
                {{ form.media.css }}
            {% else %}
                <link rel="stylesheet" type="text/css" href="{% static 'lib/select2/4.0.3/css/select2.min.css' %}">
            {% endif %}
        {% endblock %}

        {# This website's very own css #}
        {% block user_styles %}
            <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/cc_savefile.css' %}">
        {% endblock %}

        {# 3rd-party maintained library #}
        {% block base_scripts %}
            <script src="{% static 'lib/jquery-2.1.3.min.js' %}"></script>
            <script src="{% static 'lib/moment.js' %}"></script>
            <script src="{% static 'lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
            <script src="{% static 'lib/bootstrap-lightbox/ekko-lightbox.min.js' %}"></script>
            <script src="{% static 'lib/lazy-load.js' %}"></script>
            <script src="{% static 'lib/nprogress/nprogress.js' %}"></script>
            <script src="{% static 'lib/date.js' %}"></script>
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <!--[if lte IE 8]><script type="text/javascript" src="lib/excanvas.js"></script><![endif]-->
            {# better to use the full select2 js for 1st char search matching #}
            {% if form and form.media and form.media.js %}
                {{ form.media.js }}
            {% else %}
                <script src="{% static 'lib/select2/4.0.3/js/select2.full.js' %}"></script>
            {% endif %}
        {% endblock %}

        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104738562-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-104738562-1');
        </script>

    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {# Header - usually contains branding & navigation #}
        {% block header %}
        <header class="header" id="top">
            <div class="container container-header">
                <div class="clearfix">
                    <div class="navbar {% block header_navclass %}{% endblock %}" id="cc-navbar">
                    	{# <div class="container"> #}
                    	<div class="navbar-header">
                            {% url 'home' as home_url %}
                            {% url 'signup_login' as signuplogin_url %}
                            {% url 'license_redeem' as redeem_url %}
                            {% url 'register_thank_you' as registerty_url %}
                            {% url 'registration_activation_complete' as registeractivationcomplete_url %}
                            {% url 'users_resend_activation_email_form' as resendactivationemail_url %}
                            {% url 'auth_password_reset' as resetpwd_url %}
                            {% url 'auth_password_reset_done' as resetpwddone_url %}
                            {% url 'auth_password_reset_confirm' as resetpwdconfirm_url %}
                            {% url 'auth_password_reset_complete' as resetpwdcomplete_url %}

                            {% url 'login_welcome' as welcome_url %}
                            {% url 'schooluser_management' as licensemanagement_url %}
                            {% url 'schooluser_detail' as accountsettings_url %}
                            {% url 'auth_logout' as logout %}

                        	{% if request.user.is_authenticated %}
                                {% if request.path|is_normal_nav_urls %}
                                {# {% if request.path == home_url or request.path == signuplogin_url or request.path == redeem_url or 'license/activate/' in request.path or request.path == registerty_url or request.path == resendactivationemail_url or 'users/resend-activation-email-success/' in request.path or request.path == registeractivationcomplete_url or request.path == resetpwd_url or request.path == resetpwddone_url or request.path == resetpwdconfirm_url or request.path == resetpwdcomplete_url %} #}
                                    <a href="{% url 'home' %}" target="_self">
                                        {# <img src={% static 'img/CC-logo-simplified.png' %} id="logo"> #}
                                        <img src={% static 'img/ChemCaper-Logo.png' %} id="logo">
                                    </a>
                                {% else %}
                                    <a href="{% url 'schooluser_management' %}" target="_self">
                                        {# <img src={% static 'img/CC-logo-simplified.png' %} id="logo"> #}
                                        <img src={% static 'img/ChemCaper-Logo.png' %} id="logo">
                                        <span class="nav-dashboard-text">DASHBOARD</span>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'home' %}" target="_self">
                                    {# <img src={% static 'img/CC-logo-simplified.png' %} id="logo"> #}
                                    <img src={% static 'img/ChemCaper-Logo.png' %} id="logo">
                                </a>
                            {% endif %}
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                        	<ul class="nav navbar-nav">
	                            <!-- <li>
	                                <a href="{% url 'home' %}"><span>Home</a>
	                            </li>
                                <li{% if request.path == "/accounts/login/" %} class="active"{% endif %}>
                                    <a href="{% url 'auth_login' %}"><span>Log in</span></a>
                                </li> -->

                                {% if request.path|is_normal_nav_urls %}
                                    <li>
                                        <a href="{% if request.path != '/' %}{% url 'home' %}{% endif %}#howitworks">HOW IT WORKS</a>
                                    </li>

                                    <li>
                                        <a href="{% if request.path != '/' %}{% url 'home' %}{% endif %}#testimonials">TESTIMONIALS</a>
                                    </li>

                                    <li>
                                        <a href="{% if request.path != '/' %}{% url 'home' %}{% endif %}#awards" class="double-line">AWARDS &amp;<br>RECOGNITIONS</a>
                                    </li>

                                    <li>
                                        <a href="{% if request.path != '/' %}{% url 'home' %}{% endif %}#whyitworks">WHY IT WORKS</a>
                                    </li>
                                {% endif %}

	                            {% if request.user.is_authenticated %}
                                    {% if request.path|is_normal_nav_urls %}
                                        <li>
                                            <a href="{% url 'schooluser_management' %}">DASHBOARD</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'auth_logout' %}" class="double-line">
                                            LOG OUT
                                            <br>
                                            <small>({% firstof request.user.get_full_name request.user.username %})</small>
                                        </a>
                                        </li>
                                    {% else %}
                                        <li{% if request.path == "/users/management/" %} class="active"{% endif %}>
                                            <a href="{% url 'schooluser_management' %}">Licenses</a>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Account</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a tabindex="-1" href="{% url 'schooluser_detail' %}">Profile</a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" href="{% url 'auth_logout' %}"><span>Log out</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li{% if request.path == "/signup-login/" %} class="active"{% endif %}>
                                        <a {% if request.path == "/signup-login/" %}data-toggle="tab" href="#tab_login"{% else %}href="{% url 'signup_login' %}#tab_login"{% endif %}>LOG IN</a>
                                    </li>
		                        {% endif %}

                                {% block extra_nav_items %}
                                {% url 'cart' as cart_url %}
                                <li>
                                    {% if request.user.is_authenticated %}
                                        <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
                                    {% else %}
                                        <a {% if request.path == "/signup-login/" %}href="#tab_login" data-toggle="tab"{% else %}href="{% url 'signup_login' %}#tab_login" data-toggle="ajax_modal"{% endif %}>
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endblock %}
                         	</ul>
                        </div><!--/.nav-collapse -->
                      	{# </div> #}
                    </div>

                    {% comment %}
                    <div class="pull-right">
                        <nav class="navbar {% block header_navclass %}{% endblock %}" id="cc-navbar">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{% url 'home' %}"><span>Home</a>
                                </li>

                                {% if request.user.is_authenticated %}
                                <li{% if request.path == "/users/management/" %} class="active"{% endif %}>
                                    <a href="{% url 'schooluser_management' %}"><span>Licence</span></a>
                                </li>
                                {% endif %}

                                <li>
                                    <a href="">Report</a>
                                </li>

                                {% if request.user.is_authenticated %}
                                <li>
                                    <a href="">Account</a>
                                </li>

                                <li>
                                    <a href="{% url 'auth_logout' %}"><span>Log out</span></a>
                                </li>
                                {% else %}
                                <li{% if request.path == "/accounts/login/" %} class="active"{% endif %}>
                                    <a href="{% url 'auth_login' %}"><span>Log in</span></a>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                    {% endcomment %}

                    {# <div class="pull-left" style="position: relative;"> #}
                        {# <h1 class="branding"><a href="{% if request.path == '/' %}#top{% else %}{% url 'home' %}{% endif %}">ChemCaper Pilot Program</a></h1> #}
                    {# </div> #}

                </div>
            </div>
        </header>
        {% endblock %}

        {% if messages %}
        <ul class="messages pull-right">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div id="loading-message">
            Loading...
        </div>

        {% block banner %}{% endblock %}

        {% block content %}
            <div class="{% block container_class %}container main-container{% endblock %}" id="{% block container_id %}{% endblock %}">
                {% block main %}{% endblock %}
                {% if request.path == "/users/management/" %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{% url 'home' %}"><i class="fa fa-chevron-left"></i> Back to website</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {# Footer - copyright, some navigation links, privacy, et-cetera. #}
        {% block footer %}
        <footer class="footer">
            {% comment %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">CONTACT US</div>
                    <div class="col-sm-3">TERMS OF USE</div>
                </div>
            </div>
            {% endcomment %}
            <div class="container">
                <div class="pull-left">
                    © 2015-2017 ACE Ed-Venture Studio Sdn. Bhd. (1018085-P). All rights reserved.
                </div>

                <div class="pull-right">
                    <small>
                        Need help? Just drop us an email at support@chemcaper.com
                    </small>
                </div>

                {% if request.user.is_authenticated and request.user.is_superuser %}
                    <a href="{% url 'test_send_email' %}">test_send_email</a>
                {% endif %}

                {% comment %}
                <div class="pull-right">
                    Disclaimer | Privacy Policy | About Ace-EdVenture Studio | About ChemCaper Pilot Program | Contact Us
                </div>
                {% endcomment %}
            </div>

        </footer>
        {% endblock %}

        {# Put our own scripts here #}
        {% block user_scripts %}
            <script src="{% static 'js/global.js' %}"></script>
            <script src="{% static 'js/canvas_draw.js' %}"></script>
            <script src="{% static 'js/redeem.js' %}"></script>
        {% endblock %}

        {% block extra_js %}
        <script type="text/javascript">
            var CHECK_REDEEM_CODE = "{% url 'users_ajax_check_redeem_code' %}";
            var UPDATE_CART_ITEM_URL = "{% url 'store_update_cartitem' %}";
            var CREATE_PAYMENT_URL  = "{% url 'store_create_payment' %}";
            var EXECUTE_PAYMENT_URL = "{% url 'store_execute_payment' %}";
            var PAYPAL_MODE = "{{ PAYPAL_MODE }}";
            
        </script>
        {% endblock %}

        {% block share_dialog %}
        {% endblock %}

        {% comment %}
        {% if not DEBUG %}
        {# Put Google Analytics and Facebook scripts here #}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-104738562-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        {% endcomment %}

        {% block end_body %}{% endblock %}
    </body>
</html>
