{% extends "base.html" %}
{% load i18n staticfiles %}

{% block main %}
<h3>Download ChemCaper<sup>&reg;</sup></h3>
<div class="row">
    <div class="col-md-12">
        {% if status == 'success' %}
        <a href="">You are eligible to download ChemCaper<sup>&reg;</sup> Demo.</a>
        {% elif status == 'failed' %}
        This link is invalid.
        {% elif status == 'expired' %}
        Your invitation link has expired.
        {% endif %}
    </div>
</div>
{% endblock %}