{% extends "base.html" %}
{% load i18n staticfiles form_utils %}

{% block body_class %}home-body{% endblock %}

{% block container_class %}main-container{% endblock %}
{% block container_id %}index-content{% endblock %}

{% block main %}
{# USP 1 - 3 #}
<div class="white-row section-row padding-top">
    <div class="container">
        <div class="col-sm-12">
            <h1 class="text-yellow">Frequently Asked Questions</h1>
            <h2 style="text-align:left;">1. What is the purpose of ChemCaper<sup>&reg;</sup> EDU Account?</h2>
            <p>ChemCaper<sup>&reg;</sup> EDU Account is for schools and educators to purchase ChemCaper licenses <i>(also known as Ed-Venture Passes)</i> in bulk, and manage the accounts via the <strong>Dashboard</strong>.</p>
            <p><strong>Schools</strong> and <strong>educators</strong> may sign up for an EDU Account, then log in to the Dashboard to purchase additional licenses. After that, educators may assign each license to each of their students and oversee their progress.</p>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12 text-center">
            <h2 style="text-align:left;">2. What are the differences between Ed-Venture Passes under EDU Account &amp; Paid App?</h2>
            <table class="table faq-table">
                <thead>
                    <tr>
                        <th class="no-border"></th>
                        <th class="header-yellow">EDU Account</th>
                        <th class="header-green">Paid App</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Compulsory login to game?</td>
                        <td>Yes</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Access to which versions?</td>
                        <td>EDU versions only:
                            <br>
                            <a href="https://ace-ed-venture-studio.itch.io/chemcaper-act-1-petticles-in-peril-school">EDU for PC</a>
                            <br>
                            <a href="https://play.google.com/store/apps/details?id=com.aceedventure.chemcaper.edu">EDU for Android</a>
                        </td>
                        <td>Paid App versions only:
                            <br>
                            <a href="https://play.google.com/store/apps/details?id=com.aceedventure.chemcaper.act1&hl=en">Android</a>
                            <br>
                            <a href="https://itunes.apple.com/my/app/chemcaper/id968232959?mt=8">iOS</a>
                            <br>
                            <a href="http://store.steampowered.com/app/592990/ChemCaper_Act_I__Petticles_in_Peril/">Steam</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Obtained by?</td>
                        <td>Invited by EDU Account holder (Schools and educators)</td>
                        <td>Self sign-up from <a href="https://chemcaper.com">ChemCaper website</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}