{% extends "base.html" %}
{% load i18n staticfiles form_utils %}

{% block body_class %}home-body{% endblock %}

{% block banner %}
    {# <div class="banner" style="background-image: url('../static/img/classroom_tablet.jpg');"> #}
    <div class="banner" style="background-image: url('../static/img/img_landing_page.jpg');">
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>Make Learning Science an Ed-Venture</h1>
                <h3>You're a passionate teacher looking for fun ways to teach. Imagine using a learning platform that gets 80% of your students feeling excited about learning science.</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="btn-sm-left-container col-sm-6">
                    <a class="btn btn-lg btn-green btn-sm-left btn-shadow" href="{% url 'signup_login' %}">SIGN UP FOR FREE!</a>
                </div>
                <div class="btn-sm-right-container col-sm-6">
                    <a class="btn btn-lg btn-yellow btn-sm-right btn-shadow" href="{% url 'store' %}">BUY CHEMCAPER<sup>&reg;</sup></a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}

{% block container_class %}main-container{% endblock %}
{% block container_id %}index-content{% endblock %}

{% block main %}
{# FEATURED #}
<div class="gray-row section-row">
    <div class="container featured-container">
        <section class="featured-section">
            <span class="copy">Featured in</span>
            <img src="{% static 'img/img_feature_bloomberg.png' %}" class="featured-img bloomberg">
            <img src="{% static 'img/img_feature_Fox.png' %}" class="featured-img fox">
            <img src="{% static 'img/img_feature_CBS8.png' %}" class="featured-img cbs8">
            <img src="{% static 'img/img_feature_Reuters.png' %}" class="featured-img reuters">
            <img src="{% static 'img/img_feature_YahooFinance.png' %}" class="featured-img yahoofinance">
            <img src="{% static 'img/img_feature_cliqist.png' %}" class="featured-img cliqist">
            <img src="{% static 'img/img_feature_unity.png' %}" class="featured-img unity">
            <img src="{% static 'img/img_feature_gamasutra.png' %}" class="featured-img gamasutra">
        </section>
    </div>
</div>


{# USP 1 - 3 #}
<div class="white-row section-row">
    <div class="container">
        <div class="col-sm-4 text-center usp-cell">
            <h3>Meaningful Learning</h3>
            <img src="{% static 'img/img_MeaningfulLearning.png' %}" class="cell-img">
            <p class="text-center">
                ChemCaper frees you from groping for a compelling reason that your student HAS to care about how to store reactive metals or draw a centrifuge.
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <h3>Increased Engagement</h3>
            <img src="{% static 'img/img_IncreasedEngagement.png' %}" class="cell-img">
            <p class="text-center">
                Help your students spend more time knowing and less time memorizing. 
                <br><br>
                ChemCaper's game mechanics encourages learning through interaction, exploration, and trial and error. 
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <h3>Creates Class Time</h3>
            <img src="{% static 'img/img_ClassTime.png' %}" class="cell-img">
            <p class="text-center">
                ChemCaper is designed for your students to learn outside of the classroom freeing you to teach them real world issues beyond the compulsory syllabus.
            </p>
        </div>
    </div>
</div>


{# Where is Chemistry #}
<a name="howitworks" class="anchor" style="top: -71px;"></a>
<div class="green-row section-row">
    <div class="container">
        <div class="col-sm-12">
            <h2>Where is the Chemistry in ChemCaper<sup>&reg;</sup> EDU?</h2>
        </div>
    </div>
</div>


{# Chemistry USP #}
<div class="white-row section-row">
    <div class="container" style="padding-bottom: 0px;">
        <div class="col-sm-4 col-sm-offset-2 text-center usp-cell">
            <h3>Chemical Bonding</h3>
            <h4>Petticle Bonding</h4>
            <img src="{% static 'img/img_why_bonding.png' %}" class="cell-img fixed-height">
            <p class="text-center">
                The intangible made visible. Easily anchor your teaching and your students' understanding of how it works!
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <h3>Periodic Table</h3>
            <h4>World Map</h4>
            <img src="{% static 'img/img_why_periodic_table.jpg' %}" class="cell-img fixed-height">
            <p class="text-center">
                Retention in the long term. Ease of teaching elements and their groups will be at your fingertips.
            </p>
        </div>
    </div>

    <div class="container" style="padding-top: 0px;">
        <div class="col-sm-4 text-center usp-cell">
            <h3>Separating Techniques</h3>
            <h4>Potion Making</h4>
            <img src="{% static 'img/img_why_separation.png' %}" class="cell-img fixed-height">
            <p class="text-center">
                Safe, repeatable, purposeful experiments. Say goodbye groping for reasons why they need to learn this!
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <h3>Draw Apparatus</h3>
            <h4>Tracing Mini Game</h4>
            <img src="{% static 'img/img_why_tracing.png' %}" class="cell-img fixed-height">
            <p class="text-center">
                Turn your students into masters of apparatus drawing minus the pain of pointless repetition!
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <h3>Elements &amp; Compounds</h3>
            <h4>Petticles</h4>
            <img src="{% static 'img/img_why_elements_compounds.png' %}" class="cell-img fixed-height">
            <p class="text-center">
                Cute atoms and molecules that become loveable and memorable to boys and girls alike.
            </p>
        </div>
    </div>
</div>


{# Why Students Love ChemCaper #}
<a name="testimonials" class="anchor" style="top: -72px;"></a>
<div class="yellow-row section-row">
    <div class="container">
        <div class="col-sm-12">
            <h1>
                Why Students Love ChemCaper
            </h1>
        </div>
    </div>
</div>


{# Testimonials #}
<div class="white-row section-row">
    <div class="container">
        <div class="col-sm-12 text-center">
            <h2>They Used ChemCaper to Study for O-Levels</h2>
        </div>
    </div>

    <div class="container no_topbot_padding">
        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_testimonial_kahyan.jpg' %}" class="cell-img round-img">
            <p class="text-center">
                "It's extremely adorable. The characters are like little fighting warriors. Whatever apparatus, experiments and stuff we are doing, it's actually applicable to the real world and what we are studying for IGCSE"
            </p>

            <p class="text-center text-bold">
                Kah Yan, 16
            </p>
        </div>

        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_testimonial_kahmun.jpg' %}" class="cell-img round-img">
            <p class="text-center">
                "ChemCaper gets straight to the point. You know how a test tube is supposed to be used. In a textbook they'll tell you it's a test tube but you may not be clear about what it's for"
            </p>

            <p class="text-center text-bold">
                Kah Mun, 16
            </p>
        </div>
    </div>

    <div class="container no_topbot_padding">
        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_testimonial_dharan.jpg' %}" class="cell-img round-img">
            <p class="text-center">
                "A lot of people don't find "science" entertaining but ChemCaper actually makes science entertaining!"
            </p>

            <p class="text-center text-bold">
                Dharan, 12
            </p>
        </div>

        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_testimonial_nikkhael.jpg' %}" class="cell-img round-img">
            <p class="text-center">
                "I actually wanted to know more about our future, since in secondary school I am going to be learning chemistry. So, might as well start now"
            </p>

            <p class="text-center text-bold">
                Nikkhael, 12
            </p>
        </div>
    </div>
</div>


{# MULTI AWARD #}
<a name="awards" class="anchor" style="top: -71px;"></a>
<div class="yellow-row section-row">
    <div class="container" style="padding-bottom: 0px;">
        <div class="col-sm-12 text-center">
            <h2>Multi Award Winning EDU Game</h2>
        </div>
    </div>

    <div class="container no_topbot_padding">
        <div class="col-sm-4 text-center usp-cell">
            <img src="{% static 'img/img_award_IMGA_SEA.png' %}" class="cell-img">
            <p class="text-center text-bold">
                IMGA (SEA) 2016
            </p>

            <p class="text-center">
                International Mobile Games Award
                <br>
                <strong>Best Meaningful Play</strong>
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <img src="{% static 'img/img_award_IMGA_GLOBAL.png' %}" class="cell-img" style="margin-top: 8px; margin-bottom: 20px;">
            <p class="text-center text-bold">
                IMGA (Global) 2016
            </p>

            <p class="text-center">
                International Mobile Games Award
                <br>
                <strong>
                    Best Meaningful Play
                    <br>
                    - Nominee
                </strong>
            </p>
        </div>

        <div class="col-sm-4 text-center usp-cell">
            <img src="{% static 'img/img_award_APICTAMSC.png' %}" class="cell-img" style="margin-top: 14px; margin-bottom: 20px;">
            <p class="text-center text-bold">
                APICTA 2016
            </p>

            <p class="text-center">
                Asia Pacific ICT Alliance Award
                <br>
                <strong>Best E-Learning</strong>
            </p>
        </div>
    </div>
</div>


{# See Why ChemCaper®EDU Works #}
<a name="whyitworks" class="anchor" style="top: -72px;"></a>
<div class="gray-row section-row">
    <div class="container vertical-align">
        <div class="col-sm-10">
            <h1>
                See Why ChemCaper<sup>&reg;</sup> EDU Works
            </h1>
        </div>
        <div class="col-sm-2" id="try-free-btn-container">
            <a class="btn btn-lg btn-green" href="{% url 'signup_login' %}">TRY IT FREE</a>
        </div>
    </div>
</div>


{# Certification #}
<div class="white-row section-row">
    <div class="container vertical-align" style="padding-bottom: 0px;">
        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_certify_kokoa.png' %}" class="cell-img">
        </div>

        <div class="col-sm-6 text-center usp-cell">
            <h3>KOKOA CERTIFIED</h3>
            <p class="text-center">
                The Internet has been abuzz with the wonders of Finnish Education. How does ChemCaper measure up by their standards?
            </p>
        </div>
    </div>

    <div class="container vertical-align no_topbot_padding">
        <div class="col-sm-6 col-sm-push-6 text-center usp-cell">
            <img src="{% static 'img/img_certify_EAS.png' %}" class="cell-img">
        </div>

        <div class="col-sm-6 col-sm-pull-6 text-center usp-cell">
            <h3>5 STAR RATING</h3>
            <p class="text-center">
                "A full-blown, highly-developed mega game that mixes in Chemistry to form a solution that is like none other!" - Educational App Store
            </p>
        </div>
    </div>

    <div class="container vertical-align" style="padding-top: 0px;">
        <div class="col-sm-6 text-center usp-cell">
            <img src="{% static 'img/img_ceertify_cusu.png' %}" class="cell-img">
        </div>

        <div class="col-sm-6 text-center usp-cell">
            <h3>BEST PRACTICE PIONEER</h3>
            <p class="text-center">
                Would you be more comfortable knowing that ChemCaper was produced by schools that have been featured in the Cambridge University Student Union four years running?
            </p>
        </div>
    </div>
</div>


{# GET STARTED FOR FREE TODAY! #}
<div class="green-row section-row">
    <div class="container">
        <div class="col-sm-12">
            <h1>GET STARTED FOR FREE TODAY!</h1>
        </div>
    </div>

    <div class="container no_topbot_padding">
        <div class="col-sm-12 text-center">
            <a href="{% url 'signup_login' %}" class="btn btn-lg btn-yellow" id="btn-signup-now">SIGN UP FOR YOUR FREE TRIAL!</a>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <p class="text-center">
                No credit card required!
            </p>
            <p class="text-center">
                Cancel anytime.
            </p>
        </div>
    </div>
</div>
{% endblock %}