{% extends "base.html" %}
{% load i18n staticfiles form_utils %}

{% block body_class %}home-body{% endblock %}

{% block banner %}
    <div class="banner" style="background-image: url('../static/img/classroom_tablet.jpg');">
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>CHEMCAPER<sup>&reg;</sup> FOR SCHOOLS</h1>
                <h3>Empower your students by bringing our award winning game into your Chemistry classes!</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="btn-sm-left-container col-sm-6">
                    <a class="btn btn-lg btn-green btn-sm-left" href="{% url 'signup_login' %}">START YOUR TRIAL</a>
                </div>
                <div class="btn-sm-right-container col-sm-6">
                    <a class="btn btn-lg btn-yellow btn-sm-right" href="{% url 'store' %}">BUY CHEMCAPER<sup>&reg;</sup></a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}

{% block container_class %}main-container{% endblock %}
{% block container_id %}index-content{% endblock %}

{% block main %}
<div class="container">
    <div class="container-fluid">
        <div class="col-sm-12">
            <h1 class="welcome-header">Welcome!</h1>
            <p class="welcome-text">
                We wanted to enable passionate teachers and schools
                <br><i>- who go the extra mile to make their lessons interesting -</i><br>
                to use ChemCaper<sup>&reg;</sup> in the classrooms.
            </p>

            <p class="welcome-text-lg">
                Hence, we bring you ChemCaper<sup>&reg;</sup> EDU.
            </p>
        </div>
    </div>
</div>

<div class="cc-bg-row section-row">
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1>What is ChemCaper<sup>&reg;</sup> EDU?</h1>
                <p>
                    It is basically a way for teachers and schools to use ChemCaper<sup>&reg;</sup><br>in their classrooms more easily.
                </p>

                <p>
                    It comes with support in the form of a<br>Teacher Care Kit and on-demand tech support.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="gray-row">
    <div class="container centered-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>
                    It has two parts:
                </h2>

                <p>
                    <span class="highlight-text">Part 1</span class="highlight-text"> involves signing up for a free trial to see if ChemCaper<sup>&reg;</sup> is right for your school/classroom.
                </p>

                <p>
                    <span class="highlight-text">Part 2</span class="highlight-text"> is a bulk purchase programme that enable your students to get ChemCaper<sup>&reg;</sup> at a lower cost.
                    <br>
                    <strong>We believe that education doesn’t have to be expensive.</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="white-row">
    <div class="container centered-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1>How will ChemCaper<sup>&reg;</sup> help me in the classroom?</h1>

                <p class="p-text-lg">
                    If you are:
                </p>
                <ul>
                    <li>Innovating the way you teach</li>
                    <li>Looking for ways to re-engage bored students</li>
                    <li>Looking for ways to make your lessons fun</li>
                    <li>A believer of the benefits of experiential and immersive learning</li>
                    <li>Staying current by using technology in a classroom/school</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="yellow-row section-row">
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h1>
                    THEN THIS IS FOR YOU!
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="gray-row">
    <div class="container centered-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>With all that technology though…<br><small><i>it’s quite scary.</i></small></h2>
                <br>
                <p>
                    Anything unfamiliar can be scary and we completely understand that being teachers ourselves.
                </p>

                <p>
                    At the end of the day though… What is more important?
                </p>

                <p>
                    Your comfort doing something familiar that doesn’t engage your students or work in the long term?
                </p>

                <p>
                    OR doing something uncomfortable (at first) that engages your students and works in the long term?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="white-row">
    <div class="container article-content">
        <div class="container-fluid row-eq-height">
            <div class="col-sm-6 image-col">
            </div>
            <div class="col-sm-6">
                <p>
                    Some of the magic we’ve seen happen with the teachers in the schools that have adopted ChemCaper<sup>&reg;</sup> include:
                </p>
                <ul>
                    <li>Students stepping up to support their teachers which gives them a confident boost</li>
                    <li>A stronger bond between student and teacher when the teacher asks for help</li>
                </ul>

                <p>
                    Using technology in the classroom enables you to keep your lessons current as the world is shifting to more digital states.
                </p>

                <p>
                    <strong>Here’s proof:</strong><br>
                    In the US, the shift to digital continues to gain momentum. The survey data shows that 45.4% of the Science classrooms are now “high digital”, with another 25.7% “medium digital”. That leaves just 28.8% at the “low digital” level.
                </p>

                <p>
                    <span class="highlight-text">Best of all, we have support for you in the form of a Teacher Care Kit and videos by our Academic Head Teacher Melinda!</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="green-row section-row">
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>How do I know if this is going to be worth my while?</h2>
            </div>
        </div>
    </div>
</div>

<div class="white-row">
    <div class="container article-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>
                    Here are the chemistry concepts ChemCaper<sup>&reg;</sup> has to offer:
                </h2>

                <img src="{% static 'img/background.jpg' %}" width='100%'>
            </div>
        </div>
    </div>
</div>

<div class="gray-row">
    <div class="container centered-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>Engagement and Growth</h2>
                <p>
                    In a recent study by SRI International, games help disengaged students improve in their learning by a whopping 25%.
                    <br>Students who are already engaged in the classroom improved on an average of 12%.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="white-row">
    <div class="container article-content">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h2>Multi Award and Industry Recognized Game</h2>

                <img src="{% static 'img/cc_awards.jpg' %}" width='100%'>

                <h3 class="text-left">ChemCaper<sup>&reg;</sup> has been recognized by the following real world industries:</h3>

                <h4>Game industry recognition:</h4>
                <ul>
                    <li>1st International Mobile Games Award (SEA winner) - Best Meaningful Play</li>
                    <li>13th International Mobile Games Award Global (Nominee)</li>
                </ul>

                <h4>Business industry recognition:</h4>
                <ul>
                    <li>APICTA Malaysia (Winner) - Best E-Learning Category</li>
                    <li>APICTA ASIA (Winner) - Best E-Learning Category</li>
                </ul>

                <h3 class="text-left">ChemCaper<sup>&reg;</sup> has also been evaluated for the educational value it delivers to players:</h3>
                <ul>
                    <li>
                        5-Star Rating by Educational App Store<br>
                        <a href="http://www.educationalappstore.com/app/chemcaper">Check out the teacher review</a>
                    </li>
                    <li>
                        Certification by Kokoa Education Standard - Finland.<br>
                        <a href="https://www.kokoastandard.com/chemcaper">Check out their evaluation</a>
                    </li>
                </ul>

                <p>
                    INSERT IMAGE (INFOGRAPHIC) HERE
                </p>
            </div>
        </div>
    </div>
</div>

<div class="green-row section-row">
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h3><i><del>Still not</del> convinced?</i></h3>
                <h2>Come have a taste of using ChemCaper<sup>&reg;</sup> in your classroom!</h2>
            </div>

            <div class="col-sm-12 text-center extra-top-padding">
                <a href="{% url 'signup_login' %}" class="btn btn-lg btn-yellow">Sign up for your free trial here!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}