{% load i18n %}
<div class="modal-dialog {% block modal_dialog_class %}{% endblock %}">
    <div class="modal-content {% block modal_content_class %}{% endblock %}">
        <div class="modal-header {% block modal_header_class %}{% endblock %}">
            {% block modal_head %}
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{% block modal_title %}{{ object }}{% endblock %}</h4>
            {% endblock %}
        </div>
        <div class="modal-body {% block modal_body_class %}{% endblock %}">
            {% block modal_body %}
                {% block modal_body_content %}{% endblock %}
            {% endblock %}
        </div>
        {% block modal_footer_container %}
        <div class="modal-footer {% block modal_footer_class %}{% endblock %}">
            {% block modal_footer %}
                {% block modal_buttons %}
                <a href="{{ object.get_absolute_url }}" class="btn btn-default pull-right">{% trans "View" %}</a>
                {% endblock %}

                {% block modal_close_buttons %}
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                {% endblock %}
            {% endblock %}

            {% block modal_javascript %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>