{% extends "base.html" %}
{% load i18n staticfiles %}

{% block container_id %}thankyou-content{% endblock %}

{% block body_class %}home-body extra-padding{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            {% if is_already_activated %}
                <h1>THANK YOU</h1>
                <h3>Your license has been activated.</h3>
                {% if activated_user.masteruser and activated_user.masteruser.schooluser %}
                <p>Please download the game via the download link in your email (the same email that you clicked the activation link from).</p>
                <p>Install and launch the game.</p>
                <p>You may then log in to the game with your username.</p>
                {% else %}
                <p>You may log in to the game with your username.</p>
                {% endif %}
            {% else %}
                {% if activated_user %}
                    <h1>THANK YOU</h1>
                    <h3>Your license has been activated.</h3>
                    {% if activated_user.masteruser and activated_user.masteruser.schooluser %}
                    <p>Please download the game via the download link in your email (the same email that you clicked the activation link from).</p>
                    <p>Install and launch the game.</p>
                    <p>You may then log in to the game with your username.</p>
                    {% else %}
                    <p>You may log in to the game with your username.</p>
                    {% endif %}
                {% else %}
                    <h1>FAILED TO ACTIVATE LICENSE</h1>
                    <h3>This activation link is invalid.</h3>
                    <p>Please <a href="{% url 'license_redeem' %}">redeem your license again.</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}