{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body_class %}home-body extra-padding{% endblock %}
{# {% block container_id %}thankyou-content{% endblock %} #}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Thank You</h1>
            <h3 class="text-center">You may now log in to the game using the username and password you've just set.</h3>
            <p class="text-center">A confirmation email has been sent to you as well.</p>
        </div>
    </div>
{% endblock %}