{% extends "base.html" %}
{% load i18n staticfiles form_utils %}
{% block container_id %}quiz_report{% endblock %}
{% block body_class %}user-body{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="page-title"><h1>REPORT</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="page-title"><h2>{{ object.full_name }}</h2></div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {% if object.last_activity %}
            Last Activity: {{ object.get_last_activity }} ago
        {% else %}
            {% if object.auth_user.is_active %}
                License is activated but has not logged in before.
            {% else %}
                License is not activated yet.
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>Username: {{ object.username }}</div>
        <div>Email: {{ object.email }}</div>
    </div>
</div>

<ul class="nav nav-pills nav-pills-yellow">
    <li class="pull-left active">
        <a data-toggle="tab" href="#tab_sittings" class="btn btn-yellow">
            SESSION RESULTS
        </a>
    </li>
    <li class="pull-left">
        <a data-toggle="tab" href="#tab_overall" class="btn btn-yellow">
            OVERALL RESULTS
        </a>
    </li>
</ul>

<div class="tab-content">
    <div id="tab_sittings" class="tab-pane fade in active">
        <div class="container">
            {% for session in object.show_session_report.sessions %}
            <div class="session-container">
                <div class="row">
                    <div class="col-xs-3">
                        {{ session.game }} ({{ session.platform }})
                    </div>
                    <div class="col-xs-3">
                        Session #{{ session.num }} ({{ session.is_completed|yesno:"Completed,Incomplete" }})
                    </div>

                    <div class="col-xs-3">
                        Started on {{ session.created|date:"d/m/Y h:i a" }}
                    </div>

                    <div class="col-xs-3">

                    </div>
                </div>

                {% for sitting in session.sitting_set.all %}
                <div class="row">
                    <div class="col-md-12">
                         <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading panel-toggle-whole">
                              {# <h4 class="panel-title"> #}
                                <a data-toggle="collapse" href="#{{ sitting.id }}">{{ sitting.quiz }}</a>
                              {# </h4> #}
                            </div>
                            <div id="{{ sitting.id }}" class="panel-collapse collapse">
                              <div class="panel-body">
                                {% for data in sitting.show_answers %}
                                    <strong>{{ forloop.counter }}. {{ data.question }}</strong>

                                    {% if data.question.q_type == 1 %}
                                        <p>{{ data.answer }}</p>

                                    {% elif data.question.q_type == 2 or data.question.q_type == 3 %}
                                        <ul class="quiz-answer-list">
                                        {% for choice in data.choices %}
                                            <li class="{% if choice.is_correct_answer and choice in data.answer %}text-green{% elif choice.is_correct_answer and not choice in data.answer %}text-yellow{% elif not choice.is_correct_answer and choice in data.answer %}text-red{% endif %}">

                                                {% if choice.is_correct_answer and choice in data.answer %}
                                                    <i class="fa fa-check"></i>
                                                {% elif choice.is_correct_answer and not choice in data.answer %}
                                                    <i class="fa fa-check-circle"></i>
                                                {% elif not choice.is_correct_answer and choice in data.answer %}
                                                    <i class="fa fa-times"></i>
                                                {% else %}
                                                    <i class="fa fa-circle-thin"></i>
                                                {% endif %}

                                                {{ choice.content }}

                                                {% if choice.is_correct_answer and choice in data.answer %}
                                                    (Answered Correctly)
                                                {% elif choice.is_correct_answer and not choice in data.answer %}
                                                    (Correct Answer)
                                                {% elif not choice.is_correct_answer and choice in data.answer %}
                                                    (Answered Wrongly)
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <div>
                                            <img src="{{ data.answer.url }}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="tab_overall" class="tab-pane fade in">
        <div class="row">
            <div class="col-md-12">
                Total Sessions: {{ object.show_session_report.sessions.count }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                Total Quizzes Taken: {{ object.show_session_report.sittings.count }}
            </div>
        </div>
        {% comment %}
        {% for report_obj in object.show_report %}
            <h4>{{ report_obj.quiz }}</h4>
            {% for q_data in report_obj.report %}
                <p><strong>
                    {{ forloop.counter }}. {{ q_data.question }}
                </strong></p>
                {% if q_data.question.q_type == 1 %}
                    {% for a_data in q_data.answers %}
                        <p>
                            {{ a_data.answer }} ({{ a_data.count }}/{{ report_obj.sittings }})
                        </p>
                    {% endfor %}
                {% elif q_data.question.q_type == 2 or q_data.question.q_type == 3 %}
                    <ul>
                    {% for a_data in q_data.answers %}
                        <li>
                            {{ a_data.answer.content }} ({{ a_data.count }}/{{ report_obj.sittings }}) {% if a_data.answer.is_correct_answer %}correct answer{% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div style="position:relative;">
                    {% for a_data in q_data.answers %}
                        <img src="{{ a_data.answer.url }}" style="position:{% if forloop.first %}relative{% else %}absolute{% endif %}; z-index: {{ forloop.counter }}; top: 0; left: 0; opacity: 0.2; filter: alpha(opacity=20);">
                    {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% endcomment %}
    </div>
</div>


{% endblock %}

