{% extends "base.html" %}
{% load i18n staticfiles form_utils widget_tweaks %}

{% block body_class %}home-body extra-padding{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            {% if masteruser %}
            <h1>Activate your license</h1>
            <form action="" method="post" class="form-centered">
                {% csrf_token %}
                <h3>Hi, {{ masteruser.full_name }}</h3>
                <p>Please set your username and password.</p>
                {{ form|render }}
            </form>
            {% else %}
            <h1>Activation Link Expired</h1>
            <p>Please request for a new invitation link.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}