{% extends "base.html" %}
{% load i18n staticfiles %}

{% block container_id %}thankyou-content{% endblock %}

{% block body_class %}home-body extra-padding{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h1>Thank You</h1>
            <h3>Please click the verification link sent to your email to activate your license.</h3>
        </div>
    </div>
{% endblock %}