{% extends "base.html" %}
{% load i18n staticfiles form_utils widget_tweaks %}

{% block body_class %}home-body extra-padding{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <h1>Redeem your license</h1>
            <form action="" method="post" id="redeem_form" class="form-centered">
                {% csrf_token %}

                {% with form.redeem_code as field %}
                    <div{% if field.row_attrs %}{{ field.row_attrs }}{% else %} class="{% if field.field.required %}required{% else %}optional{% endif %}"{% endif %}>
                        {% with field_type=field|field_type|lower widget_type=field|widget_type|lower %}
                            <div class="row field-input-container">
                               <!--  <div class="col-sm-12 label-control">
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                        {% if field.field.required %}
                                            <span class="required-star">*</span>
                                        {% endif %}
                                    </label>
                                </div> -->
                                <div class="col-sm-12 field-control input-{{ widget_type }}">
                                    {{ field }}

                                    {% if field.help_text %}
                                        <span class="help-block"><i class="fa fa-info-circle"></i> {{ field.help_text }}</span>
                                    {% endif %}

                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                        <div class="field-errors-container">
                                            <div class="help-block error-block">
                                                <span class="fa fa-exclamation-triangle"></span> {{ error }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% endif %}

                                    <div class="redeem_response_container">
                                        <div id="redeem_code_response_success" class="hide">
                                            <i class="fa fa-check" style="color:green;"></i> License can be redeemed.
                                        </div>
                                        <div id="redeem_code_response_fail" class="hide">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                {% endwith %}

                    {% with form.full_name as field %}
                        {% include "form_utils/fields_as_lis.html" %}
                    {% endwith %}

                    {% with form.username as field %}
                        {% include "form_utils/fields_as_lis.html" %}
                    {% endwith %}

                    {% with form.email as field %}
                        {% include "form_utils/fields_as_lis.html" %}
                    {% endwith %}

                    <input class="btn btn-lg btn-green" id="submit-button" type="submit" value="SUBMIT" style="border: none;"/>
            </form>
        </div>
    </div>
{% endblock %}