<form action="{% url 'register_form' %}" method="post" id="signup-form"  data-redirect="{% url 'register_thank_you' %}">
    {% csrf_token %}

    {% with form as fields %}
        {% for field in fields %}
            {% include "form_utils/fields_as_lis-nolabel.html" %}
        {% endfor %}
    {% endwith %}

    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

    <div class="row" style="margin-top: 1rem;">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <input class="btn btn-yellow ajaxformsubmit" type="submit" value="SIGN UP" />
        </div>
    </div>
</form>