{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body_class %}home-body extra-padding{% endblock %}

{% block container_id %}thankyou-content{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">YOUR CHEMCAPER<sup>&reg;</sup> EDU ACCOUNT HAS BEEN CREATED</h2>
      <p>Before we start, please activate your account by clicking on the activation link that is sent to your email.</p>
    </div>
</div>
{% endblock %}