{% extends "base.html" %}
{% load i18n staticfiles form_utils %}
{% block container_id %}license_management{% endblock %}
{% block body_class %}user-body{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li>
    {% if request.user.is_authenticated %}
        <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
    {% else %}
        <a href="{% url 'signup_login' %}" data-toggle="ajax_modal"><i class="fa fa-shopping-cart"></i></a>
    {% endif %}
</li>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="page-title col-sm-6">
                    <h1>LICENSES</h1>
                    <p>View and purchase your licenses here</p>
                </div>

                <div class="license-cta-btns-container col-sm-6 col-xs-12">
                    <div class="license-cta-btns">
                        <a class="btn btn-yellow" href="{% url 'store' %}"><i class="fa fa-shopping-cart"></i>  BUY LICENSES</a>
                    </div>

                    {% if allow_apply_trial %}
                    <div class="license-cta-btns">
                        <a class="btn btn-link a-green" href="{% url 'request_trial' %}">Try 1-month free</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="license-summary col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <h2>Summary</h2>
                    </div>

                    <div class="col-xs-2">
                        {# {% if request.user.is_superuser %} #}
                        <div class="license-options-container pull-right">
                            <div class="dropdown pull-right">
                                <button class="dropdown-toggle" type="button" id="license-options" data-toggle="dropdown">
                                    <span class="fa fa-ellipsis-v" style="font-size: large;"></span>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="license-options">
                                    <a role="menuitem" tabindex="-1" href="{% url 'export_licenses_as_csv' %}">Export Licenses as CSV</a>
                                    <a role="menuitem" tabindex="-1" href="{% url 'gamesession_csv_export' %}">Export Game Session Data as CSV</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {# START license numbers #}
                <div class="license-summary-numbers-container col-xs-4">
                    <div class="license-summary-numbers">
                        <span class="license-numbers-title">All Licenses</span>
                        <br>
                        <span class="license-numbers-number">{{ object.get_all_accounts_invited.count }} / {{ object.get_all_accounts.count }}</span> Invited
                    </div>
                </div>
                <div class="license-summary-numbers-container col-xs-4">
                    <div class="license-summary-numbers">
                        <span class="license-numbers-title">Full Version</span>
                        <br>
                        <span class="license-numbers-number">{{ object.get_full_accounts_invited.count }} / {{ object.get_full_accounts.count }}</span> Invited
                    </div>
                </div>
                <div class="license-summary-numbers-container col-xs-4">
                    <div class="license-summary-numbers">
                        <span class="license-numbers-title">Demo Version</span>
                        <br>
                        <span class="license-numbers-number">{{ object.get_trial_accounts_invited.count }} / {{ object.get_trial_accounts.count }}</span> Invited
                    </div>
                </div>
                {# END license numbers #}
            </div>

            <div class="license-search-form-container col-xs-12">
                <form type="get" action=".">
                    <div class="license-search-box col-xs-10"><input id="search_box" type="text" name="search_box" placeholder="Search for a user..." value="{{ search_query }}"></div>
                    <div class="license-search-submit col-xs-2"><button id="search_submit" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></div>
                </form>
            </div>

            {# START license table #}
            {% include 'users/includes/schooluser_management_table.html' %}
            {# END license table #}
        </div>
    </div>
{% endblock %}