{% extends "base.html" %}
{% load i18n staticfiles cc_tags %}

{% block body_class %}user-body{% endblock %}

{% block extra_nav_items %}
{% url 'cart' as cart_url %}
<li>
    {% if request.user.is_authenticated %}
        <a href="{{ cart_url }}"><i class="fa fa-shopping-cart"></i>{% if cartitems %} {{ cartitems.count }}{% endif %}</a>
    {% else %}
        <a href="{% url 'signup_login' %}" data-toggle="ajax_modal"><i class="fa fa-shopping-cart"></i></a>
    {% endif %}
</li>
{% endblock %}


{% block main %}
<form action="." method="post">
    {% csrf_token %}
    <h1>COMPLETE YOUR PROFILE</h1>

    <div class="row">
        <div class="col-xs-12">
            {% if form.full_name.initial %}
                {% with fieldname="Full Name" field_value=form.full_name.initial field=form.full_name %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.full_name as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.position_fk.initial %}
                {% with fieldname="Position" field_value=form.position_fk.field|convert_fk_to_str:form.position_fk.initial field=form.position_fk %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.position_fk as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.school.initial %}
                {% with fieldname="School Name" field_value=form.school.initial field=form.school %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.school as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.school_type.initial %}
                {% with fieldname="Type of School" field_value=form.school_type.field|convert_fk_to_str:form.school_type.initial field=form.school_type %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.school_type as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.curriculums.initial %}
                {% with fieldname="Curriculum" field_value=form.curriculums.initial|convert_queryset_to_str field=form.curriculums %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.curriculums as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.state.initial %}
                {% with fieldname="State" field_value=form.state.initial field=form.state %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.state as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.country.initial %}
                {% with fieldname="Country" field_value=form.country.initial field=form.country %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.country as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}

            {% if form.total_students_num.initial %}
                {% with fieldname="Total Number of Students" field_value=form.total_students_num.initial field=form.total_students_num %}
                    {% include "form_utils/fields_as_lis_display.html" %}
                {% endwith %}
            {% else %}
                {% with form.total_students_num as field %}
                    {% include "form_utils/fields_as_lis.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <br><br>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <input class="btn btn-green" type="submit" value="SUBMIT" />
        </div>
    </div>
</form>

{% endblock %}