{% extends "base.html" %}
{% load i18n staticfiles cc_tags %}

{% block container_class %}container main-container schooluser-detail{% endblock %}

{% block body_class %}user-body{% endblock %}


{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1>MY PROFILE</h1>
                <p class="row">
                    <span class="col-xs-4"><strong>Name :</strong></span>
                    <span class="col-xs-8">{{ object.full_name }}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>{% get_verbose_field_name object "email" %} :</strong></span>
                    <span class="col-xs-8">{{ object.email }}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>{% get_verbose_field_name object "school" %} :</strong></span>
                    <span class="col-xs-8">{{ object.school|default_if_none:"-" }}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>{% get_verbose_field_name object "school_type" %} :</strong></span>
                    <span class="col-xs-8">{{ object.school_type|default_if_none:"-" }}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>{% get_verbose_field_name object "curriculums" %} :</strong></span>
                    <span class="col-xs-8">{% if object.get_curriculums_str %}{{ object.get_curriculums_str }}{% else %}-{% endif %}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>Location :</strong></span>
                    <span class="col-xs-8">{% if object.show_full_address %}{{ object.show_full_address }}{% else %}-{% endif %}</span>
                </p>
                <p class="row">
                    <span class="col-xs-4"><strong>{% get_verbose_field_name object "position_fk" %} :</strong></span>
                    <span class="col-xs-8">{{ object.position_fk|default_if_none:"-" }}</span>
                </p>
            </div>
        </div>
    </div>

    {% if not object.is_profile_complete %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'schooluser_update' %}" class="btn btn-green">Complete your profile</a>
        </div>
    </div>
    {% endif %}
{% endblock %}