{% extends "base.html" %}
{% load i18n staticfiles form_utils %}

{% block body_class %}home-body{% endblock %}

{% block banner %}
    <div class="banner" style="background-image: url('../../../../static/img/cc_awards.jpg');">
        <div class="container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1>CHEMCAPER<sup>&reg;</sup> EDU ACCOUNT</h1>
                <h3>Sign up today to buy ChemCaper<sup>&reg;</sup>, <br>or request for a free trial to try it out with your students!</h3>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            <p>We are excited to have you on board this <span style="color: #45966A;">#edventure</span>!</p>
            <p>Go ahead and click the link below.</p>
            <p>See you on the other side!</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-2"></div>
        <div class="container-fluid col-sm-8" id="index-signup-login-tab">
            <ul class="nav nav-pills nav-pills-yellow" id="signup-login-buttons-container">
                <li class="pull-left active" id="btn-signup-container">
                    <a data-toggle="tab" href="#tab_signup" class="btn btn-yellow" id="btn-signup">
                        SIGN UP
                    </a>
                </li>
                <li class="pull-left" id="btn-login-container">
                    <a data-toggle="tab" href="#tab_login" class="btn btn-yellow" id="btn-login">
                        LOG IN
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tab_signup" class="tab-pane fade in form-container active">
                    {% with signup_form as form %}
                        {% include "users/register_form.html" %}
                    {% endwith %}
                </div>

                <div id="tab_login" class="tab-pane fade in form-container">
                    {% with login_form as form %}
                        {% include "registration/login.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <hr>
            <h2>
            What are the differences between ChemCaper<sup>&reg;</sup> EDU and the paid version of ChemCaper<sup>&reg;</sup>?
            </h2>
            <a href="{% url 'faq' %}" class="btn btn-success btn-lg">Tell me about it</a>
        </div>
    </div>

{% endblock %}