<table class="table table-bordered">
    <thead>
        <tr class="row">
            <th class="col-xs-1 text-center"></th>
            <th class="col-xs-8 text-center">Item</th>
            <th class="col-xs-2 text-center">Quantity</th>
            <th class="col-xs-2 text-center">Price</th>
            <th class="col-xs-2 text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cartitems %}
        <tr class="row cartitem-row">
            <td class="col-xs-1 text-center">
                <a href="" data-href="{% url 'store_remove_cartitem' %}?cartitem={{ item.id }}" class="btn btn-default remove-cartitem-btn"><i class="fa fa-remove"></i></a>
            </td>
            <td class="col-xs-5">
                {{ item.product.title }}
            </td>
            <td class="col-xs-2">
                <input type="number" class="input-cart-qty" data-cartitem="{{ item.id }}" value="{{ item.qty }}" min='1'>
            </td>
            <td class="col-xs-2 text-right">
                {{ item.product.get_formatted_price }}
            </td>
            <td class="col-xs-2 text-right cartitem-total">
                {{ item.get_formatted_total }}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">There are no items in your cart.</td>
        </tr>
        {% endfor %}

        <tr class="row">
            <td colspan="4" class="col-xs-10 text-right">Total</td>
            <td id="total_price" class="col-xs-2 text-right" data-amount="{{ grandtotal.amount }}">{{ grandtotal }}</td>
        </tr>

    </tbody>
</table>